<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="DesignerApplication"
         name="%ApplicationName">
      <application>
         <run
            class="org.eclipse.birt.report.designer.ui.rcp.DesignerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="BIRT"
         name="%ApplicationName"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.birt.report.designer.ui.rcp.DesignerApplication"
            name="BIRT Report Designer RCP">
         <property
               name="appName"
               value="BIRT Report Designer RCP"/>
         <property
               name="aboutImage"
               value="platform:/plugin/org.eclipse.birt.branding/images/about.png">
         </property>
         <property
               name="aboutText"
               value="BIRT: Business Intelligence Reporting Tool&#x0A;&#x0A;With BIRT you can create data visualizations, dashboards and reports&#x0A;that can be embedded into web applications and rich clients.&#x0A;&#x0A;BIRT is maintained by a small number of volunteers. Please consider&#x0A;contributing. The contribution guide can be found here:&#x0A;&#x0A;https://github.com/eclipse-birt/birt/blob/master/CONTRIBUTING.md&#x0A; &#x0A;&#x0A;BIRT is an open source project under control of the Eclipse Foundation&#x0A;&#x0A;- Support: https://github.com/eclipse-birt/birt/discussions&#x0A;- Issues: https://github.com/eclipse-birt/birt/issues&#x0A;- Website https://eclipse.org/birt&#x0A;- Source: https://github.com/eclipse-birt/birt&#x0A;&#x0A;&#x0A;&#x0A;Powered by the Eclipse Platform: https://eclipse.org/eclipse">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/org.eclipse.birt.branding/images/p16.png,platform:/plugin/org.eclipse.birt.branding/images/p32.png,platform:/plugin/org.eclipse.birt.branding/images/p48.png,platform:/plugin/org.eclipse.birt.branding/images/p64.png,platform:/plugin/org.eclipse.birt.branding/images/p128.png,platform:/plugin/org.eclipse.birt.branding/images/p256.png">
         </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.RCPMultiPageReportEditor"
            contributorClass="org.eclipse.birt.report.designer.ui.editors.ReportActionBarContributor"
            default="true"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/report.gif"
            id="org.eclipse.birt.report.designer.ui.editors.ReportEditor"
            name="%ReportEditor">
         <contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportdesign"/>
      </editor>
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.RCPReportDocumentEditor"
            contributorClass="org.eclipse.birt.report.designer.ui.editors.ReportDocumentActionContributor"
            default="false"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/report.gif"
            id="org.eclipse.birt.report.designer.ui.editors.IDEReportDocumentEditor"
            name="%ReportDocumentEditor">
         <contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportdocument"/>
      </editor>
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.RCPMultiPageReportEditor"
            contributorClass="org.eclipse.birt.report.designer.ui.editors.TemplateActionBarContributor"
            default="true"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/template.gif"
            id="org.eclipse.birt.report.designer.ui.editors.TemplateEditor"
            name="%TemplateEditor">
         <contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reporttemplate"/>
      </editor>
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.RCPMultiPageReportEditor"
            contributorClass="org.eclipse.birt.report.designer.ui.editors.LibraryActionBarContributor"
            default="true"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/library.gif"
            id="org.eclipse.birt.report.designer.ui.editors.LibraryEditor"
            name="%LibraryEditor">
         <contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportlibrary"/>
      </editor>  
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
       <perspective
		    class="org.eclipse.birt.report.designer.ui.ReportRCPPerspective"
		    name="%ReportPerspective"
		    id="org.eclipse.birt.report.designer.ui.ReportRCPPerspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%CHEAT_SHEETS"
            visible="true"
            id="org.eclipse.ui.cheatsheets.actionSet">
         <action
               label="%CHEAT_SHEETS_MENU"
               class="org.eclipse.ui.cheatsheets.CheatSheetExtensionFactory:helpMenuAction"
               menubarPath="help/group.tutorials"
               id="org.eclipse.ui.cheatsheets.actions.CheatSheetHelpMenuAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"
            class="org.eclipse.birt.report.designer.ui.internal.rcp.adapters.NewLibraryWizardAdapterFactory">
         <adapter type="org.eclipse.birt.report.designer.ui.wizards.INewLibraryCreationPage"/>
      </factory>
      <factory
            adaptableType="org.eclipse.ui.IEditorPart"
            class="org.eclipse.birt.report.designer.ui.internal.rcp.adapters.LibraryProviderAdapterFactory">
         <adapter type="org.eclipse.birt.report.designer.internal.ui.views.ILibraryProvider"/>
      </factory>
      <factory
            adaptableType="org.eclipse.ui.IEditorPart"
            class="org.eclipse.birt.report.designer.ui.internal.rcp.adapters.ReportProviderFactory">
         <adapter type="org.eclipse.birt.report.designer.ui.editors.IReportProvider"/>
      </factory>
   </extension>   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%WizardCategoryName"
            id="org.eclipse.birt.report.designer.ui.wizard.category"/>
      <wizard
            finalPerspective="org.eclipse.birt.report.designer.ui.ReportPerspective"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_report.gif"
            class="org.eclipse.birt.report.designer.ui.internal.rcp.wizards.NewReportWizard"
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            project="false"
            name="%ReportWizard"
            id="org.eclipse.birt.report.designer.ui.rcp.wizards.NewReportWizard">
         <description>
            %ReportWizardDescription
         </description>
      </wizard>
      
      <wizard
            finalPerspective="org.eclipse.birt.report.designer.ui.ReportPerspective"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_template.gif"
            class="org.eclipse.birt.report.designer.ui.internal.rcp.wizards.NewReportTemplateWizard"
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            project="false"
            name="%TemplateWizard"
            id="org.eclipse.birt.report.designer.ui.rcp.wizards.NewTemplateWizard">
         <description>
            %TemplateWizardDescription
         </description>
      </wizard>
      
      <wizard
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            class="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"
            finalPerspective="org.eclipse.birt.report.designer.ui.ReportPerspective"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_library.gif"
            id="org.eclipse.birt.report.designer.ui.rcp.wizards.NewLibraryWizard"
            name="%LibraryWizard"
            project="false">
         <description>
            %LibraryWizardDescription
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.birt.report.designer.ui.ReportRCPPerspective">
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.rcp.wizards.NewReportWizard"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.rcp.wizards.NewTemplateWizard"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.rcp.wizards.NewLibraryWizard"/>
      </perspectiveExtension>
   </extension>
 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <file-association
          content-type="org.eclipse.birt.report.designer.ui.editors.reportdesign"
          file-extensions="rptdesign"/>
    <file-association
          content-type="org.eclipse.birt.report.designer.ui.editors.reportdocument"
          file-extensions="rptdocument"/>
    <file-association
          content-type="org.eclipse.birt.report.designer.ui.editors.reporttemplate"
          file-extensions="rpttemplate"/>
    <file-association
          content-type="org.eclipse.birt.report.designer.ui.editors.reportlibrary"
          file-extensions="rptlibrary"/>
 </extension>	 
   
</plugin>
