<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   <extension
         point="org.eclipse.birt.report.designer.ui.editors.multiPageEditorContributor">
      <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.ReportEditor">
         <formPage
               actionBarContributor="org.eclipse.birt.report.designer.ui.editor.pages.xml.XMLEditorActionContributor"
               class="org.eclipse.birt.report.designer.ui.editor.pages.xml.ReportXMLSourceEditorFormPage"
               displayName="%design.xmlsource"
               id="org.eclipse.birt.report.designer.ui.editors.xmlsource"
               position="right"
               priority="high"
               relative="org.eclipse.birt.report.designer.ui.editors.script"
               visible="true"/>
      </targetEditor>
      <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.TemplateEditor">
         <formPage
               actionBarContributor="org.eclipse.birt.report.designer.ui.editor.pages.xml.XMLEditorActionContributor"
               class="org.eclipse.birt.report.designer.ui.editor.pages.xml.ReportXMLSourceEditorFormPage"
               displayName="%template.xmlsource"
               id="org.eclipse.birt.report.designer.ui.editors.xmlsource"
               position="right"
               priority="high"
               relative="org.eclipse.birt.report.designer.ui.editors.script"
               visible="true"/>
      </targetEditor>
      <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.LibraryEditor">
         <formPage
               actionBarContributor="org.eclipse.birt.report.designer.ui.editor.pages.xml.XMLEditorActionContributor"
               class="org.eclipse.birt.report.designer.ui.editor.pages.xml.ReportXMLSourceEditorFormPage"
               displayName="%library.xmlsource"
               id="org.eclipse.birt.report.designer.ui.editors.xmlsource"
               position="right"
               priority="high"
               relative="org.eclipse.birt.report.designer.ui.editors.script"
               visible="true"/>
      </targetEditor>
   </extension>
</plugin>
