<?xml version="1.0" encoding="utf-8"?>

<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Eclipse BIRT Report Viewer</display-name>

	<!-- Default locale setting.
	-->
	<context-param>
		<param-name>BIRT_VIEWER_LOCALE</param-name>
		<param-value>en-US</param-value>
	</context-param>

	<!--
		Default timezone setting.
		Examples: "Europe/Paris", "GMT+1".
		Defaults to the container's timezone.
	-->
	<context-param>
		<param-name>BIRT_VIEWER_TIMEZONE</param-name>
		<param-value></param-value>
	</context-param>

	<!--
		Report resources directory for preview. Defaults to ${birt home}
	-->
	<context-param>
		<param-name>BIRT_VIEWER_WORKING_FOLDER</param-name>
		<param-value></param-value>
	</context-param>

	<!--
		Temporary document files directory. Defaults to ${birt home}/documents
	-->
	<context-param>
		<param-name>BIRT_VIEWER_DOCUMENT_FOLDER</param-name>
		<param-value>${birt.viewer.working.path}/documents</param-value>
	</context-param>

	<!--
		Flag whether the report resources can only be accessed under the
		working folder. Defaults to true
	-->
	<context-param>
		<param-name>WORKING_FOLDER_ACCESS_ONLY</param-name>
		<param-value>false</param-value>
	</context-param>

	<!--
		Settings for how to deal with the url report path. e.g. "http://host/repo/test.rptdesign". 
		
		Following values are supported:
		
		<all> 		- All paths. DANGEROUS, SEE https://bugs.eclipse.org/bugs/show_bug.cgi?id=580391 
		<domain>	- Allow domains listed in URL_REPORT_DOMAIN_POLICY.
		<none> 		- URL paths are not supported.
		
		Defaults to "none".
	-->
	<context-param>
		<param-name>URL_REPORT_PATH_POLICY</param-name>
		<param-value>none</param-value>
	</context-param>

	<!--
		Settings to control the allowed domains 
		  when the URL_REPORT_PATH_POLICY parameter is set to 'domain'.
		
		It should contain a comma separated list of valid domains.
		
		defauls to localhost,127.0.0.1
	-->
	<context-param>
		<param-name>URL_REPORT_PATH_DOMAINS</param-name>
		<param-value>localhost,127.0.0.1</param-value>
	</context-param>

	<!--
		Temporary image/chart directory. Defaults to ${birt home}/report/images
	-->
	<context-param>
		<param-name>BIRT_VIEWER_IMAGE_DIR</param-name>
		<param-value>${birt.viewer.working.path}/report/images</param-value>
	</context-param>

	<!-- Engine log directory. Defaults to ${birt home}/logs -->
	<context-param>
		<param-name>BIRT_VIEWER_LOG_DIR</param-name>
		<param-value>${birt.viewer.working.path}/logs</param-value>
	</context-param>

	<!-- Report engine log level -->
	<context-param>
		<param-name>BIRT_VIEWER_LOG_LEVEL</param-name>
		<param-value>WARNING</param-value>
	</context-param>

	<!--
		Directory where to store all the birt report script libraries (JARs).
		Defaults to ${birt home}/scriptlib
	-->
	<context-param>
		<param-name>BIRT_VIEWER_SCRIPTLIB_DIR</param-name>
		<param-value></param-value>
	</context-param>

	<!-- Resource location directory. Defaults to ${birt home} -->
	<context-param>
		<param-name>BIRT_RESOURCE_PATH</param-name>
		<param-value></param-value>
	</context-param>

	<!-- Preview report rows limit. An empty value means no limit. -->
	<context-param>
		<param-name>BIRT_VIEWER_MAX_ROWS</param-name>
		<param-value></param-value>
	</context-param>

	<!--
		Max cube fetch levels limit for report preview (Only used when
		previewing a report design file using the preview pattern)
	-->
	<context-param>
		<param-name>BIRT_VIEWER_MAX_CUBE_ROWLEVELS</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_MAX_CUBE_COLUMNLEVELS</param-name>
		<param-value></param-value>
	</context-param>

	<!-- Memory size in MB for creating a cube. -->
	<context-param>
		<param-name>BIRT_VIEWER_CUBE_MEMORY_SIZE</param-name>
		<param-value></param-value>
	</context-param>

	<!-- Defines the BIRT viewer configuration file -->
	<context-param>
		<param-name>BIRT_VIEWER_CONFIG_FILE</param-name>
		<param-value>WEB-INF/viewer.properties</param-value>
	</context-param>

	<!--
		Flag whether to allow server-side printing. Possible values are "ON"
		and "OFF". Defaults to "ON".
	-->
	<context-param>
		<param-name>BIRT_VIEWER_PRINT_SERVERSIDE</param-name>
		<param-value>ON</param-value>
	</context-param>

	<!--
		Flag whether to force browser-optimized HTML output. Defaults to true
	-->
	<context-param>
		<param-name>HTML_ENABLE_AGENTSTYLE_ENGINE</param-name>
		<param-value>true</param-value>
	</context-param>

	<!--
		Filename generator class/factory to use for the exported reports.
	-->
	<context-param>
		<param-name>BIRT_FILENAME_GENERATOR_CLASS</param-name>
		<param-value>org.eclipse.birt.report.utility.filename.DefaultFilenameGenerator</param-value>
	</context-param>

	<!--
		Viewer Filter used to set the request character encoding to UTF-8.
	-->
	<filter>
		<filter-name>ViewerFilter</filter-name>
		<filter-class>org.eclipse.birt.report.filter.ViewerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ViewerFilter</filter-name>
		<servlet-name>ViewerServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ViewerFilter</filter-name>
		<servlet-name>EngineServlet</servlet-name>
	</filter-mapping>

	<!-- Viewer Servlet Context Listener -->
	<listener>
		<listener-class>org.eclipse.birt.report.listener.ViewerServletContextListener</listener-class>
	</listener>

	<!-- Viewer HttpSession Listener -->
	<listener>
		<listener-class>org.eclipse.birt.report.listener.ViewerHttpSessionListener</listener-class>
	</listener>

	<!-- Viewer Servlet, Supports SOAP -->
	<servlet>
		<servlet-name>ViewerServlet</servlet-name>
		<servlet-class>org.eclipse.birt.report.servlet.ViewerServlet</servlet-class>
	</servlet>

	<!-- Engine Servlet -->
	<servlet>
		<servlet-name>EngineServlet</servlet-name>
		<servlet-class>org.eclipse.birt.report.servlet.BirtEngineServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ViewerServlet</servlet-name>
		<url-pattern>/frameset</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ViewerServlet</servlet-name>
		<url-pattern>/run</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/preview</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/parameter</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/document</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/output</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/extract</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<taglib>
			<taglib-uri>/birt.tld</taglib-uri>
			<taglib-location>/WEB-INF/tlds/birt.tld</taglib-location>
		</taglib>
	</jsp-config>
<context-param><param-name>org.eclipse.jetty.jsp.precompiled</param-name><param-value>true</param-value></context-param>

<!--
Automatically created by Apache Tomcat JspC.
-->


    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.DialogContainerFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.dialog.DialogContainerFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.ParameterDialogFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.dialog.ParameterDialogFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.common.Locale_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.common.Locale_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.ExceptionDialogFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.dialog.ExceptionDialogFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.ExportReportDialogFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.dialog.ExportReportDialogFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.ExportDataDialogFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.dialog.ExportDataDialogFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.control.TocFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.control.TocFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.control.ToolbarFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.control.ToolbarFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.CancelTask_jsp</servlet-name>
        <servlet-class>org.apache.jsp.CancelTask_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.control.ProgressBarFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.control.ProgressBarFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.index_jsp</servlet-name>
        <servlet-class>org.apache.jsp.index_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.control.NavigationbarFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.control.NavigationbarFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.ReportDialogFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.layout.ReportDialogFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.ConfirmationDialogFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.dialog.ConfirmationDialogFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.common.Error_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.common.Error_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.common.processing_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.common.processing_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.common.Attributes_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.common.Attributes_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.DocumentFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.layout.DocumentFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.ReportContentFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.layout.ReportContentFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.ParameterFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.layout.ParameterFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.PrintReportDialogFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.dialog.PrintReportDialogFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.SimpleExportDataDialogFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.dialog.SimpleExportDataDialogFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.PrintReportServerDialogFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.dialog.PrintReportServerDialogFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.SidebarFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.layout.SidebarFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.ReportFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.layout.ReportFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.FramesetFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.layout.FramesetFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.HiddenParameterFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.parameter.HiddenParameterFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.CheckboxParameterFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.parameter.CheckboxParameterFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.RadioButtonParameterFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.parameter.RadioButtonParameterFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.ComboBoxParameterFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.parameter.ComboBoxParameterFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.ParameterGroupFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.parameter.ParameterGroupFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.TextBoxParameterFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.parameter.TextBoxParameterFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.RequesterFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.layout.RequesterFragment_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.RunFragment_jsp</servlet-name>
        <servlet-class>org.apache.jsp.webcontent.birt.pages.layout.RunFragment_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.DialogContainerFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/dialog/DialogContainerFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.ParameterDialogFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/dialog/ParameterDialogFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.common.Locale_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/common/Locale.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.ExceptionDialogFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/dialog/ExceptionDialogFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.ExportReportDialogFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/dialog/ExportReportDialogFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.ExportDataDialogFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/dialog/ExportDataDialogFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.control.TocFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/control/TocFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.control.ToolbarFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/control/ToolbarFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.CancelTask_jsp</servlet-name>
        <url-pattern>/CancelTask.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.control.ProgressBarFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/control/ProgressBarFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.index_jsp</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.control.NavigationbarFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/control/NavigationbarFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.ReportDialogFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/layout/ReportDialogFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.ConfirmationDialogFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/dialog/ConfirmationDialogFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.common.Error_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/common/Error.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.common.processing_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/common/processing.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.common.Attributes_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/common/Attributes.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.DocumentFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/layout/DocumentFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.ReportContentFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/layout/ReportContentFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.ParameterFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/layout/ParameterFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.PrintReportDialogFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/dialog/PrintReportDialogFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.SimpleExportDataDialogFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/dialog/SimpleExportDataDialogFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.dialog.PrintReportServerDialogFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/dialog/PrintReportServerDialogFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.SidebarFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/layout/SidebarFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.ReportFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/layout/ReportFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.FramesetFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/layout/FramesetFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.HiddenParameterFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/parameter/HiddenParameterFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.CheckboxParameterFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/parameter/CheckboxParameterFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.RadioButtonParameterFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/parameter/RadioButtonParameterFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.ComboBoxParameterFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/parameter/ComboBoxParameterFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.ParameterGroupFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/parameter/ParameterGroupFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.parameter.TextBoxParameterFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/parameter/TextBoxParameterFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.RequesterFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/layout/RequesterFragment.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.webcontent.birt.pages.layout.RunFragment_jsp</servlet-name>
        <url-pattern>/webcontent/birt/pages/layout/RunFragment.jsp</url-pattern>
    </servlet-mapping>

<!--
End of content automatically created by Apache Tomcat JspC.
-->

</web-app>
