<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<!--======================================================================================-->
	<!--         BIRT Web Project Wizard                                                      -->
	<!--======================================================================================-->
	<extension point="org.eclipse.wst.common.ui.exampleProjectCreationWizard">
		<wizard	id="org.eclipse.birt.integration.wtp.ui.BirtExampleProjectCreationWizard">
			<projectsetup>
				<import	src="runtime/birt.zip" />
			</projectsetup>
		</wizard>
	</extension>

	<!-- Project Facets -->
	
	<extension point="org.eclipse.wst.common.project.facet.core.facets">
		
		<project-facet id="birt.runtime">
			<label>%BIRT_FACET_LABEL</label>
			<description>%BIRT_FACET_DESCRIPTION</description>
		</project-facet>
		
		<project-facet-version facet="birt.runtime" version="%plugin.version">
			<constraint>
				<and>
					<requires facet="jst.web" version="[2.3"/>
					<requires facet="jst.java" version="[5.0"/>
				</and>
			</constraint>
			<group-member id="group.birt.runtime"/>
		</project-facet-version>
		
		<action facet="birt.runtime" version="%plugin.version" type="INSTALL" id="birt.runtime.install">
			<delegate class="org.eclipse.birt.integration.wtp.ui.project.facet.BirtFacetInstallDelegate"/>
			<config-factory class="org.eclipse.birt.integration.wtp.ui.project.facet.BirtFacetInstallDataModelProvider"/>
		</action>
		
		<event-handler facet="birt.runtime" version="%plugin.version" type="RUNTIME_CHANGED">
			<delegate class="org.eclipse.birt.integration.wtp.ui.project.facet.BirtFacetRuntimeChangedDelegate"/>
		</event-handler>
		
		<event-handler facet="birt.runtime" version="%plugin.version" type="POST_INSTALL">
			<delegate class="org.eclipse.birt.integration.wtp.ui.project.facet.BirtFacetPostInstallDelegate"/>
		</event-handler>
		
		<template id="template.birt.runtime">		
			<label>%BIRT_FACET_TEMPLATE_LABEL</label>			
			<fixed facet="birt.runtime"/>
			<fixed facet="jst.java" />
			<fixed facet="jst.web"/>			
			<preset id="preset.birt.runtime" />
		</template>
		
	</extension>
		
	<extension point="org.eclipse.wst.common.project.facet.core.presets">
		<dynamic-preset id="preset.birt.runtime">
			<factory class="org.eclipse.birt.integration.wtp.ui.project.facet.BirtFacetPresetFactory" />			
		</dynamic-preset>
	</extension>

	<extension point="org.eclipse.wst.common.project.facet.core.runtimes">
		<supported>
			<facet id="birt.runtime" version="%plugin.version"/>
			<runtime-component any="true"/>
		</supported>
	</extension>
      	
	<!--======================================================================================-->
	<!--         Wizard pages                                                                    -->
	<!--======================================================================================-->
	<extension point="org.eclipse.wst.common.project.facet.ui.wizardPages">
	  <wizard-pages action="birt.runtime.install">
	    <page class="org.eclipse.birt.integration.wtp.ui.internal.wizards.BirtWebProjectWizardConfigurationPage"/>
	  </wizard-pages>
	</extension>
	      	
	<!--======================================================================================-->
	<!--         Templates                                                                    -->
	<!--======================================================================================-->
	<extension point="org.eclipse.ui.editors.templates">

		<contextType
			class="org.eclipse.jst.jsp.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_new" />

		<contextType
			class="org.eclipse.jst.jsp.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_tag" />
			
		<include
			file="templates/jspbirt-templates.xml"
			translations="$nl$/templates/jspbirt-templates.properties" />

	</extension>
	
	<!--======================================================================================-->
	<!--         Web Application Resources Settings                                           -->
	<!--======================================================================================-->
	
	<extension-point id="birtResourcesDefinition" name="%birtResourcesDefinition" schema="schema/birtResourcesDefinition.exsd"/>

	<extension
	       point="org.eclipse.birt.integration.wtp.ui.birtResourcesDefinition">
		
		<!-- Web Deployment Settings -->
		<webapp
			id="org.eclipse.birt.integration.wtp.ui.defaultBirtWebappDefinition"
			description="Deployment Descriptor for BIRT Viewer. Please check and specify the following settings.">
				
			<context-param 
				name="BIRT_VIEWER_LOCALE"
				value="en-US"
				description="Default locale setting"/>
				
			<context-param 
				name="BIRT_VIEWER_WORKING_FOLDER"
				value=""
				description="Report resources(design files or document files) directory for preview. Defaults to ${Context Root}"/>	
				
			<context-param 
				name="BIRT_VIEWER_DOCUMENT_FOLDER"
				value="documents"
				description="Temporary document files directory. Defaults to ${Context Root}/documents"/>		
						
			<context-param 
				name="BIRT_VIEWER_IMAGE_DIR"
				value="report/images"
				description="Temporary images/charts directory. Defaults to ${Context Root}/report/images"/>

			<context-param 
				name="BIRT_VIEWER_SCRIPTLIB_DIR"
				value="scriptlib"
				description="Directory where to store all the birt report script libraries (JARs).. Defaults to ${Context Root}/scriptlib"/>
				
			<context-param 
				name="BIRT_VIEWER_LOG_DIR"
				value="logs"
				description="Report Engine logs directory. Default to ${Context Root}/logs"/>

			<context-param 
				name="BIRT_RESOURCE_PATH"
				value=""
				description="Resource location directory (library files, images files or others). Defaults to ${Context Root}"/>				

			<context-param 
				name="WORKING_FOLDER_ACCESS_ONLY"
				value="false"
				description="Flag whether the report resources can only be accessed under the working folder. Defaults to false"/>

			<context-param 
				name="BIRT_VIEWER_MAX_ROWS"
				value=""
				description="Preview report rows limit. An empty value means no limit."/>

			<context-param 
				name="BIRT_VIEWER_MAX_CUBE_ROWLEVELS"
				value=""
				description="Max cube fetch rows levels limit for report preview (Only used when previewing a report design file using the preview pattern). Defaults to return all levels"/>

			<context-param 
				name="BIRT_VIEWER_MAX_CUBE_COLUMNLEVELS"
				value=""
				description="Max cube fetch columns levels limit for report preview (Only used when previewing a report design file using the preview pattern). Defaults to return all levels"/>

			<context-param 
				name="BIRT_VIEWER_CUBE_MEMORY_SIZE"
				value=""
				description="Memory size in MB for creating a cube."/>

			<context-param 
				name="BIRT_VIEWER_LOG_LEVEL"
				value="WARNING"
				description="Report engine log level. (ALL|SEVERE|WARNING|INFO|CONFIG|FINE|FINER|FINEST|OFF)"/>
			
			<context-param 
				name="BIRT_VIEWER_CONFIG_FILE"
				value="WEB-INF/viewer.properties"
				description="BIRT viewer extended configuration file"/>

			<context-param 
				name="BIRT_VIEWER_PRINT_SERVERSIDE"
				value="ON"
				description="Flag whether to allow server-side printing. Possible values are ON and OFF. Defaults to ON"/>

			<context-param 
				name="HTML_ENABLE_AGENTSTYLE_ENGINE"
				value="true"
				description="Flag whether to force browser-optimized HTML output. Defaults to true"/>
			
			<filter
				name="ViewerFilter"
				class="org.eclipse.birt.report.filter.ViewerFilter"
				description="Viewer Filter used to set the request character encoding to UTF-8."/>			

			<filter-mapping
				name="ViewerFilter"
				servletName="ViewerServlet"/>	

			<filter-mapping
				name="ViewerFilter"
				servletName="EngineServlet"/>	
								
			<listener class="org.eclipse.birt.report.listener.ViewerServletContextListener"/>
			<listener class="org.eclipse.birt.report.listener.ViewerHttpSessionListener"/>
			
			<servlet
				name="ViewerServlet"
				class="org.eclipse.birt.report.servlet.ViewerServlet"
				description="Support Ajax to retrieve report content"/>			

			<servlet
				name="EngineServlet"
				class="org.eclipse.birt.report.servlet.BirtEngineServlet"/>

			<servlet-mapping
				name="ViewerServlet"
				uri="/frameset"/>				

			<servlet-mapping
				name="ViewerServlet"
				uri="/run"/>				

			<servlet-mapping
				name="EngineServlet"
				uri="/preview"/>
				
			<servlet-mapping
				name="EngineServlet"
				uri="/download"/>				

			<servlet-mapping
				name="EngineServlet"
				uri="/parameter"/>				

			<servlet-mapping
				name="EngineServlet"
				uri="/document"/>				

			<servlet-mapping
				name="EngineServlet"
				uri="/output"/>		

			<servlet-mapping
				name="EngineServlet"
				uri="/extract"/>
											
			<taglib
				uri="/birt.tld"
				location="/WEB-INF/tlds/birt.tld"/>
				
		</webapp>
		
		<!-- Conflict Resources Settings( Clear these resources when import ) -->
		<conflict
			id="org.eclipse.birt.integration.wtp.ui.defaultConflictResourcesDefinition">
			<folder path="/WEB-INF/platform"/>
			<folder path="/WEB-INF/lib">
				<file name="com.ibm.icu_"/>
				<file name="org.eclipse.emf.common_"/>
				<file name="org.eclipse.emf.ecore.xmi_"/>
				<file name="org.eclipse.emf.ecore_"/>
				<file name="org.eclipse.birt"/>
				<file name="coreapi.jar"/>
				<file name="dataadapterapi.jar"/>
				<file name="dataextraction.jar"/>
				<file name="dteapi.jar"/>
				<file name="engineapi.jar"/>
				<file name="modelapi.jar"/>
				<file name="scriptapi.jar"/>
				<file name="viewservlets.jar"/>
			</folder>
		</conflict>	
		
	</extension>
	
		
</plugin>
