<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
      		allowMultiple="false"
            category="org.eclipse.birt.report.designer.ui.views.category"
            class="org.eclipse.birt.report.designer.ui.views.attributes.AttributeView"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/quick_edit.gif"
            id="org.eclipse.birt.report.designer.ui.attributes.AttributeView" 
            name="%QuickEditView"
		/> 
   </extension>
   
</plugin>
