<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

<extension
         point="org.eclipse.ui.views">
      <view
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/data_explorer_view.gif"
            class="org.eclipse.birt.report.designer.ui.views.data.DataView"
            category="org.eclipse.birt.report.designer.ui.views.category"
            name="%DataExplorerView"
            id="org.eclipse.birt.report.designer.ui.views.data.DataView"/>
      <view
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/quick_edit.gif"
            class="org.eclipse.birt.report.designer.ui.views.attributes.AttributeView"
            category="org.eclipse.birt.report.designer.ui.views.category"
            name="%QuickEditView"
            id="org.eclipse.birt.report.designer.ui.attributes.AttributeView"/>
      <category
            name="%ReportViews"
            id="org.eclipse.birt.report.designer.ui.views.category"/>
   </extension>

<extension
      point="org.eclipse.birt.report.designer.ui.elementAdapters">
   <adaptable
         class="org.eclipse.birt.report.model.api.ReportDesignHandle"
         >
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.ReportDesignNodeProvider"
            id="ReportDesign.NodeProvider.ReportDesignNode"
            priority="3"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.ThemeHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.ThemeNodeProvider"
            id="ReportDesign.ThemeNode"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   
   <adaptable
         class="org.eclipse.birt.report.model.api.CellHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.CellProvider"
            id="CellHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.GridHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.GridProvider"
            id="GridHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.ListHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.ListProvider"
            id="ListHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.TableHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.TableProvider"
            id="TableHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.RowHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.RowProvider"
            id="RowHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.DataItemHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.DataProvider"
            id="DataItemHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.SimpleMasterPageHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.MasterPageNodeProvider"
            id="MasterPageHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.ParameterGroupHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.ParameterGroupNodeProvider"
            id="ParameterGroupHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.CascadingParameterGroupHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.CascadingParameterGroupNodeProvider"
            comments="this provider should only apply to CascadingParameterGroupHandle not to it&apos;s parent ParameterGroupHandle"
            id="CascadingParameterGroupHandle.NodeProvider"
            overwrite="ParameterGroupHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
         <enablement>
            <instanceof
                  value="org.eclipse.birt.report.model.api.CascadingParameterGroupHandle">
            </instanceof>
         </enablement>
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.ScalarParameterHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.ParameterNodeProvider"
            id="ScalarParameterHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.EmbeddedImageHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.EmbeddedImageNodeProvider"
            id="EmbeddedImageHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.SlotHandle">
         <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.BodyNodeProvider"
            id="NodeProvider.BodySlot"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
         <enablement>
            <test
                  forcePluginActivation="true"
                  property="SlotHandle.id"
                  value="6">
            </test>
            <test
                  forcePluginActivation="true"
                  property="SlotHandle.elementName"
                  value="ReportDesign">
            </test>
         </enablement>
      </adapter>
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.ParametersNodeProvider"
               id="NodeProvider.ParametersSlot"
               priority="2"
               type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.id"
                     value="1">
               </test>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="SlotHandle.elementName"
                        value="ReportDesign">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="SlotHandle.elementName"
                        value="Library">
                  </test>
               </or>
            </enablement>
         </adapter>
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.views.SlotHandleDropAdapter"
               id="DropAdapter.SlotHandle"
               priority="2"
               type="org.eclipse.birt.report.designer.ui.views.IElementDropAdapter">
         </adapter>
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.MasterPagesNodeProvider"
               id="NodeProvider.PagesSlot"
               priority="2"
               type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.id"
                     value="4">
               </test>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="SlotHandle.elementName"
                        value="ReportDesign">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="SlotHandle.elementName"
                        value="Library">
                  </test>
               </or>
            </enablement>
         </adapter>
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.StylesNodeProvider"
               id="NodeProvider.StylesSlot"
               type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.id"
                     value="0">
               </test>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.elementName"
                     value="ReportDesign">
               </test>
            </enablement>
         </adapter>
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.ComponentsProvider"
               id="NodeProvider.LibraryReportItemSlot"
               priority="2"
               type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.id"
                     value="5">
               </test>
               <test
                     property="SlotHandle.elementName"
                     value="Library">
               </test>
            </enablement>
         </adapter>
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.ThemesNodeProvider"
               id="NodeProvider.ThemesSlot"
               priority="2"
               type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.id"
                     value="0">
               </test>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.elementName"
                     value="Library">
               </test>
            </enablement>
         </adapter>
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.TableBandProvider"
               id="NodeProvider.TableSlot"
               type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <or>
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="SlotHandle.elementName"
                              value="Table">
                        </test>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="0">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="1">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="2">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="3">
                           </test>
                        </or>
                     </and>
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="SlotHandle.elementName"
                              value="TableGroup">
                        </test>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="0">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="1">
                           </test>
                        </or>
                     </and>
                  </or>
            </enablement>
         </adapter>
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.ListBandProvider"
               id="NodeProvider.ListingSlot"
               type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
                <or>
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="SlotHandle.elementName"
                              value="List">
                        </test>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="0">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="1">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="2">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="3">
                           </test>
                        </or>
                     </and>
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="SlotHandle.elementName"
                              value="ListGroup">
                        </test>
                        <or>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="0">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="SlotHandle.id"
                                 value="1">
                           </test>
                        </or>
                     </and>
                  </or>
            </enablement>
         </adapter>
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.MasterPageBandProvider"
               id="NodeProvider.MasterPageSlot"
               type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <or>
                  <and>
                     <test
                           property="SlotHandle.elementName"
                           value="SimpleMasterPage">
                     </test>
                     <or>
                        <test
                              property="SlotHandle.id"
                              value="0">
                        </test>
                        <test
                              property="SlotHandle.id"
                              value="1">
                        </test>
                     </or>
                  </and>
               </or>
            </enablement>
         </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.LibraryHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.LibraryNodeProvider"
            id="Library.RootNode"
            priority="3"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.SharedStyleHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.StyleNodeProvider"
            id="ReportDesign.SharedStyleHandle"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.TableGroupHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.GroupProvider"
            id="ReportDesign.GroupHandle"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.ListGroupHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.GroupProvider"
            id="ReportDesign.GroupHandle"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.css.CssStyleSheetHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.CssStyleSheetNodeProvider"
            id="ReportDesign.CssStyleNode"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.CssSharedStyleHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.CssSharedStyleNodeProvider"
            id="ReportDesign.cssSharedStyleHandle"
            overwrite="ReportDesign.SharedStyleHandle"
            priority="1"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
         <enablement>
            <instanceof
                  value="org.eclipse.birt.report.model.api.CssSharedStyleHandle">
            </instanceof>
         </enablement>
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.PropertyHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.VariablesNodeProvider"
            id="PropertyHandle.VariablesNode"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
         <enablement>
            <test
                  property="PropertyHandle.name"
                  value="pageVariables">
            </test>
         </enablement>
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.VariableElementHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.VariableNodeProvider"
            id="VariableElementHandle.NodeProvider"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
</extension>
<extension
      point="org.eclipse.birt.report.designer.ui.elementAdapters"><adaptable
         class="org.eclipse.birt.report.designer.core.model.views.outline.LibraryNode">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.LibrariesNodeProvider"
            id="ReportDesign.LibraryNode"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.designer.core.model.views.outline.EmbeddedImageNode">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.EmbeddedImagesNodeProvider"
            id="ReportDesign.EmbeddedImagesNode"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
</extension>
<extension
      point="org.eclipse.birt.report.designer.ui.elementAdapters"><adaptable
         class="org.eclipse.birt.report.designer.core.model.views.data.ReportDataHandle"
         >
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.ReportDataNodeProvider"
            id="ReportData.NodeProvider.Data"
            priority="1"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.ReportDesignHandle"
         >
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.ReportDesignDataNodeProvider"
            id="ReportDesign.NodeProvider.Data"
            priority="1"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.LibraryHandle"
         >
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.LibraryDataNodeProvider"
            id="Library.NodeProvider.Data"
            priority="1"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.OdaDataSourceHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.DataSourceNodeProvider"
            id="OdaDataSourceHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.ScriptDataSourceHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.DataSourceNodeProvider"
            id="ScriptDataSourceHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.OdaDataSetHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.DataSetNodeProvider"
            id="DataSetHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
               <adaptable class="org.eclipse.birt.report.model.api.ScriptDataSetHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.DataSetNodeProvider"
            id="ScriptDataSetHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
               </adaptable>
               <adaptable class="org.eclipse.birt.report.model.api.JointDataSetHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.DataSetNodeProvider"
            id="JointDataSetHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
               </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.ResultSetColumnHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.ResultSetColumnProvider"
            id="ResultSetColumnHandle.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.DataSetParameterHandle">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.DataSetParameterProvider"
            id="DataSetParameterHandle.NodeProvider"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.designer.core.model.views.data.DataSetItemModel">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.DataSetColumnProvider"
            id="DataSetItemModel.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.SlotHandle">
         <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.DataSourcesNodeProvider"
            id="NodeProvider.DataSourcesSlot"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
         <enablement>
            <test
                  forcePluginActivation="true"
                  property="SlotHandle.id"
                  value="2">
            </test>
            <or>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.elementName"
                     value="ReportDesign">
               </test>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.elementName"
                     value="Library">
               </test>
            </or>
         </enablement>
      </adapter>
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.views.data.providers.DataSetsNodeProvider"
               id="NodeProvider.DataSetsSlot"
               type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.id"
                     value="3">
               </test>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="SlotHandle.elementName"
                        value="ReportDesign">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="SlotHandle.elementName"
                        value="Library">
                  </test>
               </or>
            </enablement>
         </adapter>
   </adaptable>
</extension>
<extension
      point="org.eclipse.birt.report.designer.ui.elementAdapters">
   <adaptable
         class="org.eclipse.birt.report.designer.core.model.views.outline.ScriptsNode">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.ScriptTreeNodeProvider"
            id="org.eclipse.birt.report.designer.ui.views.outline.TreeNodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.designer.core.model.views.outline.ScriptElementNode">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.ScriptTreeNodeProvider"
            id="org.eclipse.birt.report.designer.ui.views.outline.TreeNodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.designer.core.model.views.outline.ScriptObjectNode">
      <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.outline.providers.ScriptTreeNodeProvider"
            id="org.eclipse.birt.report.designer.ui.views.outline.TreeNodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
</extension>
<extension
      point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.ReportItemHandle">
         <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.ShowPropertiesViewMenu"
            id="org.eclipse.birt.report.designer.ui.showProperties.ReportItemHandle"
            singleton="false"
            type="org.eclipse.jface.action.IMenuListener">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.ReportDesignHandle">
         <adapter
            class="org.eclipse.birt.report.designer.internal.ui.views.ShowPropertiesViewMenu"
            id="org.eclipse.birt.report.designer.ui.showProperties.ReportDesignHandle"
            singleton="false"
            type="org.eclipse.jface.action.IMenuListener">
         </adapter>
      </adaptable>
</extension>
<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:birtData">
            <command
                  commandId="org.eclipse.birt.report.designer.internal.ui.views.createVariable"
                  label="%Variable.Actions"
                  style="push">
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.views.CreateVariableHandler"
            id="org.eclipse.birt.report.designer.internal.ui.views.createVariable"
            name="%Command.Name.CreateVariable">
      </command>
   </extension>   
</plugin>
