<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<body bgcolor="white">

<p>Contains core class implementations for blocks associated with the chart 
representation. A chart definition must contain at least one plot block, one 
title block, one legend block and any number of other blocks. By default, all 
blocks are laid out at the same Z-order but the containment hierarchy may be 
altered. The layout manager attempts to compute a 'preferred size' for the title 
and legend and stretches the plot area giving it all available space.</p>
<p>Note that a client area class is associated with a region nested within the 
main block structure.</p>

</body>
</html>