<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
         point="org.eclipse.help.toc">
      <toc
            primary="true"
            file="BIRTRefToc.xml"/>
      <toc
            file="RefToc.xml" />
   </extension>
   <extension
          point="org.eclipse.pde.core.javadoc">
       <javadoc
             archive="true"
             path="core/api">
          <plugin
                id="org.eclipse.birt.core">
          </plugin>
       </javadoc>
       <javadoc
             archive="true"
             path="coreui/api/">
          <plugin
                id="org.eclipse.birt.core.ui">
          </plugin>
       </javadoc>
       <javadoc
             archive="true"
             path="engine/api/,enginescipt/api">
          <plugin
                id="../org.eclipse.birt.report.engine">
          </plugin>
       </javadoc>
       <javadoc
             archive="true"
             path="model/api/">
          <plugin
                id="org.eclipse.birt.report.model">
          </plugin>
       </javadoc>
    </extension>

</plugin>
