<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.birt.report.engine"
   name="BIRT Engine"
   version="2.1.0"
   provider-name="Eclipse.org"
   class="org.eclipse.birt.report.engine.plugin.EnginePlugin">
   <runtime>
      <library name="engine.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-cli-1.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/Tidy.jar">
         <export name="*"/>
      </library>
      <library name="scriptapi.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.birt.core"/>
      <import plugin="org.eclipse.birt.report.model"/>
      <import plugin="org.eclipse.birt.data"/>
   </requires>
   <extension-point id="reportitemGeneration" name="Extended Item Generation-Time Support" schema="schema/reportitemGeneration.exsd"/>
   <extension-point id="reportitemPresentation" name="Extended Item Presentation-Time Support" schema="schema/reportitemPresentation.exsd"/>
   <extension-point id="emitters" name="Emitters that Support Report Rendering" schema="schema/emitters.exsd"/>
   <extension-point id="reportitemQuery" name="Extended Item DTE Prepare-Time support" schema="schema/reportitemQuery.exsd"/>
</plugin>
