<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   <extension-point id="reportitemGeneration" name="%extension-point.name" schema="schema/reportitemGeneration.exsd"/>
   <extension-point id="reportitemPresentation" name="%extension-point.name.0" schema="schema/reportitemPresentation.exsd"/>
   <extension-point id="emitters" name="%extension-point.name.1" schema="schema/emitters.exsd"/>
   <extension-point id="reportitemQuery" name="%extension-point.name.2" schema="schema/reportitemQuery.exsd"/>
   <extension-point id="reportEventHandler" name="%extension-point.name.3" schema="schema/reportEventHandler.exsd"/>
   <extension-point id="reportItemPreparation" name="%extension-point.name.4" schema="schema/reportItemPreparation.exsd"/>
   <extension-point id="dataExtraction" name="%extension-point.name.5" schema="schema/dataExtraction.exsd"/>
   <extension-point id="extendedItemFactory" name="%extension-point.name.6" schema="schema/extendedItemFactory.exsd"/>
   <extension
         id="ReportExecutor"
         name="%extension.name"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.eclipse.birt.report.engine.plugin.ReportExecutor"/>
      </application>
   </extension>
   <extension
         id="ReportEngineSDK"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.birt.report.engine.ReportExecutor"
            name="%product.name"/>
   </extension>
   <extension
         id="ReportEngineFactory"
         name="%extension.name.0"
         point="org.eclipse.birt.core.FactoryService">
      <factory class="org.eclipse.birt.report.engine.api.impl.ReportEngineFactory"/>
   </extension>
   <extension
         point="org.eclipse.birt.report.model.IScriptableObjectClassInfo">
      <scriptableClassInfo
            class="org.eclipse.birt.report.engine.api.script.EngineScriptableClassInfo"
            extensionName="BIRT_ROM"/>
   </extension>
</plugin>
