<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension-point id="viewers" name="Report Viewers" schema="schema/viewers.exsd"/>

    <extension
        id="ViewerExtensionManager"
        name="ViewerExtensionManager"
        point="org.eclipse.birt.core.FactoryService">
        <factory class="org.eclipse.birt.report.designer.ui.preview.extension.ViewerExtensionManager"/>
    </extension>
    
    <extension
        point="org.eclipse.birt.report.designer.ui.editors.multiPageEditorContributor">
        <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.ReportEditor">
        <formPage
            class="org.eclipse.birt.report.designer.ui.preview.editors.ReportPreviewFormPage"
            displayName="%design.preview"
            id="org.eclipse.birt.report.designer.ui.editors.preview"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.xmlsource"
            visible="true"/>
        </targetEditor>
        <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.TemplateEditor">
        <formPage
            class="org.eclipse.birt.report.designer.ui.preview.editors.ReportPreviewFormPage"
            displayName="%template.preview"
            id="org.eclipse.birt.report.designer.ui.editors.preview"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.xmlsource"
            visible="true"/>
        </targetEditor>
    </extension>
</plugin>
