<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

     <extension
         id="testingBall"
         name="Matrix for testing"
         point="org.eclipse.birt.report.model.reportItemModel">
	    <reportItem class="org.eclipse.birt.report.designer.tests.example.matrix.ROMExtension"				isNameRequired="true" 
			extensionName="TestingBall"
			displayNameID="Element.TestingBall">
			<property defaultValue="default test" 
				type="string" 
				displayNameID="Element.TestingBall.test1" 
				name="test1"/>
			<property type="integer" 
				displayNameID="Element.TestingBall.test2" 
				canInherit="false" 
				name="test2"/>
			<property type="xml" 
				displayNameID="Element.TestingBall.test3" 
				name="test3"/>
			<property type="choice" 
				displayNameID="Element.TestingBall.test5" 
				canInherit="false" 
				name="test5">
				<choice value="one" displayNameID="Choices.test5.choice1" name="choice1"/>
				<choice value="two" displayNameID="Choices.test5.choice2" name="choice2"/>
				<choice value="three" displayNameID="Choices.test5.choice3" name="choice3"/>
			</property>
			<propertyGroup name="group1" displayNameID="Element.TestingBall.group1">
				<property type="string"
					displayNameID="Element.TestingBall.test6"
					name="test6"/>
				<property type="integer"
					displayNameID="Element.TestingBall.test7"
					name="test7"/>
			</propertyGroup>
		</reportItem>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.reportitemUI">
      <model extensionName="TestingBall"/>
      <builder class="org.eclipse.birt.report.designer.tests.example.matrix.ReportItemBuilderUITest"/>
      <outline icon="icon/cell.gif"/>
      <reportItemFigureUI class="org.eclipse.birt.report.designer.tests.example.matrix.TestingMatrixUI"/>
      <editor
            showInMasterPage="true"
            canResize="false"
            showInDesigner="true"/>
      <palette category="TestCategory"/>
      <propertyPage class="org.eclipse.birt.report.designer.tests.example.matrix.ReportItemPropertyEditUITest"/>
   </extension>

</plugin>
