<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">         
         <actionSet
            label="%ActionSet.Preview"
            visible="false"
            id="org.eclipse.birt.report.designer.ui.previewActionSet">
            <menu
                  id="org.eclipse.ui.run"
                  label="%menu.run"
                  path="additions">
               <groupMarker
                     name="preview">
               </groupMarker>
            </menu>
         <action
               class="org.eclipse.birt.report.designer.ui.actions.PreviewToolbarMenuAction"
               enablesFor="*"
               icon="icons/etool16/preview.gif"
               id="org.eclipse.birt.report.designer.ui.actions.PreviewToolbarMenu"
               label="%designer.preview.previewtoolbarmenuaction.label"
               style="pulldown"
               toolbarPath="org.eclipse.birt.report.designer.ui.publishActionSet/report"
               tooltip="%designer.preview.previewtoolbarmenuaction.label">
         </action>
            <action
                  class="org.eclipse.birt.report.designer.ui.actions.GenerateDocumentToolbarMenuAction"
                  icon="icons/etool16/preview.gif"
                  id="org.eclipse.birt.report.designer.ui.preview.web.gendoc"
                  label="%Action.GenDocument"
                  menubarPath="org.eclipse.ui.run/preview"
                  style="push">
            </action>
         <action
               class="org.eclipse.birt.report.designer.ui.actions.PreviewCascadingMenuGroup"
               icon="icons/etool16/preview.gif"
               id="org.eclipse.birt.report.designer.ui.actions.PreviewCascadingMenuGroup"
               label="%designer.preview.previewcascadingmenugroup.label"
               menubarPath="org.eclipse.ui.run/preview"
               style="pulldown"
               tooltip="%designer.preview.previewcascadingmenugroup.label"/>
      </actionSet>
      <actionSet
			id="org.eclipse.birt.report.designer.ui.viewDocumentActionSet"
			label="%ActionSet.PreviewWithSecurity" visible="false">
			<menu id="org.eclipse.ui.run" label="%menu.run" path="additions">
				<groupMarker name="previewWithSecturity">
				</groupMarker>
			</menu>
			<action
				class="org.eclipse.birt.report.designer.ui.actions.ViewDocumentToolbarMenuAction"
				enablesFor="*" icon="icons/etool16/preview.gif"
				id="org.eclipse.birt.report.designer.ui.actions.ViewDocumentToolbarMenu"
				label="%document.preview.previewtoolbarmenuaction.label"
				style="push" toolbarPath="org.eclipse.birt.report.designer.ui.publishActionSet/report"
				tooltip="%document.preview.previewtoolbarmenuaction.label">
			</action>
			<action
				class="org.eclipse.birt.report.designer.ui.actions.ViewDocumentToolbarMenuAction"
				enablesFor="*" icon="icons/etool16/preview.gif"
				id="org.eclipse.birt.report.designer.ui.actions.ViewDocumentMenubarMenu"
				label="%document.preview.previewmenugroup.label"
				menubarPath="org.eclipse.ui.run/preview" style="push"
				tooltip="%document.preview.previewmenugroup.label">
			</action>
		</actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.PreviewPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.preview"
            id="org.eclipse.birt.report.designer.ui.preferences.PreviewPreferencePage"/>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.PreviewServerPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences.PreviewPreferencePage"
            name="%preference.preview.server"
            id="org.eclipse.birt.report.designer.ui.preferences.PreviewServerPreferencePage"/>
      <page
            category="org.eclipse.birt.report.designer.ui.preferences.PreviewPreferencePage"
            class="org.eclipse.birt.report.designer.ui.preferences.PreviewDataPreferencePage"
            id="org.eclipse.birt.report.designer.ui.preferences.PreviewDataPreferencePage"
            name="%preference.preview.data">
      </page>
   </extension>
   
<!-- Disable the preview tab - Bugzilla 421879
	<extension
         point="org.eclipse.birt.report.designer.ui.editors.multiPageEditorContributor">
      <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.ReportEditor">
      <formPage
            class="org.eclipse.birt.report.designer.ui.preview.editors.ReportPreviewFormPage"
            displayName="%design.preview"
            id="org.eclipse.birt.report.designer.ui.editors.preview.web"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.xmlsource"
            visible="true"/>
      </targetEditor>
      <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.TemplateEditor">
      <formPage
            class="org.eclipse.birt.report.designer.ui.preview.editors.ReportPreviewFormPage"
            displayName="%template.preview"
            id="org.eclipse.birt.report.designer.ui.editors.preview.web"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.xmlsource"
            visible="true"/>
      </targetEditor>
	</extension>
-->

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.birt.report.designer.ui.ide.reportMenu">
         <command commandId="org.eclipse.birt.report.designer.ui.ide.runReport.command"
	           label="%Action.RunReport"
	           icon="icons/etool16/preview.gif"
               style="push">

            <visibleWhen>
               <with variable="selection">
                  <iterate operator="or" ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IResource">
                        <or>
                           <test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.birt.report.designer.ui.editors.reporttemplate" />
                           <test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.birt.report.designer.ui.editors.reportdesign" />
                         </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>

         <command commandId="org.eclipse.birt.report.designer.ui.ide.viewDocument.command"
	           label="%Action.ViewDocument"
	           icon="icons/etool16/preview.gif"
               style="push">

            <visibleWhen>
               <with variable="selection">
                  <iterate operator="or" ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IResource">
                        <or>
                           <test property="org.eclipse.core.resources.extension" value="rptdocument" />
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         
         <command commandId="org.eclipse.birt.report.designer.ui.ide.generateDocument.command"
	           label="%Action.GenDocument"
	           icon="icons/etool16/preview.gif"
               style="push">

            <visibleWhen>
               <with variable="selection">
                  <iterate operator="or" ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IResource">
                        <or>
                           <test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.birt.report.designer.ui.editors.reporttemplate" />
                           <test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.birt.report.designer.ui.editors.reportdesign" />
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
 
      </menuContribution>
   </extension>

 <extension
       point="org.eclipse.ui.actionSetPartAssociations">
    <actionSetPartAssociation targetID="org.eclipse.birt.report.designer.ui.previewActionSet">
       <part id="org.eclipse.birt.report.designer.ui.editors.ReportEditor"/>
       <part id="org.eclipse.birt.report.designer.ui.editors.TemplateEditor"/>
    </actionSetPartAssociation>
    <actionSetPartAssociation targetID="org.eclipse.birt.report.designer.ui.viewDocumentActionSet">
       <part id="org.eclipse.birt.report.designer.ui.editors.IDEReportDocumentEditor" />
    </actionSetPartAssociation>
 </extension>	 

   <extension point="org.eclipse.ui.commands">
      <command id="org.eclipse.birt.report.designer.ui.ide.runReport.command" name="%Action.RunReport"/>
      <command id="org.eclipse.birt.report.designer.ui.ide.generateDocument.command" name="%Action.RunReport"/>
      <command id="org.eclipse.birt.report.designer.ui.ide.viewDocument.command" name="%Action.RunReport"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler commandId="org.eclipse.birt.report.designer.ui.ide.runReport.command" class="org.eclipse.birt.report.designer.ui.ide.explorer.RunReportHandler"/>
      <handler commandId="org.eclipse.birt.report.designer.ui.ide.generateDocument.command" class="org.eclipse.birt.report.designer.ui.ide.explorer.GenerateDocumentHandler"/>
      <handler commandId="org.eclipse.birt.report.designer.ui.ide.viewDocument.command" class="org.eclipse.birt.report.designer.ui.ide.explorer.ViewDocumentHandler"/>
   </extension>
</plugin>
