<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">         
         <actionSet
            label="%ActionSet.Preview"
            visible="false"
            id="org.eclipse.birt.report.designer.ui.previewActionSet">
            <menu
                  id="org.eclipse.ui.run"
                  label="%menu.run"
                  path="additions">
               <groupMarker
                     name="preview">
               </groupMarker>
            </menu>
         <action
               class="org.eclipse.birt.report.designer.ui.actions.PreviewToolbarMenuAction"
               disabledIcon="icons/dtool16/preview_disabled.gif"
               enablesFor="*"
               hoverIcon="icons/etool16/preview.gif"
               icon="icons/etool16/preview.gif"
               id="org.eclipse.birt.report.designer.ui.actions.PreviewToolbarMenu"
               label="%designer.preview.previewtoolbarmenuaction.label"
               style="pulldown"
               toolbarPath="org.eclipse.birt.report.designer.ui.publishActionSet/report"
               tooltip="%designer.preview.previewtoolbarmenuaction.label">
         </action>
            <action
                  class="org.eclipse.birt.report.designer.ui.actions.GenerateDocumentToolbarMenuAction"
                  icon="icons/etool16/preview.gif"
                  id="org.eclipse.birt.report.designer.ui.preview.web.gendoc"
                  label="%Action.GenDocument"
                  menubarPath="org.eclipse.ui.run/preview"
                  style="push">
            </action>
         <action
               class="org.eclipse.birt.report.designer.ui.actions.PreviewCascadingMenuGroup"
               disabledIcon="icons/dtool16/preview_disabled.gif"
               icon="icons/etool16/preview.gif"
               id="org.eclipse.birt.report.designer.ui.actions.PreviewCascadingMenuGroup"
               label="%designer.preview.previewcascadingmenugroup.label"
               menubarPath="org.eclipse.ui.run/preview"
               style="pulldown"
               tooltip="%designer.preview.previewcascadingmenugroup.label"/>
      </actionSet>
      <actionSet
			id="org.eclipse.birt.report.designer.ui.viewDocumentActionSet"
			label="%ActionSet.PreviewWithSecurity" visible="false">
			<menu id="org.eclipse.ui.run" label="%menu.run" path="additions">
				<groupMarker name="previewWithSecturity">
				</groupMarker>
			</menu>
			<action
				class="org.eclipse.birt.report.designer.ui.actions.ViewDocumentToolbarMenuAction"
				enablesFor="*" hoverIcon="icons/etool16/preview.gif" icon="icons/etool16/preview.gif"
				id="org.eclipse.birt.report.designer.ui.actions.ViewDocumentToolbarMenu"
				label="%document.preview.previewtoolbarmenuaction.label"
				style="push" toolbarPath="org.eclipse.birt.report.designer.ui.publishActionSet/report"
				tooltip="%document.preview.previewtoolbarmenuaction.label">
			</action>
			<action
				class="org.eclipse.birt.report.designer.ui.actions.ViewDocumentToolbarMenuAction"
				enablesFor="*" hoverIcon="icons/etool16/preview.gif" icon="icons/etool16/preview.gif"
				id="org.eclipse.birt.report.designer.ui.actions.ViewDocumentMenubarMenu"
				label="%document.preview.previewmenugroup.label"
				menubarPath="org.eclipse.ui.run/preview" style="push"
				tooltip="%document.preview.previewmenugroup.label">
			</action>
		</actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.PreviewPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.preview"
            id="org.eclipse.birt.report.designer.ui.preferences.PreviewPreferencePage"/>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.PreviewServerPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences.PreviewPreferencePage"
            name="%preference.preview.server"
            id="org.eclipse.birt.report.designer.ui.preferences.PreviewServerPreferencePage"/>
      <page
            category="org.eclipse.birt.report.designer.ui.preferences.PreviewPreferencePage"
            class="org.eclipse.birt.report.designer.ui.preferences.PreviewDataPreferencePage"
            id="org.eclipse.birt.report.designer.ui.preferences.PreviewDataPreferencePage"
            name="%preference.preview.data">
      </page>
   </extension>
   
   <!-- disable the preview tab
   <extension
         point="org.eclipse.birt.report.designer.ui.editors.multiPageEditorContributor">
      <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.ReportEditor">
      <formPage
            class="org.eclipse.birt.report.designer.ui.preview.editors.ReportPreviewFormPage"
            displayName="%design.preview"
            id="org.eclipse.birt.report.designer.ui.editors.preview.web"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.xmlsource"
            visible="true"/>
      </targetEditor>
      <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.TemplateEditor">
      <formPage
            class="org.eclipse.birt.report.designer.ui.preview.editors.ReportPreviewFormPage"
            displayName="%template.preview"
            id="org.eclipse.birt.report.designer.ui.editors.preview.web"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.xmlsource"
            visible="true"/>
      </targetEditor>
   </extension>
   -->

	<extension point="org.eclipse.ui.popupMenus"> 
		<viewerContribution 
		      id="org.eclipse.birt.report.designer.ui.ide.Report"
			   targetID="org.eclipse.ui.views.ResourceNavigator">
			<menu
		         id="org.eclipse.birt.report.designer.ui.ide.Report"
		         label="%Menu.Report"
		         path="additions">
		    <groupMarker name="report"/>
		      </menu>
		 <visibility>
		    <or>
           <and>
              <objectClass
                    name="org.eclipse.core.resources.IFile">
              </objectClass>
              <objectState
                    name="contentTypeId"
                    value="org.eclipse.birt.report.designer.ui.editors.reportdesign">
              </objectState>
           </and>
         <and>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
            <objectState
                  name="contentTypeId"
                  value="org.eclipse.birt.report.designer.ui.editors.reporttemplate">
            </objectState>
         </and>
         <and>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
            <objectState
                  name="contentTypeId"
                  value="org.eclipse.birt.report.designer.ui.editors.reportlibrary">
            </objectState>
         </and>
             <and>
                <objectClass
                      name="org.eclipse.core.resources.IFile">
                </objectClass>
                <objectState
                      name="extension"
                      value="rptdocument">
                </objectState>
             </and>
	 	   </or>
		 </visibility>		
	   </viewerContribution>
	   <viewerContribution
	         id="org.eclipse.birt.report.designer.ui.ide.report.runReport"
	         targetID="org.eclipse.ui.views.ResourceNavigator">
	      <action
	            class="org.eclipse.birt.report.designer.ui.ide.navigator.RunReportAction"
	            enablesFor="1"
	            icon="icons/etool16/preview.gif"
	            id="org.eclipse.birt.report.designer.ui.ide.navigator.RunReportAction"
	            label="%Action.RunReport"
	            menubarPath="org.eclipse.birt.report.designer.ui.ide.Report/report"/>
	      <visibility>
             <or>
             <and>
                <objectClass
                      name="org.eclipse.core.resources.IFile">
                </objectClass>
                <objectState
                      name="contentTypeId"
                      value="org.eclipse.birt.report.designer.ui.editors.reportdesign">
                </objectState>
             </and>
                <and>
                   <objectClass
                         name="org.eclipse.core.resources.IFile">
                   </objectClass>
                   <objectState
                         name="contentTypeId"
                         value="org.eclipse.birt.report.designer.ui.editors.reporttemplate">
                   </objectState>
                </and>
             </or>
	      </visibility>
	   </viewerContribution>
	   <viewerContribution
	         id="org.eclipse.birt.report.designer.ui.ide.report.viewDocument"
	         targetID="org.eclipse.ui.views.ResourceNavigator">
	      <action
	            class="org.eclipse.birt.report.designer.ui.ide.navigator.ViewDocumentAction"
	            enablesFor="1"
	            icon="icons/etool16/preview.gif"
	            id="org.eclipse.birt.report.designer.ui.ide.navigator.ViewDocument"
	            label="%Action.ViewDocument"
	            menubarPath="org.eclipse.birt.report.designer.ui.ide.Report/report"/>
	      <visibility>
	         <and>
	            <objectClass name="org.eclipse.core.resources.IFile"/>
	            <objectState name="extension" value="rptdocument"/>
	         </and>
	      </visibility>
	   </viewerContribution>
    <viewerContribution
          id="org.eclipse.birt.report.designer.ui.ide.report.genDoc"
          targetID="org.eclipse.ui.views.ResourceNavigator">
       <action
             class="org.eclipse.birt.report.designer.ui.ide.navigator.GenerateDocumentAction"
             enablesFor="1"
             icon="icons/etool16/preview.gif"
             id="org.eclipse.birt.report.designer.ui.ide.navigator.GenDocumentAction"
             label="%Action.GenDocument"
             menubarPath="org.eclipse.birt.report.designer.ui.ide.Report/report">
       </action>
       <visibility>
           <or>
              <and>
                 <objectClass
                       name="org.eclipse.core.resources.IFile">
                 </objectClass>
                 <objectState
                       name="contentTypeId"
                       value="org.eclipse.birt.report.designer.ui.editors.reportdesign">
                 </objectState>
              </and>
              <and>
                 <objectClass
                       name="org.eclipse.core.resources.IFile">
                 </objectClass>
                 <objectState
                       name="contentTypeId"
                       value="org.eclipse.birt.report.designer.ui.editors.reporttemplate">
                 </objectState>
              </and>
             </or>
       </visibility>
    </viewerContribution>
	 
	</extension>
 <extension
       point="org.eclipse.ui.actionSetPartAssociations">
    <actionSetPartAssociation targetID="org.eclipse.birt.report.designer.ui.previewActionSet">
       <part id="org.eclipse.birt.report.designer.ui.editors.ReportEditor"/>
       <part id="org.eclipse.birt.report.designer.ui.editors.TemplateEditor"/>
    </actionSetPartAssociation>
    <actionSetPartAssociation targetID="org.eclipse.birt.report.designer.ui.viewDocumentActionSet">
       <part id="org.eclipse.birt.report.designer.ui.editors.IDEReportDocumentEditor" />
    </actionSetPartAssociation>
 </extension>	 
   
</plugin>
