<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

     <extension 
	 	point="org.eclipse.birt.report.engine.emitter.config"
	 	name = "PDF Emitter Descriptor">

        <descriptor
              class="org.eclipse.birt.report.engine.emitter.config.pdf.PDFEmitterDescriptor"
              id="org.eclipse.birt.report.engine.emitter.pdf"/>
  </extension>  
</plugin>
