<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   <extension-point id="browser" name="%extension-point.name" schema="schema/browser.exsd"/>
   <extension
         point="org.eclipse.birt.report.viewer.browser">
      <browser
            factoryclass="org.eclipse.birt.report.viewer.browsers.system.SystemBrowserFactory"
            name="Default System Browser"
            id="org.eclipse.birt.report.viewer.systembrowser">
      </browser>
      <browser
            factoryclass="org.eclipse.birt.report.viewer.browsers.embedded.EmbeddedBrowserFactory"
            name="Embedded Browser"
            id="org.eclipse.birt.report.viewer.embeddedbrowser">
      </browser>
      <browser
            factoryclass="org.eclipse.birt.report.viewer.browsers.custom.CustomBrowserFactory"
            name="Custom Browser"
            id="org.eclipse.birt.report.viewer.custombrowser">
      </browser>
   </extension>
   
   <extension id="ViewerProblemMarker" 
              point="org.eclipse.core.resources.markers"
              name="%birt.viewer.problem.marker"> 
       <persistent value="false"/> 
       <super type="org.eclipse.core.resources.problemmarker"/>
       <super type="org.eclipse.core.resources.textmarker"/>  
   </extension> 
   
   <extension-point
   		id="appcontext" 
   		name="%birt.viewer.extension.appcontext" 
   		schema="schema/appcontext.exsd"/>
</plugin>
