<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.birt.report.viewer"
   name="BIRT Web Viewer"
   version="2.0.2"
   provider-name="Eclipse.org"
   class="org.eclipse.birt.report.viewer.ViewerPlugin">

   <runtime>
      <library name="viewer.jar">
         <export name="*"/>
      </library>
      <library name="birt/WEB-INF/lib/viewservlets.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.tomcat"/>
      <import plugin="org.eclipse.birt.core"/>
      <import plugin="org.eclipse.birt.report.engine"/>
      <import plugin="org.eclipse.help.base"/>
      <import plugin="org.eclipse.help.appserver"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.birt.report.model"/>
      <import plugin="org.eclipse.birt.data"/>
      <import plugin="org.eclipse.birt.chart.engine"/>
   </requires>

   <extension-point id="browser" name="Web Browser" schema="schema/browser.exsd"/>

   <extension
         point="org.eclipse.birt.report.viewer.browser">
      <browser
            factoryclass="org.eclipse.birt.report.viewer.browsers.system.SystemBrowserFactory"
            name="Default System Browser"
            id="org.eclipse.birt.report.viewer.systembrowser">
      </browser>
      <browser
            factoryclass="org.eclipse.birt.report.viewer.browsers.embedded.EmbeddedBrowserFactory"
            name="Embedded Browser"
            id="org.eclipse.birt.report.viewer.embeddedbrowser">
      </browser>
      <browser
            factoryclass="org.eclipse.birt.report.viewer.browsers.custom.CustomBrowserFactory"
            name="Custom Browser"
            id="org.eclipse.birt.report.viewer.custombrowser">
      </browser>
   </extension>

</plugin>
