<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

     <!-- Extension points -->
   <extension-point id="odadatasource" name="%extension.odadatasource" schema="schema/datasource.exsd"/>
   <extension-point id="reportitemUI" name="%designer.ui.extensionPointName" schema="schema/reportitemUI.exsd"/>
   <extension-point id="menuBuilders" name="%extension.menuBuilders" schema="schema/menuBuilders.exsd"/>
   <extension-point id="elementAdapters" name="%extension-point.name" schema="schema/elementAdapters.exsd"/>
   <extension-point id="reportItemEditpart" name="%extension-point.name.0" schema="schema/reportItemEditpart.exsd"/>
   <extension-point id="DNDServices" name="%extension-point.name.1" schema="schema/DNDServices.exsd"/>

   
   <!-- ActionSets -->
   <extension
         point="org.eclipse.ui.actionSets">      
      <actionSet
            id="org.eclipse.birt.report.designer.ui.publishActionSet"
            label="%ActionSet.Publish"
            visible="false">
         <action
               class="org.eclipse.birt.report.designer.ui.actions.PublishTemplateAction"
               id="org.eclipse.birt.report.designer.ui.TemplatepublisAction"
               label="%publish.template"
               menubarPath="file/export"
               style="push"/>
         <action
               class="org.eclipse.birt.report.designer.ui.actions.PublishLibraryAction"
               id="org.eclipse.birt.report.designer.ui.LibraryPublisAction"
               label="%publish.library"
               menubarPath="file/export"
               style="push"/>
      </actionSet>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
          locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="undoredo.toolbar"
               label="%toolbar.label">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  id="undoredo.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  id="undoredo.redo"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <!-- Popup menu -->

   <!-- Preference pages --> 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.GeneralPreferencePage"
            name="%preference.birt"
            id="org.eclipse.birt.report.designer.ui.preferences"/>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.ElementNamesPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.elementnames"
            id="org.eclipse.birt.report.designer.ui.preferences.ElementNamesPreferencePage"/>
       <page
            class="org.eclipse.birt.report.designer.ui.preferences.TemplatePreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.template"
            id="org.eclipse.birt.report.designer.ui.preferences.TemplatePreferencePage"/>
       <page
             category="org.eclipse.birt.report.designer.ui.preferences"
             class="org.eclipse.birt.report.designer.ui.preferences.ResourcePreferencePage"
             id="org.eclipse.birt.report.designer.ui.preferences.ResourcePreferencePage"
             name="%preference.resource"/>           
       <page
            class="org.eclipse.birt.report.designer.ui.preferences.DateSetPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.datasetpreview"
            id="org.eclipse.birt.report.designer.ui.preferences.DateSetPreferencePage"/>    
       <page
            class="org.eclipse.birt.report.designer.ui.preferences.CommentTemplatesPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.commenttemplates"
            id="org.eclipse.birt.report.designer.ui.preferences.CommentTemplatesPreferencePage"/> 
       <!-- hcg_bidi -->            
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.BidiPropertiesPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.bidiproperties"
            id="org.eclipse.birt.report.designer.ui.preferences.BidiPropertiesPreferencePage"/>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.LayoutPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.layout"
            id="org.eclipse.birt.report.designer.ui.preferences.LayoutPreferencePage"/>
      <page
            category="org.eclipse.birt.report.designer.ui.preferences"
            class="org.eclipse.birt.report.designer.ui.preferences.ExpressionBuilderPreferencePage"
            id="org.eclipse.birt.report.designer.ui.preferences.ExpressionBuilderPreferencePage"
            name="%preference.expressionsyntax">
      </page>
      <page
            category="org.eclipse.birt.report.designer.ui.preferences"
            class="org.eclipse.birt.report.designer.ui.preferences.ClassPathPreferencesPage"
            id="org.eclipse.birt.report.designer.ui.preferences.ClassPathpreferencesPage"
            name="%preference.classpath">
      </page>
   </extension>
	
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            natureId="org.eclipse.birt.report.designer.ui.reportprojectnature"
            icon="icons/ovr16/report_project_over.gif"
            id="org.eclipse.birt.report.designer.ui.projectimage"/>
   </extension>
   <extension
         id="reportprojectnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.birt.report.designer.ui.ReportProjectNature"/>
      </runtime>
   </extension>
   
    <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.GeneralPreferencePage"
            name="%preference.birt"
            id="org.eclipse.birt.report.designer.ui.preferences">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.birt.report.designer.ui.reportprojectnature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.CommentTemplatesPreferencePage"
            id="org.eclipse.birt.report.designer.ui.preferences.CommentTemplatesPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.commenttemplates">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.birt.report.designer.ui.reportprojectnature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.ResourcePreferencePage"
            id="org.eclipse.birt.report.designer.ui.preferences.ResourcePropertyPage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.resource">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.birt.report.designer.ui.reportprojectnature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.TemplatePreferencePage"
            id="org.eclipse.birt.report.designer.ui.preferences.TemplatePreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.template">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.birt.report.designer.ui.reportprojectnature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.ElementNamesPreferencePage"
            id="org.eclipse.birt.report.designer.ui.preferences.ElementNamesPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.elementnames">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.birt.report.designer.ui.reportprojectnature"/>
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.birt.report.designer.ui.preferences"
            class="org.eclipse.birt.report.designer.ui.preferences.BidiPropertiesPreferencePage"
            id="org.eclipse.birt.report.designer.ui.preferences.BidiPropertiesPreferencePage"
            name="%preference.bidiproperties">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.birt.report.designer.ui.reportprojectnature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.birt.report.designer.ui.preferences"
            class="org.eclipse.birt.report.designer.ui.preferences.LayoutPreferencePage"
            id="org.eclipse.birt.report.designer.ui.preferences.LayoutPreferencePage"
            name="%preference.layout">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.birt.report.designer.ui.reportprojectnature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.birt.report.designer.ui.preferences"
            class="org.eclipse.birt.report.designer.ui.preferences.ExpressionBuilderPreferencePage"
            id="org.eclipse.birt.report.designer.ui.preferences.ExpressionBuilderPreferencePage"
            name="%preference.expressionsyntax">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.birt.report.designer.ui.reportprojectnature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.birt.report.designer.ui.preferences"
            class="org.eclipse.birt.report.designer.ui.preferences.ClassPathPreferencesPage"
            id="org.eclipse.birt.report.designer.ui.preferences.ClassPathpreferencesPage"
            name="%preference.classpath">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.birt.report.designer.ui.reportprojectnature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="rptdesign"
            type="text"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.birt.report.designer.ui.publishActionSet">
         <part id="org.eclipse.birt.report.designer.ui.editors.TemplateEditor"/>
         <part id="org.eclipse.birt.report.designer.ui.editors.LibraryEditor"/>
         <part id="org.eclipse.birt.report.designer.ui.editors.ReportEditor"/>
      </actionSetPartAssociation>
   </extension>
   <!-- used by extend item, for example: chart -->
   <extension
      	point="org.eclipse.core.expressions.propertyTesters">
   		<propertyTester
         	class="org.eclipse.birt.report.designer.internal.ui.extension.PropertyHandlePropertyTester"
         	id="ProertyHandleTester"
         	namespace="PropertyHandle"
         	properties="name,elementName"
         	type="org.eclipse.birt.report.model.api.PropertyHandle">
   		</propertyTester>
   		<propertyTester
         	class="org.eclipse.birt.report.designer.internal.ui.extension.ExtendItemHandlePropertyTester"
         	id="ExtendItemHandleTester"
         	namespace="ExtendItemHandle"
         	properties="extensionName,containerName,containerPropertyName"
         	type="org.eclipse.birt.report.model.api.ExtendedItemHandle">
   		</propertyTester>
   		<propertyTester
         	class="org.eclipse.birt.report.designer.internal.ui.extension.ElementContainerTester"
         	id="ElementContainerTester"
         	namespace="ElementContainer"
         	properties="containerName"
         	type="org.eclipse.birt.report.model.api.DesignElementHandle">
   		</propertyTester>
   		<propertyTester
         	class="org.eclipse.birt.report.designer.internal.ui.extension.SlotHandlePropertyTester"
         	id="SlotHandleTester"
         	namespace="SlotHandle"
         	properties="id,elementName"
         	type="org.eclipse.birt.report.model.api.SlotHandle">
   		</propertyTester>
     <propertyTester
           class="org.eclipse.birt.report.designer.internal.ui.extension.ActionPropertyTester"
           id="ActionPropertyTester"
           namespace="IAction"
           properties="id"
           type="org.eclipse.jface.action.IAction">
     </propertyTester>
     <propertyTester
           class="org.eclipse.birt.report.designer.internal.ui.extension.PathResourcePropertyTester"
           id="PathResourceTester"
           namespace="PathResource"
           properties="isFile,pathEndsWith"
           type="org.eclipse.birt.report.designer.internal.ui.resourcelocator.PathResourceEntry">
     </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.InsertHandler"
            id="org.eclipse.birt.report.designer.ui.command.insertCommand"
            name="%command.name">
      </command>
      <commandParameterType
            converter="org.eclipse.birt.report.designer.internal.ui.command.SlotHandleConverter"
            id="slothandle"/>
      <commandParameterType
            converter="org.eclipse.birt.report.designer.internal.ui.command.StringConverter"
            id="string"/>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.CopyHandler"
            id="org.eclipse.birt.report.designer.ui.command.copyAction"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.PasteHandler"
            id="org.eclipse.birt.report.designer.ui.command.pasteAction"
            name="%command.name.1">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.DeleteHandler"
            id="org.eclipse.birt.report.designer.ui.command.deleteCommand"
            name="%command.name.2">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.CutHandler"
            id="org.eclipse.birt.report.designer.ui.command.cutCommand"
            name="%command.name.3">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.InsertRowHandler"
            id="org.eclipse.birt.report.designer.ui.command.insertRowCommand"
            name="%command.name.4">
      </command>
      <commandParameterType
            converter="org.eclipse.birt.report.designer.internal.ui.command.IntegerConverter"
            id="integer">
      </commandParameterType>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.InsertColumnHandler"
            id="org.eclipse.birt.report.designer.ui.command.insertColumnCommand"
            name="%command.name.5">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.MergeHandler"
            id="org.eclipse.birt.report.designer.ui.command.mergeCommand"
            name="%command.name.6">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.SplitCellHandler"
            id="org.eclipse.birt.report.designer.ui.command.splitCommand"
            name="%command.name.7">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.CreatePlaceHolderHandler"
            id="org.eclipse.birt.report.designer.ui.command.createPlaceHolderCommand"
            name="%command.name.8">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.RevertToReportItemHandler"
            id="org.eclipse.birt.report.designer.ui.command.revertToReportItemCommand"
            name="%command.name.9">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.RevertToTemplateHandler"
            id="org.eclipse.birt.report.designer.ui.command.revertToTemplateCommand"
            name="%command.name.10">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.ApplyStyleHandler"
            id="org.eclipse.birt.report.designer.ui.command.applyStyleCommand"
            name="%command.name.11">
      </command>
      <commandParameterType
            converter="org.eclipse.birt.report.designer.internal.ui.command.BooleanConverter"
            id="boolean">
      </commandParameterType>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.EditGroupHandler"
            id="org.eclipse.birt.report.designer.ui.command.editGroupCommand"
            name="%command.name.12">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.InsertGroupHanlder"
            id="org.eclipse.birt.report.designer.ui.command.insertGroupCommand"
            name="%command.name.13">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.NewStyleHandler"
            id="org.eclipse.birt.report.designer.ui.command.newStyleCommand"
            name="%command.name.14">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.EditStyleHandler"
            id="org.eclipse.birt.report.designer.ui.command.editStyleCommand"
            name="%command.name.15">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.ImpotCSSStyleHandler"
            id="org.eclipse.birt.report.designer.ui.command.importCSSCommand"
            name="%command.name.16">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.RefreshLibraryHandler"
            id="org.eclipse.birt.report.designer.ui.command.refreshLibraryCommand"
            name="%command.name.17">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.ExportLibraryHandler"
            id="org.eclipse.birt.report.designer.ui.command.exportLibraryCommand"
            name="%command.name.18">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.PublishToTemplateHandler"
            id="org.eclipse.birt.report.designer.ui.command.publishToTemplateCommand"
            name="%command.name.19">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.PublishToLibraryHandler"
            id="org.eclipse.birt.report.designer.ui.command.publishToLibraryCommand"
            name="%command.name.20">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.EditHandler"
            id="org.eclipse.birt.report.designer.ui.command.editCommand"
            name="%command.name.21">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.BaseInsertHandler"
            id="org.eclipse.birt.report.designer.ui.command.baseInsertCommand"
            name="%command.name.22">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.InsertExpressionHandler"
            id="org.eclipse.birt.report.designer.ui.command.insertExpressionCommand"
            name="%command.name.23">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.DeleteRowHandler"
            id="org.eclipse.birt.report.designer.ui.command.deleteRowCommand"
            name="%command.name.24">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.DeleteColumnHandler"
            id="org.eclipse.birt.report.designer.ui.command.deleteColumnCommand"
            name="%command.name.25">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.DeleteGrouphandler"
            id="org.eclipse.birt.report.designer.ui.command.deleteGroupCommand"
            name="%command.name.26">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.EditBindingHandler"
            id="org.eclipse.birt.report.designer.ui.command.editBindingCommand"
            name="%command.name.27">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.ReloadCssStyleHandler"
            id="org.eclipse.birt.report.designer.ui.command.reloadCssStyleCommand"
            name="%command.name.28">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.CopyCellContentsHandler"
            id="org.eclipse.birt.report.designer.ui.command.copyCellContentsCommand"
            name="%command.name.29">
	  </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.CreateChartHandler"
            id="org.eclipse.birt.report.designer.ui.command.CreateChartViewCommand"
            name="%command.name.30">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.designer.internal.ui.command.ResetImageSizeHandler"
            id="org.eclipse.birt.report.designer.ui.command.resetImageSizeCommand"
            name="%command.name.31">
      </command>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.DNDServices">
      <dropAdapter
            adapter="org.eclipse.birt.report.designer.internal.ui.AggDataDropAdapter">
      </dropAdapter>
      <dropAdapter
            adapter="org.eclipse.birt.report.designer.internal.ui.VariableDropAdapter">
      </dropAdapter>
       <dropAdapter
            adapter="org.eclipse.birt.report.designer.internal.ui.TableDropAdapter">
      </dropAdapter>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.DataItemHandle">
         <adapter
               factory="org.eclipse.birt.report.designer.internal.ui.dialogs.BindingDialogFactory"
               id="org.eclipse.birt.report.designer.ui.bindingdialog.data"
               priority="3"
               singleton="false"
               type="org.eclipse.birt.report.designer.internal.ui.dialogs.IBindingDialogHelper">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.TableHandle">
         <adapter
               factory="org.eclipse.birt.report.designer.internal.ui.dialogs.BindingDialogFactory"
               id="org.eclipse.birt.report.designer.ui.bindingdialog.table"
               priority="3"
               singleton="false"
               type="org.eclipse.birt.report.designer.internal.ui.dialogs.IBindingDialogHelper">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.ListHandle">
         <adapter
               factory="org.eclipse.birt.report.designer.internal.ui.dialogs.BindingDialogFactory"
               id="org.eclipse.birt.report.designer.ui.bindingdialog.list"
               priority="3"
               singleton="false"
               type="org.eclipse.birt.report.designer.internal.ui.dialogs.IBindingDialogHelper">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.TextItemHandle">
         <adapter
               factory="org.eclipse.birt.report.designer.internal.ui.dialogs.BindingDialogFactory"
               id="org.eclipse.birt.report.designer.ui.bindingdialog.text"
               priority="3"
               singleton="false"
               type="org.eclipse.birt.report.designer.internal.ui.dialogs.IBindingDialogHelper">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.TextDataHandle">
         <adapter
               factory="org.eclipse.birt.report.designer.internal.ui.dialogs.BindingDialogFactory"
               id="org.eclipse.birt.report.designer.ui.bindingdialog.textdata"
               priority="3"
               singleton="false"
               type="org.eclipse.birt.report.designer.internal.ui.dialogs.IBindingDialogHelper">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.ImageHandle">
         <adapter
               factory="org.eclipse.birt.report.designer.internal.ui.dialogs.BindingDialogFactory"
               id="org.eclipse.birt.report.designer.ui.bindingdialog.image"
               priority="3"
               singleton="false"
               type="org.eclipse.birt.report.designer.internal.ui.dialogs.IBindingDialogHelper">
         </adapter>
         <adapter
               factory="org.eclipse.birt.report.designer.internal.ui.views.actions.ImageMenuAdapterFactory"
               id="org.eclipse.birt.report.designer.internal.ui.views.actions.image.reload"
               singleton="false"
               type="org.eclipse.jface.action.IMenuListener">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.GridHandle">
         <adapter
               factory="org.eclipse.birt.report.designer.internal.ui.dialogs.BindingDialogFactory"
               id="org.eclipse.birt.report.designer.ui.bindingdialog.image"
               priority="3"
               singleton="false"
               type="org.eclipse.birt.report.designer.internal.ui.dialogs.IBindingDialogHelper">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.TableHandle">
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.editors.schematic.editparts.TableHandleLayoutCheck"
               id="org.eclipse.birt.report.designer.ui.tablecheck"
               priority="10"
               type="org.eclipse.birt.report.designer.internal.ui.editors.schematic.editparts.ILayoutCheck">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.GridHandle">
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.editors.schematic.editparts.TableHandleLayoutCheck"
               id="org.eclipse.birt.report.designer.ui.gridcheck"
               priority="10"
               type="org.eclipse.birt.report.designer.internal.ui.editors.schematic.editparts.ILayoutCheck">
         </adapter>
      </adaptable>
   </extension>
   <extension
	point="org.eclipse.ui.contexts">
	<context
		name="%context.name"
		id="org.eclipse.birt.report.designer.internal.ui.editors.parts.graphicaleditorwithflyoutpalette.context"
		parentId="org.eclipse.ui.contexts.window">
	</context>
  </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.GuideFillColor"
            isEditable="false"
            label="%Dummy.label"
            value="239,239,247">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.GreyFillColor"
            isEditable="false"
            label="%Dummy.label"
            value="135,135,135">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.SelctionFillColor"
            isEditable="false"
            label="%Dummy.label"
            value="10,36,106">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.HandleBorderColor"
            isEditable="false"
            label="%Dummy.label"
            value="128,128,128">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.MarginBorderColor"
            isEditable="false"
            label="%Dummy.label"
            value="197,223,244">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.ListControlFillColor"
            isEditable="false"
            label="%Dummy.label"
            value="238,236,246">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.TableGuideTextColor"
            isEditable="false"
            label="%Dummy.label"
            value="147,137,145">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.ShadowLineColor"
            isEditable="false"
            label="%Dummy.label"
            value="204,204,204">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.MultipleSelectionHandleColor"
            isEditable="false"
            label="%Dummy.label"
            value="200,200,200">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.ReportRootBackgroundColor"
            isEditable="false"
            label="%Dummy.label"
            value="157,167,195">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.ReportBackground"
            isEditable="false"
            label="%Dummy.label"
            value="255,255,255">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.ReportForeground"
            isEditable="false"
            label="%Dummy.label"
            value="0,0,0">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.DarkShadowLineColor"
            isEditable="false"
            label="%Dummy.label"
            value="128,128,128">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.JSCOMMENTCOLOR"
            isEditable="false"
            label="%Dummy.label"
            value="63,127,95">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.JSSTRINGCOLOR"
            isEditable="false"
            label="%Dummy.label"
            value="42,0,255">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.JSKEYWORDCOLOR"
            isEditable="false"
            label="%Dummy.label"
            value="127,0,85">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.JSLINENUMBERCOLOR"
            isEditable="false"
            label="%Dummy.label"
            value="127,127,127">
      </colorDefinition>
      <theme
            id="org.eclipse.ui.ide.systemDefault">
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.GuideFillColor"
               value="COLOR_TITLE_INACTIVE_BACKGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.GreyFillColor"
               value="COLOR_LIST_BACKGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.SelctionFillColor"
               value="COLOR_LIST_SELECTION">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.HandleBorderColor"
               value="COLOR_WIDGET_BORDER">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.MarginBorderColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.ListControlFillColor"
               value="COLOR_LIST_BACKGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.TableGuideTextColor"
               value="COLOR_INFO_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.ShadowLineColor"
               value="COLOR_TITLE_INACTIVE_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.MultipleSelectionHandleColor"
               value="COLOR_LIST_BACKGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.ReportRootBackgroundColor"
               value="COLOR_LIST_BACKGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.ReportBackground"
               value="COLOR_LIST_BACKGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.ReportForeground"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.DarkShadowLineColor"
               value="COLOR_TITLE_INACTIVE_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.JSCOMMENTCOLOR"
               value="COLOR_LIST_SELECTION">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.JSSTRINGCOLOR"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.JSKEYWORDCOLOR"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.JSLINENUMBERCOLOR"
               value="COLOR_WIDGET_DARK_SHADOW">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.textFillColor"
               value="COLOR_LIST_FOREGROUND">
         </colorOverride>
         <colorOverride
               id="org.eclipse.birt.report.designer.ui.DarkGrayForground"
               value="COLOR_TITLE_FOREGROUND">
         </colorOverride>
      </theme>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.textFillColor"
            isEditable="false"
            label="%Dummy.label"
            value="135, 135, 135">
      </colorDefinition>
      <colorDefinition
            id="org.eclipse.birt.report.designer.ui.DarkGrayForground"
            isEditable="false"
            label="%Dummy.label"
            value="64,64,64">
      </colorDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:birtData">
         <menu
               id="ParameterActions"
               label="%parameter.actions">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:ParameterActions">
         <dynamic
               class="org.eclipse.birt.report.designer.internal.ui.ParameterActionsContributionItem"
               id="StandardParameterActions">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="java.lang.String">
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.script.JSExpressionSupport"
               id="org.eclipse.birt.report.designer.ui.JSExpressionSupport"
               singleton="true"
               type="org.eclipse.birt.report.designer.internal.ui.expressions.IExpressionSupport">
            <enablement>
               <equals
                     value="javascript">
               </equals></enablement>
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.ReportDesignHandle">
         <adapter
               factory="org.eclipse.birt.report.designer.internal.ui.dialogs.parameters.ReportHyperlinkParameterProviderFactory"
               id="ReportDesignHandle.ReportHyperlinkParameterProvider"
               singleton="false"
               type="org.eclipse.birt.report.designer.internal.ui.dialogs.parameters.IHyperlinkParameterProvider">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.ReportDesignHandle">
         <adapter
               class="org.eclipse.birt.report.designer.internal.ui.dialogs.parameters.RenderHyperlinkParameterProvider"
               id="ReportDesignHandle.RenderHyperlinkParameterProvider"
               singleton="true"
               type="org.eclipse.birt.report.designer.internal.ui.dialogs.parameters.IHyperlinkParameterProvider">
         </adapter>
      </adaptable>
   </extension>
   
</plugin>
