<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.birt.report.designer.ui"
   name="BIRT Designer UI"
   version="2.0.0"
   provider-name="Eclipse.org"
   class="org.eclipse.birt.report.designer.ui.ReportPlugin">

   <runtime>
      <library name="ui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.birt.core"/>
      <import plugin="org.eclipse.birt.report.model"/>
      <import plugin="org.eclipse.birt.report.engine"/>
      <import plugin="org.eclipse.birt.report.designer.core"/>
      <import plugin="org.eclipse.ui.forms"/>
      <import plugin="org.eclipse.ui.cheatsheets"/>
      <import plugin="org.eclipse.birt.report.viewer"/>
      <import plugin="org.eclipse.help.base"/>
      <import plugin="org.eclipse.datatools.connectivity.oda"/>
      <import plugin="org.eclipse.birt.data.oda"/>
      <import plugin="org.eclipse.birt.data"/>
      <import plugin="org.eclipse.team.core"/>
   </requires>
   
   <!-- Extension points -->
   <extension-point id="odadatasource" name="%extension.odadatasource" schema="schema/datasource.exsd"/>
   <extension-point id="reportitemUI" name="%designer.ui.extensionPointName" schema="schema/reportitemUI.exsd"/>
   <extension-point id="menuBuilders" name="%extension.menuBuilders" schema="schema/menuBuilders.exsd"/>
   

   <extension
         point="org.eclipse.ui.views">
      <view
            icon="icons/eview16/data_explorer_view.gif"
            class="org.eclipse.birt.report.designer.ui.views.data.DataView"
            category="org.eclipse.birt.report.designer.ui.views.category"
            name="%DataExplorerView"
            id="org.eclipse.birt.report.designer.ui.views.data.DataView"/>
      <view
            icon="icons/eview16/quick_edit.gif"
            class="org.eclipse.birt.report.designer.ui.views.attributes.AttributeView"
            category="org.eclipse.birt.report.designer.ui.views.category"
            name="%QuickEditView"
            id="org.eclipse.birt.report.designer.ui.attributes.AttributeView"/>
      <category
            name="%ReportViews"
            id="org.eclipse.birt.report.designer.ui.views.category"/>
            
   </extension>
   
   <!-- ActionSets -->
   <extension
         point="org.eclipse.ui.actionSets">      
      <actionSet
            id="org.eclipse.birt.report.designer.ui.publishActionSet"
            label="%ActionSet.Publish"
            visible="false">
         <action
               class="org.eclipse.birt.report.designer.ui.actions.PublishTemplateAction"
               id="org.eclipse.birt.report.designer.ui.TemplatepublisAction"
               label="%publish.template"
               menubarPath="file/export"
               style="push"/>
      </actionSet>
   </extension>
   
   <!-- Popup menu -->

   <!-- Preference pages --> 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.PreviewPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.preview"
            id="org.eclipse.birt.report.designer.ui.preferences.PreviewPreferencePage"/>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.PreviewServerPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences.PreviewPreferencePage"
            name="%preference.preview.server"
            id="org.eclipse.birt.report.designer.ui.preferences.PreviewServerPreferencePage"/>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.GeneralPreferencePage"
            name="%preference.birt"
            id="org.eclipse.birt.report.designer.ui.preferences"/>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.DateSetPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.datasetpreview"
            id="org.eclipse.birt.report.designer.ui.preferences.DateSetPreferencePage"/>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.ElementNamesPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.elementnames"
            id="org.eclipse.birt.report.designer.ui.preferences.ElementNamesPreferencePage"/>
      <page
            class="org.eclipse.birt.report.designer.ui.preferences.LibraryPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.library"
            id="org.eclipse.birt.report.designer.ui.preferences.LibraryPreferencePage"/>
       <page
            class="org.eclipse.birt.report.designer.ui.preferences.TemplatePreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.template"
            id="org.eclipse.birt.report.designer.ui.preferences.TemplatePreferencePage"/>           
            
   </extension>

   <!-- Preview browsers -->
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/my_first_report.xml"
            name="%cheatsheet.firstreport"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.firstreport"/>
      <category
            name="%cheatsheet.category"
            id="org.eclipse.birt.report.designer.ui.cheatsheetcategory"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/simple_listing.xml"
            name="%cheatsheet.simplelisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.simplelisting"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/grouped_listing.xml"
            name="%cheatsheet.groupedlisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.groupedlisting"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/dual_column_listing.xml"
            name="%cheatsheet.dualcolumnlisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.dualcolumnlisting"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/chart_listing.xml"
            name="%cheatsheet.chartlisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.chartlisting"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/dual_column_chart_listing.xml"
            name="%cheatsheet.dualcolumnchartlisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.dualchartlisting"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/sidebyside_chart_listing.xml"
            name="%cheatsheet.sidebysidechartlisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.sidebysidechartlisting"/>
       
   </extension>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            natureId="org.eclipse.birt.report.designer.ui.reportprojectnature"
            icon="icons/ovr16/report_project_over.gif"
            id="org.eclipse.birt.report.designer.ui.projectimage"/>
   </extension>
   <extension
         id="org.eclipse.birt.report.designer.ui.reportprojectnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.birt.report.designer.ui.ProjectNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="rptdesign"
            type="text"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.eclipse.birt.report.designer.ui.previewActionSet">
         <part id="org.eclipse.birt.report.designer.ui.editors.ReportEditor"/>
         <part id="org.eclipse.birt.report.designer.ui.editors.TemplateEditor"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation targetID="org.eclipse.birt.report.designer.ui.publishActionSet">
         <part id="org.eclipse.birt.report.designer.ui.editors.TemplateEditor"/>
      </actionSetPartAssociation>
   </extension>
</plugin>
