<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension 
	 	point="org.eclipse.birt.report.engine.emitters"
	 	name = "Engine PDF Emitters">

        <emitter
              class="org.eclipse.birt.report.engine.emitter.pdf.PDFEmitter"
              fileExtension="pdf"
              format="pdf"
              icon="resource/preview_pdf.gif"
              id="org.eclipse.birt.report.engine.emitter.pdf"
              mimeType="application/pdf"
              pagination="paper-size-pagination"/>
  </extension>  
</plugin>
