<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension-point id="reportItemModel" name="reportItemModel" schema="schema/reportItem.exsd"/>
   <extension-point id="encryptionHelper" name="encryptionHelper" schema="schema/encryptionHelper.exsd"/>
   <extension-point id="IScriptableObjectClassInfo" name="IScriptableObjectClassInfo" schema="schema/IScriptableObjectClassInfo.exsd"/>
	
   <extension
         id="DesignEngineFactory"
         name="DesignEngineFactory"
         point="org.eclipse.birt.core.FactoryService">
      <factory class="org.eclipse.birt.report.model.api.impl.DesignEngineFactory"/>
   </extension>
</plugin>
