<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.birt.report.model"
   name="BIRT Model"
   version="1.0.1"
   provider-name="Eclipse.org"
>
   <runtime>
      <library name="model.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-codec-1.3.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.birt.core"/>
      <import plugin="org.eclipse.birt.data.oda"/>
   </requires>
   <extension-point id="reportItemModel" name="reportItemModel" schema="schema/reportItem.exsd"/>
   <extension-point id="encryptionHelper" name="encryptionHelper" schema="schema/encryptionHelper.exsd"/>
</plugin>