/*
   ExternalCssStyleSheetTest1.css
*/

.table1 {

 /* font */

 border-left:medium dotted red; border-right:thin double blue; border-top:thick solid blue; border-bottom:thin dashed green; margin:auto; padding:1pt; background:green url('logo.gif') no-repeat fixed center; font-family : cursive;
    font-size : small;
    font-style : italic;
    font-weight : bolder;
    font-variant : small-caps;
    color : red;
   text-decoration : underline overline line-through;

 /* background */
 /* text */
    letter-spacing : normal;
    line-height : normal;
    text-align : justify;
    text-indent : 12mm;
    text-transform : uppercase;
    vertical-align : middle;
    white-space : nowrap;
    widows : inherit;
 orphans : inherit;
 word-spacing : normal;
    
    /* section */
    display : block;
    /* master-page : no definition */
    page-break-before : always;
 page-break-after : always;
 page-break-inside : avoid;
 show-if-blank : true;
 /* show-if-blank : no definition */
 
 /* box */
  
}

.table2 {

 font-family : arial;
 font-size : 12pt;
 color : rgb( 255, 0, 0);
 background-color : rgb( 0, 255, 0);
 background-position : 25% 25%;
    letter-spacing : 12em;
    line-height : 12px;
 vertical-align : align;
    widows : 3;
 orphans : 1;
    word-spacing : 12in;
 border-top-width : 1mm;
 border-top-color : rgb( 0, 0, 255);
 border-left-width : 1in;
 border-left-color : rgb( 255, 0, 0);
 border-bottom-width : 1cm;
 border-bottom-color : rgb( 0, 255, 0);
 border-right-width : 1px;
 border-right-color : rgb( 0, 0, 255);
 margin-top : 1em;
 margin-bottom : 1em;
 margin-left : 1em;
 margin-right : 1em;
}

.table3 {

 border-spacing : 12pt;
 border-collapse : separate;
 caption-side : bottom;
}
.table4 {

 /* font */

 border-left:medium dotted red; border-right:thin double blue; border-top:thick solid blue; border-bottom:thin dashed green; margin:auto; padding:1pt; background:green url('logo.gif') no-repeat fixed center; font-family : cursive;
    font-size : small;
    font-style : italic;
    font-weight : bolder;
    font-variant : small-caps;
    color : red;
   text-decoration : underline overline line-through;

 /* background */
 /* text */
    letter-spacing : normal;
    line-height : normal;
    text-align : justify;
    text-indent : 20mm;
    text-transform : uppercase;
    vertical-align : middle;
    white-space : nowrap;
    widows : inherit;
 orphans : inherit;
 word-spacing : normal;
    
    /* section */
    display : block;
    /* master-page : no definition */
    page-break-before : always;
 page-break-after : always;
 page-break-inside : avoid;
 show-if-blank : true;
 /* show-if-blank : no definition */
 
 /* box */
  
}

.table5 {

 font-family : arial;
 font-size : 12pt;
 color : rgb( 255, 0, 0);
 background-color : rgb( 0, 255, 0);
 background-position : 25% 25%;
    letter-spacing : 12em;
    line-height : 12px;
 vertical-align : align;
    widows : 3;
 orphans : 1;
    word-spacing : 12in;
 border-top-width : 1mm;
 border-top-color : rgb(255, 0, 255);
 border-left-width : 1in;
 border-left-color : rgb( 255, 255, 0);
 border-bottom-width : 1cm;
 border-bottom-color : rgb( 255, 255, 0);
 border-right-width : 1px;
 border-right-color : rgb( 0, 255, 255);
 margin-top : 1em;
 margin-bottom : 1em;
 margin-left : 1em;
 margin-right : 1em;
}

.table6 {

 border-spacing : 50pt;
 border-collapse : separate;
 caption-side : bottom;
}