<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.birt.report.engine.emitter.html"
   name="Html Emitter Plug-in"
   version="1.0.0"
   provider-name="">

   <runtime>
      <library name="htmlEmitter.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.birt.core"/>
      <import plugin="org.eclipse.birt.data"/>
      <import plugin="org.eclipse.birt.report.model"/>
      <import plugin="org.eclipse.birt.report.engine"/>
   </requires>
<extension 
	 	point="org.eclipse.birt.report.engine.emitterSet"
	 	name = "Engine Emitters">
	 	<emitter 
	  		format="html" 
	  		id="org.eclipse.birt.report.engine.emitter.html"
	  		class="org.eclipse.birt.report.engine.emitter.html.HTMLReportEmitter">
		  	<reportItem name="Container"
		   		id="org.eclipse.birt.report.engine.emitter.container.html"
		   		class="org.eclipse.birt.report.engine.emitter.html.HTMLContainerEmitter">
		  	</reportItem>
		  	<reportItem name="Image"
		   		id="org.eclipse.birt.report.engine.emitter.image.html"
		   		class="org.eclipse.birt.report.engine.emitter.html.HTMLImageEmitter">
		  	</reportItem>
		  	<reportItem name="Table"
		   		id="org.eclipse.birt.report.engine.emitter.table.html"
		   		class="org.eclipse.birt.report.engine.emitter.html.HTMLTableEmitter">
		  	</reportItem>
		  	<reportItem name="Text"
		   		id="org.eclipse.birt.report.engine.emitter.Text.html"
		   		class="org.eclipse.birt.report.engine.emitter.html.HTMLTextEmitter">
		  	</reportItem>
	 	</emitter>
 	</extension>
</plugin>
