/jspbirt-templates_de_DE.properties
/jspbirt-templates_es_ES.properties
/jspbirt-templates_fr_FR.properties
/jspbirt-templates_ja_JP.properties
/jspbirt-templates_ko_KR.properties
/jspbirt-templates_zh_CN.properties
