<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>



   <extension
         id="ChartWizardContext"
         name="Chart example types"
         point="org.eclipse.birt.chart.ui.types">
      <chartType
            classDefinition="org.eclipse.birt.chart.examples.radar.ui.type.RadarChart"
            name="Radar Chart"/>            
   </extension>   
   
   <extension
         point="org.eclipse.birt.chart.ui.seriescomposites">
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.examples.radar.ui.series.RadarSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.examples.radar.model.type.impl.RadarSeriesImpl"/>
   </extension>
</plugin>
