<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension 
	 	point="org.eclipse.birt.report.engine.emitters"
	 	name = "Engine PostScript Emitters">

        <emitter
              class="org.eclipse.birt.report.engine.emitter.postscript.PostscriptEmitter"
              format="postscript"
              pagination="paper-size-pagination"
              id="org.eclipse.birt.report.engine.emitter.postscript"
              mimeType="application/postscript"/>
  </extension>  
</plugin>
