<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   <extension-point id="org.eclipse.birt.report.engine.emitter.config" name="%extension-point.name" schema="schema/org.eclipse.birt.report.engine.emitter.config.exsd"/>
   <extension-point id="org.eclipse.birt.report.engine.emitter.config.DefaultConfigLoader" name="%extension-point.name.0" schema="schema/org.eclipse.birt.report.engine.emitter.config.defaultconfigloader.exsd"/>
   <extension
         id="EmitterConfigurationManagerFactory"
         name="%extension.name"
         point="org.eclipse.birt.core.FactoryService">
      <factory
            class="org.eclipse.birt.report.engine.emitter.config.impl.EmitterConfigurationManagerFactory">
      </factory>
   </extension>
   <extension
         id="DefaultConfigLoader"
         name="%extension.name.0"
         point="org.eclipse.birt.report.engine.emitter.config.DefaultConfigLoader">
         <descriptor
              class="org.eclipse.birt.report.engine.emitter.config.impl.JarConfigLoader"
              id="DefaultJarConfigLoader"/>
   </extension>
</plugin>
