<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.birt.report.engine.emitter.config" name="Emitter Descriptor" schema="schema/org.eclipse.birt.report.engine.emitter.config.exsd"/>
   <extension
         id="EmitterConfigurationManagerFactory"
         name="EmitterConfigurationManagerFactory"
         point="org.eclipse.birt.core.FactoryService">
      <factory
            class="org.eclipse.birt.report.engine.emitter.config.impl.EmitterConfigurationManagerFactory">
      </factory>
   </extension>
</plugin>
