<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.birt.chart.engine.devicerenderers">
      <deviceRenderer
            device="org.eclipse.birt.chart.device.pdf.PDFRendererImpl"
            name="dv.PDF"
            description="PDF Chart Renderer"/>            
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.displayservers">
      <displayserver
            server="org.eclipse.birt.chart.device.pdf.PDFDisplayServer"
            name="ds.PDF"/>
   </extension>
</plugin>
