<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          id="birt_all_in_one"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="BIRT Report Designer All-In-One">
          <property
                name="windowImages"
                value="images/p16.png,images/p32.png,images/p48.png,images/p64.png,images/p128.png,images/p256.png">
          </property>
          <property
                name="aboutText"
                value="BIRT: Business Intelligence Reporting Tool&#x0A;&#x0A;With BIRT you can create data visualizations, dashboards and reports&#x0A;that can be embedded into web applications and rich clients.&#x0A;&#x0A;BIRT is maintained by a small number of volunteers. Please consider&#x0A;contributing. The contribution guide can be found here:&#x0A;&#x0A;https://github.com/eclipse/birt/blob/master/CONTRIBUTING.md&#x0A; &#x0A;&#x0A;BIRT is an open source project under control of the Eclipse Foundation&#x0A;&#x0A;- Support: https://github.com/eclipse/birt/discussions&#x0A;- Issues: https://github.com/eclipse/birt/issues&#x0A;- Website https://eclipse.org/birt&#x0A;- Source: https://github.com/eclipse/birt&#x0A;&#x0A;&#x0A;&#x0A;Powered by the Eclipse Platform: https://eclipse.org/eclipse">
          </property>
          <property
                name="aboutImage"
                value="images/about.png">
          </property>
          <property
                name="appName"
                value="BIRT Report Designer All-In-One">
          </property>
       </product>
    </extension>
</plugin>
