<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.birt.core.ui.category"
            class="org.eclipse.birt.report.designer.ui.samplesview.view.ReportExamplesView"
            id="org.eclipse.birt.report.examples.view.examplesview"
            name="Report Examples"/>
   </extension>
</plugin>
