<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.birt.report.designer.ui.LibPerspective"
            id="org.eclipse.birt.report.designer.ui.lib.LibPerspective"
            name="%LibPerspective"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.LibraryReportEditor"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/report.gif"
            contributorClass="org.eclipse.birt.report.designer.ui.actions.LibraryActionBarContributor"
            name="%LibraryEditor"
            id="org.eclipse.birt.report.designer.ui.editors.LibraryReportEditor"
            extensions="rptlibrary"/>  
   </extension>

<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%WizardCategoryName"
            id="org.eclipse.birt.report.designer.ui.wizard.category"/>
      <wizard
            finalPerspective="org.eclipse.birt.report.designer.ui.LibPerspective"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_report.gif"
            class="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            project="false"
            name="%LibraryWizard"
            id="org.eclipse.birt.report.designer.ui.ide.wizards.NewLibraryWizard">
      <description>%LibraryWizardDescription</description>
      </wizard>
      
   </extension>
<extension
      point="org.eclipse.ui.views">
   <view
         category="org.eclipse.birt.report.designer.ui.views.category"
         class="org.eclipse.birt.report.designer.ui.lib.views.explorer.LibraryExplorerView"
         id="org.eclipse.birt.report.designer.ui.lib.views.explorer"
         name="Library Explorer"/>
</extension>           
</plugin>
