<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

     <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.birt.report.designer.ui.ReportPerspective">
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"/>
      </perspectiveExtension>      
   </extension>

   <extension
         point="org.eclipse.birt.report.designer.ui.editors.multiPageEditorContributor">
      <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.LibraryEditor">
      <formPage
            actionBarContributor="org.eclipse.birt.report.designer.internal.ui.editors.DesignerActionBarContributor"
            class="org.eclipse.birt.report.designer.ui.editors.LibraryLayoutEditorFormPage"
            displayName="%library.layout"
            id="org.eclipse.birt.report.designer.ui.editors.library.layout"
            visible="true"/>
      <formPage
            actionBarContributor="org.eclipse.birt.report.designer.internal.ui.editors.DesignerActionBarContributor"
            class="org.eclipse.birt.report.designer.ui.editors.LibraryMasterPageEditorFormPage"
            displayName="%design.masterPage"
            id="org.eclipse.birt.report.designer.ui.editors.masterpage"
            pageAction="org.eclipse.birt.report.designer.ui.editors.schematic.action.MasterPageAction"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.library.layout"
            visible="true"/>
      <formPage
            actionBarContributor="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportScriptFormPage"
            displayName="%library.script"
            id="org.eclipse.birt.report.designer.ui.editors.script"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.masterpage"
            visible="true"/>
      <formPage
            actionBarContributor="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportXMLSourceEditorFormPage"
            displayName="%library.xmlsource"
            id="org.eclipse.birt.report.designer.ui.editors.xmlsource"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.script"
            visible="true"/>
      </targetEditor>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.ModuleHandle">
         <adapter
               class="org.eclipse.birt.report.designer.internal.lib.editors.LibraryFileChangeResolve"
               id="org.eclipse.birt.report.designer.ui.lib.notify"
               priority="2"
               type="org.eclipse.birt.report.designer.internal.ui.editors.IRelatedFileChangeResolve">
         </adapter>
      </adaptable>
   </extension>
</plugin>
