<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.birt.report.designer.ui.ReportPerspective">
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"/>
      </perspectiveExtension>      
   </extension>

   <extension
         point="org.eclipse.birt.report.designer.ui.editors.multiPageEditorContributor">
      <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.LibraryEditor">
      <formPage
            actionBarContributor="org.eclipse.birt.report.designer.internal.ui.editors.DesignerActionBarContributor"
            class="org.eclipse.birt.report.designer.ui.editors.LibraryLayoutEditorFormPage"
            displayName="%library.layout"
            id="org.eclipse.birt.report.designer.ui.editors.library.layout"
            visible="true"/>
      <formPage
            actionBarContributor="org.eclipse.birt.report.designer.internal.ui.editors.DesignerActionBarContributor"
            class="org.eclipse.birt.report.designer.ui.editors.LibraryMasterPageEditorFormPage"
            displayName="%design.masterPage"
            id="org.eclipse.birt.report.designer.ui.editors.masterpage"
            pageAction="org.eclipse.birt.report.designer.ui.editors.schematic.action.MasterPageAction"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.library.layout"
            visible="true"/>
      <formPage
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportScriptFormPage"
            displayName="%library.script"
            id="org.eclipse.birt.report.designer.ui.editors.script"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.lib.editors.design.masterpage"
            visible="true"/>
      <formPage
            actionBarContributor="org.eclipse.ui.editors.text.TextEditorActionContributor"
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportXMLSourceEditorFormPage"
            displayName="%library.xmlsource"
            id="org.eclipse.birt.report.designer.ui.editors.xmlsource"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.library.script"
            visible="true"/>
      </targetEditor>
   </extension>
</plugin>
