<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    	<extension
	         point="org.eclipse.debug.core.launchConfigurationTypes">
	      <launchConfigurationType
	            name="%report.debug"
	            delegate="org.eclipse.birt.report.debug.ui.launcher.ReportLaunchConfigurationDelegate"
	            modes="debug"
	            id="org.eclipse.birt.report.debug.ui.ReportRuntimeWorkbench"
	            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
                sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
	      </launchConfigurationType>
   </extension>
   
    <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.birt.report.debug.ui.ReportRuntimeWorkbench"
            description="Run or debug a report Java program"
            class="org.eclipse.birt.report.debug.ui.launching.ReportTabGroup"
            id="org.eclipse.birt.report.debug.ui.launchConfigurationTabGroup.report">
      </launchConfigurationTabGroup>
   </extension>
   
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/full/ctool16/birtdebugger.gif"
	        configTypeID="org.eclipse.birt.report.debug.ui.ReportRuntimeWorkbench"
	        id="org.eclipse.birt.report.debug.ui.launchConfigurationTypeImage.report">
	    </launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.ui.startup">

     <startup class="org.eclipse.birt.report.debug.internal.ui.launcher.DebugStartupClass"/>

   </extension>
   
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="%javaSourceLocatorName"
            class="org.eclipse.jdt.launching.sourcelookup.JavaSourceLocator"
            id="org.eclipse.jdt.launching.javaSourceLocator">
      </sourceLocator>
   </extension>
</plugin>
