<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

   <!--
   <extension
	    point="org.eclipse.debug.core.launchConfigurationTypes">
	      <launchConfigurationType
	            name="%report.debug"
	            delegate="org.eclipse.birt.report.debug.ui.launcher.ReportLaunchConfigurationDelegate"
	            modes="debug"
	            id="org.eclipse.birt.report.debug.ui.ReportRuntimeWorkbench"
	            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
                sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
	      </launchConfigurationType>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    	  <launchConfigurationTabGroup
 	           type="org.eclipse.birt.report.debug.ui.ReportRuntimeWorkbench"
	           description="Run or debug a report Java program"
 	           class="org.eclipse.birt.report.debug.ui.launching.ReportTabGroup"
 	           id="org.eclipse.birt.report.debug.ui.launchConfigurationTabGroup.report">
    	  </launchConfigurationTabGroup>
   </extension>
   
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/full/ctool16/birtdebugger.gif"
	        configTypeID="org.eclipse.birt.report.debug.ui.ReportRuntimeWorkbench"
	        id="org.eclipse.birt.report.debug.ui.launchConfigurationTypeImage.report">
	    </launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.ui.startup">
     <startup class="org.eclipse.birt.report.debug.internal.ui.launcher.DebugStartupClass"/>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.sourceLocators">
   		   <sourceLocator
        		name="%javaSourceLocatorName"
            	class="org.eclipse.jdt.launching.sourcelookup.JavaSourceLocator"
            	id="org.eclipse.jdt.launching.javaSourceLocator">
   		   </sourceLocator>
   </extension>
   -->

     <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
            sourceLocatorId="org.eclipse.birt.report.debug.sourceLocator.script"
            name="%script.debug"
            sourcePathComputerId="org.eclipse.birt.report.debug.sourcePathComputer.script"
            delegate="org.eclipse.birt.report.debug.internal.ui.script.launcher.ReportApplicationLaunchDelegate"
            modes="debug"
            id="org.eclipse.birt.report.debug.ui.launchConfigurationType.script">
      </launchConfigurationType>
   </extension>
   
    <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    	  <launchConfigurationTabGroup
             class="org.eclipse.birt.report.debug.internal.ui.script.launcher.ScriptTabGroup"
             id="org.eclipse.birt.report.debug.ui.launchConfigurationTabGroup.script"
             type="org.eclipse.birt.report.debug.ui.launchConfigurationType.script">
    	  </launchConfigurationTabGroup>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/full/ctool16/birtdebugger.gif"
	        configTypeID="org.eclipse.birt.report.debug.ui.launchConfigurationType.script"
	        id="org.eclipse.birt.report.debug.ui.launchConfigurationTypeImage.report">
	    </launchConfigurationTypeImage>
	</extension>
	
	<extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.birt.report.debug.internal.script.model.ScriptModelPresentation"
            id="org.eclipse.birt.report.debug.script.model">
      </debugModelPresentation>
   </extension>
   
      <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
         <watchExpressionDelegate
         	debugModel="org.eclipse.birt.report.debug.script.model"
         	delegateClass="org.eclipse.birt.report.debug.internal.ui.script.ScriptWatchExpressionDelegate"/>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.eclipse.birt.report.debug.internal.script.model.ScriptBreakpointAdapterFactory"
            adaptableType="org.eclipse.birt.report.designer.ui.editor.script.DecoratedScriptEditor">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
         <adapter type="org.eclipse.debug.ui.actions.IRunToLineTarget"/>
      </factory>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.eclipse.birt.report.debug.internal.ui.script.launcher.sourcelookup.ScriptSourcePathComputerDelegate"
            id="org.eclipse.birt.report.debug.sourcePathComputer.script">
      </sourcePathComputer>
   </extension>
      
    <extension
         point="org.eclipse.debug.core.sourceLocators">
       <sourceLocator
            name="%Script.source.locator"
            class="org.eclipse.birt.report.debug.internal.ui.script.launcher.sourcelookup.ScriptSourceLookupDirector"
            id="org.eclipse.birt.report.debug.sourceLocator.script">
      </sourceLocator>
   </extension>
   
   <extension
         id="script debug editor"
         point="org.eclipse.ui.editors">
      <editor
            name="%Debug.jsEditor"
            default="true"
            icon="icons/full/ctool16/birtdebugger.gif"
            contributorClass="org.eclipse.birt.report.debug.internal.ui.script.actions.ScriptActionBarContributor"
            class="org.eclipse.birt.report.debug.internal.ui.script.editor.DebugJsEditor"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont"
            id="org.eclipse.birt.report.debug.internal.ui.script.editor.DebugJsEditor">
      </editor>
     </extension>
     
     <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.birt.report.debug.internal.ui.script.editor.ScriptEditorInputFactory"
            id="org.eclipse.birt.report.debug.ui.script.ScriptEditorInputFactory"/>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.birt.report.debug.internal.ui.script.editor.DebugJsEditor"
            id="org.eclipse.birt.report.debug.internal.ui.script.editor.DebugJsEditor.BreakpointRulerActions">
         <action
               label="%ToggleBreakpoint.label"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"
               id="org.eclipse.birt.report.debug.internal.ui.script.editor.DebugJsEditor.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
    </extension>
    
    
      <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.birt.report.designer.ui.editor.script.DecoratedScriptEditor"
            id="org.eclipse.birt.report.designer.ui.editor.script.BreakpointRulerActions">
         <action
               label="%ToggleBreakpoint.label"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"
               id="org.eclipse.birt.report.designer.ui.editor.script.DecoratedScriptEditor.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
    </extension>
    
    <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.eclipse.birt.report.debug.ui.script.scriptLineBreakpointMarker"
            class="org.eclipse.birt.report.debug.internal.script.model.ScriptLineBreakpoint"
            id="org.eclipse.birt.report.debug.script.LineBreakpoint">
      </breakpoint>
     </extension>
     
     <extension
         id="script.scriptLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
         <viewerContribution
            targetID="#ScriptRulerContext"
            id="org.eclipse.Script.debug.ui.ScriptRulerPopupActions">
         <action
               label="%EnableBreakpoint.label"
               helpContextId="enable_disable_breakpoint_action_context"
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               menubarPath="debug"
               id="org.eclipse.jdt.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate">
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               helpContextId="manage_breakpoint_action_context"
               icon="icons/full/ctool16/brkp_obj.gif"
               id="org.eclipse.jdt.debug.ui.actions.BreakpointRulerActionDelegate"
               label="%ToggleBreakpoint.label"
               menubarPath="debug">
         </action>
      </viewerContribution>
    </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.birt.report.designer.ui.ide.reportMenu">
         <command commandId="org.eclipse.birt.report.designer.ui.ide.debugReport.command"
               label="%Action.DebugReport"
               icon="icons/full/ctool16/birtdebugger.gif"
               style="push">

            <visibleWhen>
               <with variable="selection">
                  <iterate operator="or" ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IResource">
                        <or>
                           <test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.birt.report.designer.ui.editors.reporttemplate" />
                           <test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.birt.report.designer.ui.editors.reportdesign" />
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

    <extension point="org.eclipse.jdt.launching.classpathProviders">
       <classpathProvider
          id="org.eclipse.birt.report.debug.script.ScriptDebugClasspathProvider"
          class="org.eclipse.birt.report.debug.internal.ui.script.launcher.ScriptDebugClasspathProvider">
       </classpathProvider>
    </extension>
 
   <extension
         point="org.eclipse.ui.popupMenus">
         <viewerContribution
            targetID="#ReportScriptRulerContext"
            id="org.eclipse.birt.report.designer.ui.ScriptRulerPopupActions">
         <action
               label="%EnableBreakpoint.label"
               helpContextId="enable_disable_breakpoint_action_context"
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               menubarPath="debug"
               id="org.eclipse.jdt.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate">
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               helpContextId="manage_breakpoint_action_context"
               icon="icons/full/ctool16/brkp_obj.gif"
               id="org.eclipse.jdt.debug.ui.actions.BreakpointRulerActionDelegate"
               label="%ToggleBreakpoint.label"
               menubarPath="debug">
         </action>
      </viewerContribution>
    </extension> 
    
    		      <extension
         point="org.eclipse.ui.popupMenus">
  <viewerContribution
            targetID="#ScriptEditorContext"
            id="org.eclipse.jdt.debug.ui.CUPopupActions">
         <visibility>
            <and>
               <systemProperty
                     name="org.eclipse.birt.report.script.debug.launching.debuggerActive"
                     value="true">
               </systemProperty>
               <objectClass
                     name="org.eclipse.jface.text.ITextSelection">
               </objectClass>
            </and>
         </visibility>
         
         <action
               label="%Watch.label"
               helpContextId="watch_action_context"
               class="org.eclipse.jdt.internal.debug.ui.actions.WatchAction"
               menubarPath="additions"
               id="org.eclipse.jdt.debug.ui.cuPopup.Watch">
         </action>
      </viewerContribution>
      </extension> 
      
        
  <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.birt.report.debug.internal.ui.script.launcher.ScriptLaunchShortcut"
            description="%JavaLaunchShortcut.description"
            helpContextId="org.eclipse.jdt.debug.ui.shortcut_local_java_application"
            icon="$nl$/icons/full/ctool16/birtdebugger.gif"
            id="org.eclipse.birt.report.debug.script.ScriptLaunchShortcut"
            label="%ScriptLaunchShortcut.label"
            modes="debug">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
                
             <count
                   value="1">
             </count>
             <iterate>
                <and>
                <test
                      forcePluginActivation="true"
                      property="scriptdebug.isRptdesign">
                </test></and>
             </iterate>
               </with>
           </enablement>
  		 </contextualLaunch>
         <configurationType
               id="org.eclipse.birt.report.debug.ui.launchConfigurationType.script">
         </configurationType>
        
         <description
               description="%DebugReportLaunchShortcut.description"
               mode="debug">
         </description>
      </shortcut>
   </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.eclipse.birt.report.debug.internal.ui.script.ScriptDebuggerPropertyTester"
           id="org.eclipse.birt.report.debug.ui.propertyTester1"
           namespace="scriptdebug"
           properties="isRptdesign"
           type="org.eclipse.core.runtime.IAdaptable">
     </propertyTester>
  </extension>
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="org.eclipse.birt.report.debug.ui.DeubgScript"
           label="%ReportActionSet"
           visible="false">
        <action
              class="org.eclipse.birt.report.debug.internal.ui.script.actions.DebugScriptAction"
              icon="$nl$/icons/full/ctool16/birtdebugger.gif"
              id="org.eclipse.birt.report.debug.ui.DebugScript"
              label="%LaunchActionSet.label"
              menubarPath="org.eclipse.ui.run/preview"
              style="push">
        </action>
        <menu
              id="org.eclipse.ui.run"
              label="%Run"
              path="additions">
           <groupMarker
                 name="preview">
           </groupMarker>
        </menu>
     </actionSet>
  </extension>
  <extension
        point="org.eclipse.ui.actionSetPartAssociations">
     <actionSetPartAssociation
           targetID="org.eclipse.birt.report.debug.ui.DeubgScript">
        <part
              id="org.eclipse.birt.report.designer.ui.editors.ReportEditor">
        </part>
        <part
              id="org.eclipse.birt.report.designer.ui.editors.TemplateEditor">
        </part>
     </actionSetPartAssociation>
  </extension>

   <extension point="org.eclipse.ui.commands">
      <command id="org.eclipse.birt.report.designer.ui.ide.debugReport.command" name="%Action.DebugReport"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler commandId="org.eclipse.birt.report.designer.ui.ide.debugReport.command" class="org.eclipse.birt.report.debug.internal.ui.script.handlers.DebugResourceHandler"/>
   </extension>
</plugin>
