<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
  <!-- Preview browsers -->
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/my_first_report.xml"
            name="%cheatsheet.firstreport"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.firstreport"/>
      <category
            name="%cheatsheet.category"
            id="org.eclipse.birt.report.designer.ui.cheatsheetcategory"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/simple_listing.xml"
            name="%cheatsheet.simplelisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.simplelisting"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/grouped_listing.xml"
            name="%cheatsheet.groupedlisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.groupedlisting"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/dual_column_listing.xml"
            name="%cheatsheet.dualcolumnlisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.dualcolumnlisting"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/chart_listing.xml"
            name="%cheatsheet.chartlisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.chartlisting"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/dual_column_chart_listing.xml"
            name="%cheatsheet.dualcolumnchartlisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.dualchartlisting"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/sidebyside_chart_listing.xml"
            name="%cheatsheet.sidebysidechartlisting"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.sidebysidechartlisting"/>
      <cheatsheet
            category="org.eclipse.birt.report.designer.ui.cheatsheetcategory"
            contentFile="$nl$/templates/crosstab.xml"
            name="%cheatsheet.crosstab"
            id="org.eclipse.birt.report.designer.ui.cheatsheet.crosstab"/>
   </extension>

</plugin>
