<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
<!--
     <extension
         id="org.eclipse.birt.report.tests.model.reportItem"
         name="testItem"
         point="org.eclipse.birt.report.model.reportItemModel">
      <reportItem 
             class="org.eclipse.birt.report.tests.model.reportItem.TestReportItemFactoryImpl"
             extensionName="item1"
             isNameRequired="true"
             displayNameID="report.item1">
           <property 
                 defaultValue="default test&amp;&quot;&lt;" 
		  		 type="string" 
				 displayNameID="element.testingMatrix.test1" 
				 name="test1"/>
		   <property 
			     type="integer" 
                 displayNameID="element.testingMatrix.test2" 
  	 		     canInherit="false" 
		 		 name="test2"/>
		   <property
     			 displayNameID="element.testingMatrix.test3"
	 			 name="test3"     
     		     type="xml"/>     
		   <property type="choice" 
                 displayNameID="element.testingMatrix.test5" 
                 canInherit="false" 
                 name="test5">
               <choice value="one" 
   					displayNameID="choices.test5.choice1" 
					name="choice1"/>
			   <choice value="two" 
					displayNameID="choices.test5.choice2" 
					name="choice2"/>
			   <choice value="three" 
				    displayNameID="choices.test5.choice3" 
					name="choice3"/>
			</property>

 		  <propertyGroup name="group1" 
				 displayNameID="element.testingMatrix.group1">
			  <property type="string"
					displayNameID="element.testingMatrix.test6"
   					name="test6"/>
			  <property type="integer"
    				displayNameID="element.testingMatrix.test7"
					name="test7"/>
		  </propertyGroup>
   </reportItem>      
    
   </extension>
-->
</plugin>
