<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
         point="org.eclipse.help.toc">
      <toc
            primary="true"
            file="BIRTChartToc.xml"/>
      <toc
            file="ChartRefToc.xml" />
   </extension>
    <extension
          point="org.eclipse.pde.core.javadoc">
       <javadoc
             archive="true"
             path="chart/api,chartscript/api">
          <plugin
                id="org.eclipse.birt.chart.engine">
          </plugin>
       </javadoc>
       <javadoc
             archive="true"
             path="chartui/api/">
          <plugin
                id="org.eclipse.birt.chart.ui">
          </plugin>
       </javadoc>
    </extension>

</plugin>
