<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.birt.report.designer.ui.lib.explorer"
   name="BIRT Library Explorer Plug-in"
   version="2.1.0"
   provider-name="Eclipse.org"
   class="org.eclipse.birt.report.designer.ui.lib.explorer.LibraryExplorerPlugin">

   <runtime>
      <library name="libexplorer.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.birt.report.designer.core"/>
      <import plugin="org.eclipse.birt.report.model"/>
      <import plugin="org.eclipse.birt.report.designer.ui"/>
      <import plugin="org.eclipse.birt.core"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.birt.report.designer.ui.lib"/>
   </requires>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.birt.report.designer.ui.views.category"
            class="org.eclipse.birt.report.designer.ui.lib.explorer.LibraryExplorerView"
            icon="icons/full/eview16/library_explorer.gif"
            id="org.eclipse.birt.report.designer.ui.lib.explorer.view"
            name="%LibraryExplorer"/>
   </extension>

</plugin>
