<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.birt.doc"
   name="BIRT Documentation"
   version="2.0.0"
   provider-name="Eclipse.org">
   <requires>
      <import plugin="org.eclipse.help"/>
   </requires>
   <extension
         point="org.eclipse.help.toc">
      <toc
            primary="true"
            file="BIRTToc.xml"/>
      <toc
            primary="true"
            file="UserToc.xml"/>
      <toc
            file="RefToc.xml"/>
   </extension>

</plugin>
