<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
         point="org.eclipse.help.toc">
      <toc
            primary="true"
            file="BIRTToc.xml"/>
      <toc
            file="UserToc.xml"/>
      <toc
            file="RefToc.xml" />
   </extension>

</plugin>
