<?xml version="1.0" encoding="utf-8"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Eclipse BIRT Chart Viewer</display-name>

	<!-- Servlet Context Listener -->
	<listener>
		<listener-class>
			org.eclipse.birt.chart.viewer.internal.listener.ChartServletContextListener
		</listener-class>
	</listener>

	<!-- Http Session Listener -->
	<listener>
		<listener-class>
			org.eclipse.birt.chart.viewer.internal.listener.ChartHttpSessionListener
		</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<taglib>
		<taglib-uri>/chart.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/chart.tld</taglib-location>
	</taglib>

</web-app>
