<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.birt.report.designer.ui.samplesview.view.ReportExamples"
            class="org.eclipse.birt.report.designer.ui.internal.samples.ide.adapters.SampleReportsEntryAdapterFactory">
         <adapter
               type="org.eclipse.birt.report.designer.ui.samplesview.sampleslocator.ISampleReportEntry">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.birt.report.designer.ui.samplesview.view.ReportExamplesView"
            class="org.eclipse.birt.report.designer.ui.internal.samples.ide.adapters.OpenSampleActionAdapterFactory">
         <adapter
               type="org.eclipse.jface.action.IAction">
         </adapter>
      </factory>
   </extension>

</plugin>
