<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="chart"
         name="The chart extension"
         point="org.eclipse.birt.report.model.reportItemModel">
      <reportItem
            class="org.eclipse.birt.chart.reportitem.ChartReportItemFactoryImpl"
            defaultStyle="chart"
            displayNameID="Element.Chart"
            extendsFrom="ReportItem"
            extensionName="Chart"
            hasStyle="true"
            isNameRequired="true">
         <style name="chart" displayNameID="Element.Chart"/>
         <property
               type="xml"
               displayNameID="Element.Chart.xmlRepresentation"
               name="xmlRepresentation"/>
         <property
               type="string"
               displayNameID="Element.Chart.outputFormat"
               name="outputFormat"/>
         <propertyVisibility
               visibility="hide"
               name="outputFormat"/>
         <propertyVisibility
               visibility="hide"
               name="xmlRepresentation"/>
         <property
               detailType="Action"
               displayNameID="Element.Chart.action"
               isList="false"
               name="action"
               type="structure"/>
    	<property detailType="SortKey" 
    		displayNameID="Element.ListingGroup.sort" 
    		isList="true" 
    		name="sort" 
    		type="structure"/>
         <overrideProperty
               allowedChoices="in,cm,mm,pt,pc,em,ex,px"
               propertyName="width">
         </overrideProperty>
         <overrideProperty
               allowedChoices="in,cm,mm,pt,pc,em,ex,px"
               propertyName="height">
         </overrideProperty>
         <method
               context="presentation"
               displayNameID="Element.ExtendedItem.onRender"
               isStatic="false"
               name="onRender"
               toolTipID="Element.ExtendedItem.onRender.toolTip">
         </method>
         <property
               detailType="FilterCondition"
               displayNameID="Element.ExtendedItem.filter"
               isList="true"
               name="filter"
               type="structure">
         </property>
         
      </reportItem>
   </extension>
   <extension
         id="chart"
         name="The chart extension"
         point="org.eclipse.birt.report.engine.reportitemPresentation">
      <reportItem
            class="org.eclipse.birt.chart.reportitem.ChartReportItemPresentationProxy"
            name="Chart"
            supportedFormats="jpeg; png; gif; bmp"/>
   </extension>
   <extension
         point="org.eclipse.birt.report.engine.reportitemGeneration">
      <reportItem
            class="org.eclipse.birt.chart.reportitem.ChartReportItemGenerationProxy"
            name="Chart"/>
   </extension>
   <extension
         point="org.eclipse.birt.report.engine.reportitemQuery">
      <reportItem
            getAllRows="true"
            name="Chart">
      </reportItem>
   </extension>
   <extension
         point="org.eclipse.birt.report.model.IScriptableObjectClassInfo">
      <scriptableClassInfo
            class="org.eclipse.birt.chart.reportitem.ChartScriptableClassInfo"
            extensionName="Chart">
      </scriptableClassInfo>
   </extension>
   
</plugin>
