<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="chart"
         name="The chart extension"
         point="org.eclipse.birt.report.model.reportItemModel">
      <reportItem
            class="org.eclipse.birt.chart.reportitem.ChartReportItemFactoryImpl"
            isNameRequired="true"
            displayNameID="Element.Chart"
            defaultStyle="chart"
            extensionName="Chart">
         <style name="chart" displayNameID="Element.Chart"/>
         <property
               type="xml"
               displayNameID="Element.Chart.xmlRepresentation"
               name="xmlRepresentation"/>
         <property
               type="string"
               displayNameID="Element.Chart.outputFormat"
               name="outputFormat"/>
         <propertyVisibility
               visibility="hide"
               name="outputFormat"/>
         <propertyVisibility
               visibility="hide"
               name="xmlRepresentation"/>
         <property
               detailType="Action"
               displayNameID="Element.Chart.action"
               isList="false"
               name="action"
               type="structure"/>
      </reportItem>
   </extension>
   <extension
         id="chart"
         name="The chart extension"
         point="org.eclipse.birt.report.engine.reportitemPresentation">
      <reportItem
            class="org.eclipse.birt.chart.reportitem.ChartReportItemPresentationImpl"
            name="Chart"
            supportedFormats="jpeg; png; gif; bmp"/>
   </extension>
   <extension
         point="org.eclipse.birt.report.engine.reportitemGeneration">
      <reportItem
            class="org.eclipse.birt.chart.reportitem.ChartReportItemGenerationImpl"
            name="Chart"/>
   </extension>
   
</plugin>
