<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point 
   		id="multiPageEditorContributor" 
   		name="multiPageEditorContributor" 
   		schema="schema/multiPageEditorContributor.exsd"/>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            id="org.eclipse.birt.report.designer.ui.editors.reportdesign"
            name="%contenttype.design"
            priority="normal">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="report"/>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            id="org.eclipse.birt.report.designer.ui.editors.reportlibrary"
            name="%contenttype.library"
            priority="normal">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="library"/>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            id="org.eclipse.birt.report.designer.ui.editors.reporttemplate"
            name="%contenttype.template"
            priority="normal">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="template"/>
         </describer>
      </content-type>
      <content-type
            default-charset="UTF-8"
            id="org.eclipse.birt.report.designer.ui.editors.reportdocument"
            name="report document"
            priority="normal">
         <describer
               class="org.eclipse.birt.report.designer.ui.editors.ReportDocumentDescript">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.birt.report.designer.internal.ui.editors.ReportEditorInputFactory"
            id="org.eclipse.birt.report.designer.ui.ReportEditorInputFactory"/>
   </extension>
</plugin>
