<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.birt.chart.engine.modelrenderers">
      <modelRenderer
            renderer="org.eclipse.birt.chart.examples.radar.render.Radar"
            series="org.eclipse.birt.chart.examples.radar.model.type.impl.RadarSeriesImpl"/>
   </extension>
      <extension
         point="org.eclipse.birt.chart.engine.datasetprocessors">
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.examples.radar.model.type.impl.RadarSeriesImpl"/>
      </extension>
      <extension
            point="org.eclipse.birt.chart.engine.charttypes">
         <chartType
               modelLoader="org.eclipse.birt.chart.examples.radar.model.RadarModelLoader"
               namespaceURI="http://www.birt.eclipse.org/RadarChartModelType"
               packageLoader="org.eclipse.birt.chart.examples.radar.model.RadarTypePackageLoader"
               typePackage="org.eclipse.birt.chart.examples.radar.model.RadarTypePackageLoader">
         </chartType>
      </extension>
      

</plugin>
