<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   <extension
         point="org.eclipse.birt.chart.engine.modelrenderers">
      <modelRenderer
            renderer="org.eclipse.birt.chart.examples.radar.render.Radar"
            series="org.eclipse.birt.chart.examples.radar.model.type.impl.RadarSeriesImpl"/>
   </extension>
      <extension
         point="org.eclipse.birt.chart.engine.datasetprocessors">
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.examples.radar.model.type.impl.RadarSeriesImpl"/>
      </extension>
      <extension
            point="org.eclipse.birt.chart.engine.charttypes">
         <chartType
               modelLoader="org.eclipse.birt.chart.examples.radar.model.RadarModelLoader"
               namespaceURI="http://www.birt.eclipse.org/RadarChartModelType"
               packageLoader="org.eclipse.birt.chart.examples.radar.model.RadarTypePackageLoader"
               typePackage="org.eclipse.birt.chart.examples.radar.model.RadarTypePackageLoader">
         </chartType>
      </extension>
      

</plugin>
