<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

	<!--======================================================================================-->
	<!--         BIRT Web Project Wizard                                                      -->
	<!--======================================================================================-->
	<extension point="org.eclipse.wst.common.ui.exampleProjectCreationWizard">
		<wizard	id="org.eclipse.birt.chart.integration.wtp.ui.BirtExampleProjectCreationWizard">
			<projectsetup>
				<import	src="runtime/chart.zip" />
			</projectsetup>
		</wizard>
	</extension>
          			
	<!-- Project Facets -->
	
	<extension point="org.eclipse.wst.common.project.facet.core.facets">
		
		<project-facet id="birt.chart.runtime">
			<label>%BIRT_FACET_LABEL</label>
			<description>%BIRT_FACET_DESCRIPTION</description>
		</project-facet>
		
		<project-facet-version facet="birt.chart.runtime" version="%runtime.version">
			<constraint>
				<and>
					<requires facet="jst.web" version="[2.3"/>
					<requires facet="jst.java" version="[5.0"/>
					<conflicts group="group.birt.runtime"/>
				</and>
			</constraint>
			<group-member id="group.birt.chart.runtime"/>
		</project-facet-version>
		
		<action facet="birt.chart.runtime" version="%runtime.version" type="INSTALL" id="birt.chart.runtime.install">
			<delegate class="org.eclipse.birt.chart.integration.wtp.ui.project.facet.BirtFacetInstallDelegate"/>
			<config-factory class="org.eclipse.birt.chart.integration.wtp.ui.project.facet.BirtFacetInstallDataModelProvider"/>
		</action>
		
		<event-handler facet="birt.chart.runtime" version="%runtime.version" type="RUNTIME_CHANGED">
			<delegate class="org.eclipse.birt.chart.integration.wtp.ui.project.facet.BirtFacetRuntimeChangedDelegate"/>
		</event-handler>
		
		<event-handler facet="birt.chart.runtime" version="%runtime.version" type="POST_INSTALL">
			<delegate class="org.eclipse.birt.chart.integration.wtp.ui.project.facet.BirtFacetPostInstallDelegate"/>
		</event-handler>
		
		<template id="template.birt.chart.runtime">
			<label>%BIRT_FACET_TEMPLATE_LABEL</label>
			<fixed facet="birt.chart.runtime"/>
			<fixed facet="jst.java"/>
			<fixed facet="jst.web"/>
			<preset id="preset.birt.chart.runtime"/>
		</template>
		
	</extension>
	
	<extension point="org.eclipse.wst.common.project.facet.core.presets">
		<dynamic-preset id="preset.birt.chart.runtime">
			<factory class="org.eclipse.birt.chart.integration.wtp.ui.project.facet.BirtFacetPresetFactory" />			
		</dynamic-preset>
	</extension>
	
	<extension point="org.eclipse.wst.common.project.facet.core.runtimes">
		<supported>
			<facet id="birt.chart.runtime" version="%runtime.version"/>
			<runtime-component any="true"/>
		</supported>
	</extension>
      	
	<!--======================================================================================-->
	<!--         Templates                                                                    -->
	<!--======================================================================================-->
	<extension point="org.eclipse.ui.editors.templates">

		<contextType
			class="org.eclipse.jst.jsp.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_new" />

		<contextType
			class="org.eclipse.jst.jsp.ui.internal.templates.TemplateContextTypeJSP"
			id="jsp_tag" />
			
		<include
			file="templates/jspbirtchart-templates.xml"
			translations="templates/jspbirtchart-templates.properties" />

	</extension>
	
	<!--======================================================================================-->
	<!--         Web Application Resources Settings                                           -->
	<!--======================================================================================-->
	<extension-point id="birtResourcesDefinition" name="%birtResourcesDefinition" schema="schema/birtResourcesDefinition.exsd"/>
	
	<extension
       point="org.eclipse.birt.chart.integration.wtp.ui.birtResourcesDefinition">
    <webapp>
    		<listener class="org.eclipse.birt.chart.viewer.internal.listener.ChartServletContextListener"/>
    		<listener class="org.eclipse.birt.chart.viewer.internal.listener.ChartHttpSessionListener"/>
				<taglib
				uri="/chart.tld"
				location="/WEB-INF/tlds/chart.tld"/>
    </webapp>
    
    <!-- Conflict Resources Settings( Clear these resources when import ) -->
		<conflict
				id="org.eclipse.birt.chart.integration.wtp.ui.defaultConflictResourcesDefinition">
				<folder path="/WEB-INF/lib">
						<file name="com.ibm.icu_"/>
						<file name="org.eclipse.emf"/>
						<file name="org.eclipse.birt"/>
						<file name="chart-viewer"/>
						<file name="org.apache.batik"/>
				</folder>
		</conflict>	
    
 </extension>

	
		
</plugin>
