<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
    
   <extension
         id="AdapterFactory"
         name="%extension.name"
         point="org.eclipse.birt.core.FactoryService">
      <factory class="org.eclipse.birt.report.model.adapter.oda.impl.AdapterFactory"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://www.eclipse.org/birt/report/model/adapter/odaModel"
            class="org.eclipse.birt.report.model.adapter.oda.model.ModelPackage"
            genModel="schema/model.genmodel"/>
   </extension>

</plugin>
