<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
   name = "BIRT Model ODA Adapter"
   id="org.eclipse.birt.report.model.adapter.oda"
   version="2.1.0"
   provider-name="Eclipse.org">
   <requires>
      <import plugin="org.eclipse.birt.core"/>
      <import plugin="org.eclipse.birt.report.model"/> 
	  <import plugin="org.eclipse.datatools.connectivity.oda.design"/>
   </requires>
</plugin>