<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.birt.chart.ui.extension"
   name="UI Extensions Plug-in"
   version="0.0.1"
   provider-name="Eclipse.org"
   >

   <runtime>
      <library name="ui-extension.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires import_order="org.eclipse.pde.internal.ui.model.plugin.PluginImportNode@118bfb2">
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.birt.chart.shared"/>
      <import plugin="org.eclipse.birt.chart.ui"/>
      <import plugin="org.eclipse.birt.chart.engine"/>
      <import plugin="org.eclipse.birt.core"/>
   </requires>

   <!-- Change Listener Extensions -->
   <extension
         point="org.eclipse.birt.chart.ui.changelisteners">
      <changeListener listenerClassDefinition="org.eclipse.birt.chart.ui.event.ChangeListenerImpl"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.ui.types">
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.BarChart"
            name="Bar Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.LineChart"
            name="Line Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.PieChart"
            name="Pie Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.ScatterChart"
            name="Scatter Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.StockChart"
            name="Stock Chart"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.ui.uisheets">
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.general.GeneralSheetImpl"
            nodeIndex="20"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.BaseAxisDataSheetImpl"
            nodeIndex="21"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.OrthogonalAxisDataSheetImpl"
            nodeIndex="22"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.BaseSeriesDataSheetImpl"
            nodeIndex="23"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.OrthogonalSeriesDataSheetImpl"
            nodeIndex="24"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.BaseSeriesDataSheetImpl"
            nodeIndex="25"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.OrthogonalSeriesDataSheetImpl"
            nodeIndex="26"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.SampleDataSheetImpl"
            nodeIndex="27"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.BaseAxisAttributeSheetImpl"
            nodeIndex="28"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.BaseAxisLabelAttributeSheetImpl"
            nodeIndex="29"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.BaseAxisMarkerAttributeSheetImpl"
            nodeIndex="30"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.OrthogonalAxisAttributeSheetImpl"
            nodeIndex="31"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.OrthogonalAxisLabelAttributeSheetImpl"
            nodeIndex="32"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.OrthogonalAxisMarkerAttributeSheetImpl"
            nodeIndex="33"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.BaseSeriesAttributeSheetImpl"
            nodeIndex="34"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.OrthogonalSeriesAttributeSheetImpl"
            nodeIndex="35"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.OrthogonalSeriesLabelAttributeSheetImpl"
            nodeIndex="36"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.BaseSeriesAttributeSheetImpl"
            nodeIndex="37"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.OrthogonalSeriesAttributeSheetImpl"
            nodeIndex="38"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.OrthogonalSeriesLabelAttributeSheetImpl"
            nodeIndex="39"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.general.LayoutSheetImpl"
            nodeIndex="40"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.PlotAttributeSheetImpl"
            nodeIndex="41"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.LegendAttributeSheetImpl"
            nodeIndex="42"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.TitleBlockAttributeSheetImpl"
            nodeIndex="43"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.LabelBlockAttributeSheetImpl"
            nodeIndex="44"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.general.ScriptSheetImpl"
            nodeIndex="45"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.ui.seriescomposites">
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.SeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.component.impl.SeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.BarSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.BarSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.LineSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.LineSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.PieSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.PieSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.ScatterSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.ScatterSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.StockSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.StockSeriesImpl"/>
   </extension>
</plugin>
