<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.birt.chart.ui.extension"
   name="UI Extensions Plug-in"
   version="0.0.1"
   provider-name="Eclipse.org"
   >

   <runtime>
      <library name="ui-extension.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires import_order="org.eclipse.pde.internal.ui.model.plugin.PluginImportNode@118bfb2">
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.birt.chart.shared"/>
      <import plugin="org.eclipse.birt.chart.ui"/>
      <import plugin="org.eclipse.birt.chart.engine"/>
   </requires>

   <!-- Change Listener Extensions -->
   <extension
         point="org.eclipse.birt.chart.ui.changelisteners">
      <changeListener listenerClassDefinition="org.eclipse.birt.chart.ui.event.ChangeListenerImpl"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.ui.types">
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.BarChart"
            name="Bar Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.LineChart"
            name="Line Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.PieChart"
            name="Pie Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.ScatterChart"
            name="Scatter Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.StockChart"
            name="Stock Chart"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.ui.uisheets">
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.general.GeneralSheetImpl"
            nodePath="General"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.BaseAxisDataSheetImpl"
            nodePath="Data.X Axis"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.OrthogonalAxisDataSheetImpl"
            nodePath="Data.Y Axis"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.BaseSeriesDataSheetImpl"
            nodePath="Data.Base Series"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.OrthogonalSeriesDataSheetImpl"
            nodePath="Data.Orthogonal Series"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.BaseSeriesDataSheetImpl"
            nodePath="Data.X Series"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.OrthogonalSeriesDataSheetImpl"
            nodePath="Data.Y Series"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.data.SampleDataSheetImpl"
            nodePath="Data.Sample"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.BaseAxisAttributeSheetImpl"
            nodePath="Attributes.X Axis"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.BaseAxisLabelAttributeSheetImpl"
            nodePath="Attributes.X Axis.Labels"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.OrthogonalAxisAttributeSheetImpl"
            nodePath="Attributes.Y Axis"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.OrthogonalAxisLabelAttributeSheetImpl"
            nodePath="Attributes.Y Axis.Labels"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.BaseSeriesAttributeSheetImpl"
            nodePath="Attribute.X Series"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.OrthogonalSeriesAttributeSheetImpl"
            nodePath="Attribute.Y Series"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.OrthogonalSeriesLabelAttributeSheetImpl"
            nodePath="Attribute.Y Series.Labels"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.general.LayoutSheetImpl"
            nodePath="Layout"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.PlotAttributeSheetImpl"
            nodePath="Layout.Plot"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.LegendAttributeSheetImpl"
            nodePath="Layout.Legend"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.TitleBlockAttributeSheetImpl"
            nodePath="Layout.Title Block"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.attribute.LabelBlockAttributeSheetImpl"
            nodePath="Layout.Label Block"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.general.ScriptSheetImpl"
            nodePath="Scripts"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.ui.seriescomposites">
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.SeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.component.impl.SeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.BarSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.BarSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.LineSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.LineSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.PieSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.PieSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.ScatterSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.ScatterSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.StockSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.StockSeriesImpl"/>
   </extension>
</plugin>
