<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

     <!-- Change Listener Extensions -->
   <extension
         id="ChartWizardContext"
         name="Chart types"
         point="org.eclipse.birt.chart.ui.types">
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.BarChart"
            name="Bar Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.LineChart"
            name="Line Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.AreaChart"
            name="Area Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.PieChart"
            name="Pie Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.MeterChart"
            name="Meter Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.ScatterChart"
            name="Scatter Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.StockChart"
            name="Stock Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.BubbleChart"
            name="Bubble Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.DifferenceChart"
            name="Difference Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.GanttChart"
            name="Gantt Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.TubeChart"
            name="Tube Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.ConeChart"
            name="Cone Chart"/>
      <chartType
            classDefinition="org.eclipse.birt.chart.ui.swt.type.PyramidChart"
            name="Pyramid Chart"/>
   </extension>
   <extension
         id="TaskFormatChart"
         name="Format Chart"
         point="org.eclipse.birt.chart.ui.uisheets">
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.series.SeriesSheetImpl"
            displayName="%Series"
            nodeIndex="30"
            nodePath="Series"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.series.SeriesYSheetImpl"
            displayName="%ValueYSeries"
            nodeIndex="31"
            nodePath="Series.Y Series"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.series.SeriesXSheetImpl"
            displayName="%CategorySeries"
            nodeIndex="32"
            nodePath="Series.Category Series"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.series.SeriesYSheetImpl"
            displayName="%ValueSeries"
            nodeIndex="33"
            nodePath="Series.Value Series"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.series.NeedleSheetImpl"
            displayName="%Needle"
            nodeIndex="34"
            nodePath="Series.Value Series.Needle"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.chart.ChartSheetImpl"
            displayName="%ChartArea"
            nodeIndex="20"
            nodePath="Chart"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.axis.AxisSheetImpl"
            displayName="%Axis"
            nodeIndex="21"
            nodePath="Chart.Axis"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.axis.AxisXSheetImpl"
            displayName="%XAxis"
            nodeIndex="22"
            nodePath="Chart.Axis.X Axis"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.axis.AxisYSheetImpl"
            displayName="%YAxis"
            nodeIndex="23"
            nodePath="Chart.Axis.Y Axis"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.axis.AxisZSheetImpl"
            displayName="%ZAxis"
            nodeIndex="24"
            nodePath="Chart.Axis.Z Axis"/>
     <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.chart.ChartTitleSheetImpl"
            displayName="%Title"
            nodeIndex="25"
            nodePath="Chart.Title"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.chart.ChartPlotSheetImpl"
            displayName="%Plot"
            nodeIndex="26"
            nodePath="Chart.Plot"/>
      <propertySheet
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.format.chart.ChartLegendSheetImpl"
            displayName="%Legend"
            nodeIndex="27"
            nodePath="Chart.Legend"/>

   </extension>
   <extension
         id="ChartWizardContext"
         name="Chart series composites"
         point="org.eclipse.birt.chart.ui.seriescomposites">
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.SeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.component.impl.SeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.BarSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.BarSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.AreaSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.AreaSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.LineSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.LineSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.MeterSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.DialSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.PieSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.PieSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.ScatterSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.ScatterSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.StockSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.StockSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.BubbleSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.BubbleSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.DifferenceSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.DifferenceSeriesImpl"/>
      <seriescomposite
            seriesUIProvider="org.eclipse.birt.chart.ui.swt.series.GanttSeriesUIProvider"
            seriesType="org.eclipse.birt.chart.model.type.impl.GanttSeriesImpl"/>
   </extension>
   
   <extension
         point="org.eclipse.birt.core.ui.tasks">
      <task
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.TaskSelectType"
            taskID="org.eclipse.birt.chart.ui.swt.wizard.TaskSelectType"/>
      <task
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.TaskSelectData"
            taskID="org.eclipse.birt.chart.ui.swt.wizard.TaskSelectData"/>
      <task
            classDefinition="org.eclipse.birt.chart.ui.swt.wizard.TaskFormatChart"
            taskID="org.eclipse.birt.chart.ui.swt.wizard.TaskFormatChart"/>            
   </extension>
   <extension
         point="org.eclipse.birt.core.ui.taskWizards">
      <taskWizard
            positionBefore="0"
            tasklist="org.eclipse.birt.chart.ui.swt.wizard.TaskSelectType,org.eclipse.birt.chart.ui.swt.wizard.TaskSelectData,org.eclipse.birt.chart.ui.swt.wizard.TaskFormatChart"
            wizardID="org.eclipse.birt.chart.ui.swt.wizard.ChartWizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.birt.chart.reportitem.ui.ChartPreferencePage"
            class="org.eclipse.birt.chart.ui.swt.fieldassist.preferences.FieldAssistPreferencePage"
            id="org.eclipse.birt.chart.ui.swt.fieldassist.preferences.FieldAssistPreferencePage"
            name="%preference.chart.fieldassist">
      </page>
      <page
            category="org.eclipse.birt.chart.ui.swt.fieldassist.preferences.FieldAssistPreferencePage"
            class="org.eclipse.birt.chart.ui.swt.fieldassist.preferences.ContentAssistPreferencePage"
            id="org.eclipse.birt.chart.ui.swt.fieldassist.preferences.ContentAssistPreferencePage"
            name="%preference.chart.fieldassist.contentassist">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.birt.chart.ui.swt.fieldassist.preferences.FieldAssistPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
