<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="uk.co.spudsoft.birt.emitters.excel"
         name="SpudSoft BIRT Emitters"
         point="org.eclipse.birt.report.engine.emitters">
      <emitter
            class="uk.co.spudsoft.birt.emitters.excel.XlsxEmitter"
            format="xlsx"
            id="uk.co.spudsoft.birt.emitters.excel.XlsxEmitter"
            mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            pagination="page-break-pagination"
            >
      </emitter>
      <emitter
            class="uk.co.spudsoft.birt.emitters.excel.XlsEmitter"
            format="xls_spudsoft"
            id="uk.co.spudsoft.birt.emitters.excel.XlsEmitter"
            mimeType="application/vnd.ms-excel"
            pagination="page-break-pagination"
            >
      </emitter>
   </extension>

</plugin>
