/*
   ExternalCssStyleSheetTest1.css
*/

.table1 {

	/* font */

	font-family : cursive;
    font-size : small;
    font-style : italic;
    font-weight : bolder;
    font-variant : small-caps;
    color : red;
  	text-decoration : underline overline line-through;

	/* background */
	background-attachment : fixed;
	background-color : green;
	background-image : url(logo.gif);
	background-position : center center;
	background-repeat : no-repeat;

	/* text */
    letter-spacing : normal;
    line-height : normal;
    text-align : justify;
    text-indent : 12mm;
    text-transform : uppercase;
    vertical-align : middle;
    white-space : nowrap;
    widows : inherit;
	orphans : inherit;
	word-spacing : normal;
    
    /* section */
    display : block;
    /* master-page : no definition */
    page-break-before : always;
	page-break-after : always;
	page-break-inside : avoid;
	show-if-blank : true;
	/* show-if-blank : no definition */
	
	/* box */
	border-top-style : solid;
	border-top-width : thick;
	border-top-color : blue;
	border-left-style : dotted;
	border-left-width : medium;
	border-left-color : red;
	border-bottom-style : dashed;
	border-bottom-width : thin;
	border-bottom-color : green;
	border-right-style : double;
	border-right-width : thin;
	border-right-color : blue;
	margin-top : auto;
	margin-bottom : auto;
	margin-left : auto;
	margin-right : auto;
    padding-top : 1pt;  
    padding-right : 1pt;  
    padding-bottom : 1pt;  
    padding-left : 1pt; 
	
	/* format */
	
	/* date-time-format : no definition */
	/* number-format : no definition */
	/* number-align : no definition */
	/* string-format : no definition */;
	/* can-shrink : no definition */
	/* map-rules : no definition */
	/* highlight-rules : no definition */	
}

.table2 {

	font-family : arial;
	font-size : 12pt;
	color : rgb( 255, 0, 0);
	background-color : rgb( 0, 255, 0);
	background-position : 25% 25%;
    letter-spacing : 12em;
    line-height : 12px;
	vertical-align : align;
    widows : 3;
	orphans : 1;
    word-spacing : 12in;
	border-top-width : 1mm;
	border-top-color : rgb( 0, 0, 255);
	border-left-width : 1in;
	border-left-color : rgb( 255, 0, 0);
	border-bottom-width : 1cm;
	border-bottom-color : rgb( 0, 255, 0);
	border-right-width : 1px;
	border-right-color : rgb( 0, 0, 255);
	margin-top : 1em;
	margin-bottom : 1em;
	margin-left : 1em;
	margin-right : 1em;
}

.table3 {

	border-spacing : 12pt;
	border-collapse : separate;
	caption-side : bottom;
}