.report{
	color: black;
	font-weight: bold;	
}
.page {
	color: red;
/*
	background-color: black;
*/
}
.table{
	color: green;
}
.table-detail{
	color: blue ;
}
.table-detail-cell{
	color: yellow;
}
.text{
	color: orange;
	font-family: verdana;
}

.table-header{
	font-style: italic;		
}
.table-header-cell{
	color: aqua;
}
.table-group-header-1{
	font-style: italic;		
}
.table-group-header-2{
	color: orange;
}
.table-group-header-cell{
	background-color: gray;
	color:blue;
}

.grid{
	border-style: double;
	border-color: #44FAFA;
	border-width: thick;
	margin: 10px 10px 10px 10px;
	font-family: serif;
	font-style: italic;
	background-color: rgb(210,210,210);
	text-align: right;
	text-shadow: red;
	letter-spacing: 0.5cm;
	text-decoration: underline;
	text-transform: capitalize;
}
.toc-level-0{
	font-family: serif;
}
.toc-level-1{
	font-family: serif;
}
.toc-level-2{
	font-family: serif;
}


/*
.page {
	background-image: url('http://lh4.google.com/scottrrr/RolGT40Ln_I/AAAAAAAAAHU/De_Q4zUJGPo/s288/InnoventLogo.jpg');
	background-repeat: no-repeat;
	background-position: 100% 0%; 
	width: 90%;

}

.bigbold {
		font-size: 150%;
		font-weight: bold;	
	}

.text{
	font-size: 150%;
	font-style: italic;
	height: 4in;
	padding-left: 150px;
	word-spacing: 30px;
	page-break-after: right;
}

.fred.text{
	font-size: 150%;
	font-style: italic;
	font-weight: bold;
	height: 4in;
	padding-left: 150px;
	word-spacing: 30px;
	page-break-after: right;
}

*/