<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
     <extension-point id="FactoryService" name="FactoryService" schema="schema/FactoryService.exsd"/>
     <extension-point id="ScriptFunctionService" name="ScriptFunctionService" schema="schema/ScriptFunctionService.exsd"/>
     <extension-point id="ScriptEngineFactory" name="ScriptEngineFactory" schema="schema/ScriptEngineFactory.exsd"/>
</plugin>
