<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.birt.core"
   name="BIRT Core Package"
   version="1.0.1"
   provider-name="Eclipse.org"
   class="org.eclipse.birt.core.plugin.CorePlugin">
   
   <runtime>
      <library name="lib/js.jar">
         <export name="*"/>
      </library>
      <library name="lib/junit.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging.jar">
         <export name="*"/>
      </library>
      <library name="core.jar">
         <export name="*"/>
      </library>
      <library name="lib/servlet.jar">
         <export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.core.runtime" export="true"/>
   </requires>
</plugin>