<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   
     <extension-point id="FactoryService" name="%extension-point.name" schema="schema/FactoryService.exsd"/>
     <extension-point id="ScriptFunctionService" name="%extension-point.name.0" schema="schema/ScriptFunctionService.exsd"/>
     <extension-point id="ScriptEngineFactory" name="%extension-point.name.1" schema="schema/ScriptEngineFactory.exsd"/>
</plugin>
