<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.birt.chart.engine.modelrenderers">
      <modelRenderer
            renderer="org.eclipse.birt.chart.render.Area"
            series="org.eclipse.birt.chart.model.type.impl.AreaSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.render.Bar"
            series="org.eclipse.birt.chart.model.type.impl.BarSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.render.Dial"
            series="org.eclipse.birt.chart.model.type.impl.DialSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.render.Line"
            series="org.eclipse.birt.chart.model.type.impl.LineSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.render.Pie"
            series="org.eclipse.birt.chart.model.type.impl.PieSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.render.Stock"
            series="org.eclipse.birt.chart.model.type.impl.StockSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.render.Scatter"
            series="org.eclipse.birt.chart.model.type.impl.ScatterSeriesImpl"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.datasetprocessors">
      <datasetProcessor
            processor="org.eclipse.birt.chart.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.component.impl.SeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.BarSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.LineSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.AreaSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.DialSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.PieSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.datafeed.StockDataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.StockSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.ScatterSeriesImpl"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.aggregatefunctions">
      <aggregateFunction
            displayName="%Sum.displayName"
            function="org.eclipse.birt.chart.aggregate.Sum"
            name="Sum"/>
      <aggregateFunction
            displayName="%Average.displayName"
            function="org.eclipse.birt.chart.aggregate.Average"
            name="Average"/>
   </extension>
</plugin>
