<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

     <extension
         point="org.eclipse.birt.chart.engine.modelrenderers">
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Area"
            series="org.eclipse.birt.chart.model.type.impl.AreaSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Bar"
            series="org.eclipse.birt.chart.model.type.impl.BarSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Dial"
            series="org.eclipse.birt.chart.model.type.impl.DialSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Line"
            series="org.eclipse.birt.chart.model.type.impl.LineSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Pie"
            series="org.eclipse.birt.chart.model.type.impl.PieSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Stock"
            series="org.eclipse.birt.chart.model.type.impl.StockSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Scatter"
            series="org.eclipse.birt.chart.model.type.impl.ScatterSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Bubble"
            series="org.eclipse.birt.chart.model.type.impl.BubbleSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Gantt"
            series="org.eclipse.birt.chart.model.type.impl.GanttSeriesImpl"/>
      <modelRenderer
            renderer="org.eclipse.birt.chart.extension.render.Difference"
            series="org.eclipse.birt.chart.model.type.impl.DifferenceSeriesImpl"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.datasetprocessors">
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.component.impl.SeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.BarSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.LineSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.AreaSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.DialSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.PieSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.StockDataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.StockSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.DataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.ScatterSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.BubbleDataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.BubbleSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.GanttDataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.GanttSeriesImpl"/>
      <datasetProcessor
            processor="org.eclipse.birt.chart.extension.datafeed.DifferenceDataSetProcessorImpl"
            series="org.eclipse.birt.chart.model.type.impl.DifferenceSeriesImpl"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.aggregatefunctions">
      <!-- The Summary Aggregates -->
      <aggregateFunction
            displayName="%Sum.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Sum"
            name="Sum"/>
      <aggregateFunction
            displayName="%Average.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Average"
            name="Average"/>
      <aggregateFunction
            displayName="%Count.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Count"
            name="Count"/>
      <aggregateFunction
            displayName="%DistinctCount.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.DistinctCount"
            name="DistinctCount"/>
      <aggregateFunction
            displayName="%First.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.First"
            name="First"/>
      <aggregateFunction
            displayName="%Last.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Last"
            name="Last"/>
      <aggregateFunction
            displayName="%Min.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Min"
            name="Min"/>
      <aggregateFunction
            displayName="%Max.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Max"
            name="Max"/>
      <!-- Add new aggregations of DtE(2008.1.4) -->
      <aggregateFunction
            displayName="%WeightedAverage.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.WeightedAverage"
            name="WeightedAverage"/>
      <aggregateFunction
            displayName="%Median.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Median"
            name="Median"/>
      <aggregateFunction
            displayName="%Mode.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Mode"
            name="Mode"/>
      <aggregateFunction
            displayName="%STDDEV.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.StdDev"
            name="STDDEV"/>
      <aggregateFunction
            displayName="%Variance.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Variance"
            name="Variance"/>
      <aggregateFunction
            displayName="%Irr.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Irr"
            name="Irr"/>
      <aggregateFunction
            displayName="%Mirr.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Mirr"
            name="Mirr"/>
     <aggregateFunction
            displayName="%NPV.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Npv"
            name="NPV"/>
      <aggregateFunction
            displayName="%Percentile.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Percentile"
            name="Percentile"/>
      <aggregateFunction
            displayName="%Quartile.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Quartile"
            name="Quartile"/>
      <aggregateFunction
            displayName="%Range.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Range"
            name="Range"/>              
      <!-- The Running Aggregates -->      
	  <aggregateFunction
            displayName="%MovingAverage.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.MovingAverage"
            name="MovingAverage"/>
      <aggregateFunction
            displayName="%RunningSum.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.RunningSum"
            name="RunningSum"/>
	  <aggregateFunction
            displayName="%RunningNPV.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.RunningNpv"
            name="RunningNPV"/>                                   
	  <aggregateFunction
            displayName="%Rank.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Rank"
            name="Rank"/>
	  <aggregateFunction
            displayName="%Top.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Top"
            name="Top"/>
	  <aggregateFunction
            displayName="%TopPercent.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.TopPercent"
            name="TopPercent"/>
	  <aggregateFunction
            displayName="%Bottom.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.Bottom"
            name="Bottom"/>
	  <aggregateFunction
            displayName="%BottomPercent.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.BottomPercent"
            name="BottomPercent"/>
	  <aggregateFunction
            displayName="%PercentRank.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.PercentRank"
            name="PercentRank"/>
	  <aggregateFunction
            displayName="%PercentSum.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.PercentSum"
            name="PercentSum"/>
	  <aggregateFunction
            displayName="%RunningCount.displayName"
            function="org.eclipse.birt.chart.extension.aggregate.RunningCount"
            name="RunningCount"/>            
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.datapointdefinitions">
      <datapointDefinition
            definition="org.eclipse.birt.chart.extension.datafeed.StockDataPointDefinition"
            series="org.eclipse.birt.chart.model.type.impl.StockSeriesImpl"/>
      <datapointDefinition
            definition="org.eclipse.birt.chart.extension.datafeed.GanttDataPointDefinition"
            series="org.eclipse.birt.chart.model.type.impl.GanttSeriesImpl"/>
      <datapointDefinition
            definition="org.eclipse.birt.chart.extension.datafeed.BubbleDataPointDefinition"
            series="org.eclipse.birt.chart.model.type.impl.BubbleSeriesImpl"/>
      <datapointDefinition
            definition="org.eclipse.birt.chart.extension.datafeed.DifferenceDataPointDefinition"
            series="org.eclipse.birt.chart.model.type.impl.DifferenceSeriesImpl"/>                                  
   </extension>
</plugin>
