<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="chart"
         name="The chart extension"
         point="org.eclipse.birt.report.designer.ui.reportitemUI">
      <model
      		 extensionName="Chart"/>
      <reportItemFigureUI
      	 	class="org.eclipse.birt.chart.reportitem.ui.ChartReportItemUIImpl"/>
      <builder
         	class="org.eclipse.birt.chart.reportitem.ui.ChartReportItemBuilderProxy"/> 
      <palette
            category="Content"
            icon="icons/pal/palette_icon.gif"
            largeIcon="icons/pal/chart_large.png"/>
      <editor
              canResize="true"
              menuLabel="%menu.lable.chart"
              showInDesigner="true"
              showInMasterPage="false"/>
      <outline
      		   icon="icons/pal/palette_icon.gif"/>
        <description>
           %preference.description
        </description>         
    </extension>
	
	<extension
      	point="org.eclipse.birt.report.designer.ui.elementAdapters">
   		<adaptable
         	class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      		<adapter
              factory="org.eclipse.birt.chart.reportitem.ui.views.attributes.PageGeneratorFactory"
              id="ReportDesign.AttributeView.ChartPageGenerator"
              priority="1"
              singleton="false"
              type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
      			<enablement>
            		<test
                  		forcePluginActivation="true"
                  		property="ExtendItemHandle.extensionName"
                  		value="Chart">
            		</test>
         		</enablement>
      		</adapter>
   		</adaptable>
   		
   		<adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.chart.reportitem.ui.views.provider.ChartViewNodeProvider"
            id="ChartView.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="Chart">
               </test>
            </enablement>
      </adapter>	 
	</adaptable>
	<adaptable
       class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
    <adapter
          factory="org.eclipse.birt.chart.reportitem.ui.dialogs.ChartBindingDialogFactory"
          id="org.eclipse.birt.chart.reportitem.ui.dialogs.ChartColumnBindingDialog"
          priority="1"
          singleton="false"
          type="org.eclipse.birt.report.designer.internal.ui.dialogs.IBindingDialogHelper">
       <enablement>
          <test
                forcePluginActivation="true"
                property="ExtendItemHandle.extensionName"
                value="Chart">
          </test>
       </enablement>
    </adapter>
 </adaptable>
 <adaptable
       class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
    <adapter
          class="org.eclipse.birt.chart.reportitem.ui.views.provider.ChartAggregationCellViewProvider"
          id="org.eclipse.birt.chart.reportitem.ui.ChartAggregationCellViewProvider"
          priority="2"
          type="org.eclipse.birt.report.item.crosstab.ui.extension.IAggregationCellViewProvider">
       <enablement>
          <test
                forcePluginActivation="true"
                property="ExtendItemHandle.extensionName"
                value="Crosstab">
          </test>
       </enablement>
    </adapter>
 </adaptable>
 <adaptable
       class="org.eclipse.birt.report.model.api.TableHandle">
    <adapter
          class="org.eclipse.birt.chart.reportitem.ui.views.provider.ChartReportItemViewProvider"
          id="org.eclipse.birt.chart.reportitem.ui.ChartReportItemViewProvider"
          priority="2"
          type="org.eclipse.birt.report.designer.ui.extensions.IReportItemViewProvider">
    </adapter>
 </adaptable>
 <adaptable
       class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
    <adapter
          class="org.eclipse.birt.chart.reportitem.ui.views.provider.ChartReportItemViewProvider"
          id="org.eclipse.birt.chart.reportitem.ui.ChartReportItemViewProvider"
          priority="2"
          type="org.eclipse.birt.report.designer.ui.extensions.IReportItemViewProvider">
       <enablement>
          <test
                forcePluginActivation="true"
                property="ExtendItemHandle.extensionName"
                value="Crosstab">
          </test>
       </enablement>
    </adapter>
 </adaptable>
    <adaptable
          class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
       <adapter
             class="org.eclipse.birt.chart.reportitem.ui.views.provider.ChartContextExpressionProvider"
             id="Chart.ContextExpressionProvider"
             singleton="true"
             type="org.eclipse.birt.report.designer.ui.expressions.IContextExpressionProvider">
          <enablement>
             <test
                   forcePluginActivation="true"
                   property="ExtendItemHandle.extensionName"
                   value="Chart">
             </test>
          </enablement>
       </adapter>
    </adaptable>
   	</extension>

   <extension
         id="chart"
         name="The chart extension"
         point="org.eclipse.birt.report.designer.ui.menuBuilders">
      <menuBuilder
            class="org.eclipse.birt.chart.reportitem.ui.ChartMenuBuilderProxy"
            elementName="Chart"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.birt.chart.reportitem.ui.ChartPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.chart"
            id="org.eclipse.birt.chart.reportitem.ui.ChartPreferencePage"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.birt.chart.reportitem.ui.ChartPreferencePage"
            id="org.eclipse.birt.chart.reportitem.ui.ChartPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.chart">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.birt.report.designer.ui.reportprojectnature"/>
		     </adapt>         
         </enabledWhen>
      </page>
   </extension>
</plugin>
