<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="chart"
         name="The chart extension"
         point="org.eclipse.birt.report.designer.ui.reportitemUI">
      <model
      		 extensionName="Chart"/>
      <reportItemFigureUI
      	 	class="org.eclipse.birt.chart.reportitem.ui.ChartReportItemUIImpl"/>
      <builder
         	class="org.eclipse.birt.chart.reportitem.ui.ChartReportItemBuilderImpl"/> 
      <outline icon="icons/obj16/cell.gif"/>
      <palette
               icon="icons/pal/palette_icon.gif"
               category="Content"/>
      <editor
               showInMasterPage="false"
               canResize="false"
               showInDesigner="true"/>
      <outline
      		   icon="icons/pal/palette_icon.gif"/>
    </extension>
	
	<extension
      	point="org.eclipse.birt.report.designer.ui.elementAdapters">
   		<adaptable
         	class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      		<adapter
              factory="org.eclipse.birt.chart.reportitem.ui.PageGeneratorFactory"
              id="ReportDesign.AttributeView.ChartPageGenerator"
              priority="1"
              singleton="false"
              type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
      			<enablement>
            		<test
                  		forcePluginActivation="true"
                  		property="ExtendItemHandle.extensionName"
                  		value="Chart">
            		</test>
         		</enablement>
      		</adapter>
   		</adaptable>
   	</extension>

   <extension
         id="chart"
         name="The chart extension"
         point="org.eclipse.birt.report.designer.ui.menuBuilders">
      <menuBuilder
            class="org.eclipse.birt.chart.reportitem.ui.ChartMenuBuilder"
            elementName="Chart"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.birt.chart.reportitem.ui.ChartPreferencePage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.chart"
            id="org.eclipse.birt.chart.reportitem.ui.ChartPreferencePage"/>
   </extension>
</plugin>
