<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:birtData?before=ParameterActions">
         <dynamic
               class="org.eclipse.birt.report.designer.data.ui.actions.DataActionsContributionItem"
               id="org.eclipse.birt.report.designer.ui.data.DataActions">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
     <adaptable
         class="org.eclipse.birt.report.model.api.SlotHandle">
       <adapter
              class="org.eclipse.birt.report.designer.data.ui.providers.EditableDataSourcesNodeProvider"
              id="NodeProvider.DataSourcesSlot.Editable"
              overwrite="NodeProvider.DataSourcesSlot"
              priority="3"
              type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
         <enablement>
            <test
                  forcePluginActivation="true"
                  property="SlotHandle.id"
                  value="2">
            </test>
            <or>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.elementName"
                     value="ReportDesign">
               </test>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.elementName"
                     value="Library">
               </test>
            </or>
         </enablement>
      </adapter>
      <adapter
              class="org.eclipse.birt.report.designer.data.ui.providers.EditableDataSetsNodeProvider"
              id="NodeProvider.DataSetsSlot.Editable"
              overwrite="NodeProvider.DataSetsSlot"
              priority="3"
              type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="SlotHandle.id"
                     value="3">
               </test>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="SlotHandle.elementName"
                        value="ReportDesign">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="SlotHandle.elementName"
                        value="Library">
                  </test>
               </or>
            </enablement>
         </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.OdaDataSourceHandle">
      <adapter
            class="org.eclipse.birt.report.designer.data.ui.providers.EditableDataSourceNodeProvider"
            id="OdaDataSourceHandle.NodeProvider.Editable"
            overwrite="OdaDataSourceHandle.NodeProvider"
            priority="3"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.ScriptDataSourceHandle">
      <adapter
            class="org.eclipse.birt.report.designer.data.ui.providers.EditableDataSourceNodeProvider"
            id="ScriptDataSourceHandle.NodeProvider.Editable"
            overwrite="ScriptDataSourceHandle.NodeProvider"
            priority="3"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable
         class="org.eclipse.birt.report.model.api.OdaDataSetHandle">
      <adapter
            class="org.eclipse.birt.report.designer.data.ui.providers.EditableDataSetNodeProvider"
            id="DataSetHandle.NodeProvider.Editable"
            overwrite="DataSetHandle.NodeProvider"
            priority="3"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
   <adaptable class="org.eclipse.birt.report.model.api.ScriptDataSetHandle">
      <adapter
            class="org.eclipse.birt.report.designer.data.ui.providers.EditableDataSetNodeProvider"
            id="ScriptDataSetHandle.NodeProvider.Editable"
            overwrite="ScriptDataSetHandle.NodeProvider"
            priority="3"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
               </adaptable>
               <adaptable class="org.eclipse.birt.report.model.api.JointDataSetHandle">
      <adapter
                        class="org.eclipse.birt.report.designer.data.ui.providers.EditableDataSetNodeProvider"
                        id="JointDataSetHandle.NodeProvider.Editable"
                        overwrite="JointDataSetHandle.NodeProvider"
                        priority="3"
                        type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
    <adaptable
         class="org.eclipse.birt.report.model.api.DerivedDataSetHandle">
      <adapter
            class="org.eclipse.birt.report.designer.data.ui.providers.EditableDataSetNodeProvider"
            id="DerivedDataSetHandle.NodeProvider.Editable"
            overwrite="DerivedDataSetHandle.NodeProvider"
            priority="3"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>
   </adaptable>
  
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.designer.internal.ui.data.DataService">
         <adapter
               class="org.eclipse.birt.report.designer.data.ui.providers.DefaultDataServiceProvider"
               id="DefaultDataServiceProvider"
               priority="2"
               type="org.eclipse.birt.report.designer.internal.ui.data.IDataServiceProvider">
         </adapter>
      </adaptable>
   </extension>

</plugin>
