<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension 
		point="org.eclipse.birt.report.engine.emitters"
	 	name = "Engine Word Emitters">

        <emitter
              class="org.eclipse.birt.report.engine.emitter.wpml.WordEmitter"
              fileExtension="doc"
              format="doc"
              id="org.eclipse.birt.report.engine.emitter.word"
              mimeType="application/msword"
              pagination="page-break-pagination"/>
  	</extension>  
</plugin>
