<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin
   id="org.eclipse.birt.data.engine.odaconsumer.birtdriver"
   name="BIRT DtE ODA Consumer Driver Adapter Test Plug-in"
   version="2.0.0"
   provider-name="Eclipse.org"
   >
   <runtime>
      <library name="testBirtDriver.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
   </requires>
   <extension
         id="org.eclipse.birt.data.engine.odaconsumer.testbirtdriver"
         point="org.eclipse.birt.data.oda.dataSource">
      <dataSource
            odaVersion="2.0"
            driverClass="org.eclipse.birt.data.engine.odaconsumer.birtdriver.TestBirtDriverImpl"
            setThreadContextClassLoader="false"
            id="org.eclipse.birt.data.engine.odaconsumer.testbirtdriver"/>
      <dataSet id="org.eclipse.birt.data.engine.odaconsumer.testbirtdriver.dataSet">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="12"
               odaScalarDataType="String"/>
      </dataSet>
   </extension>
   
</plugin>
