<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="crosstab"
         name="The Crosstab Extension"
         point="org.eclipse.birt.report.model.reportItemModel">
      <reportItem
            class="org.eclipse.birt.report.item.crosstab.core.de.CrosstabItemFactory"
            defaultStyle="crosstab"
            themeType="Crosstab"
            displayNameID="Element.Crosstab"
            extendsFrom="ReportItem"
            extensionName="Crosstab"
            hasStyle="true"
            isNameRequired="false">
         <property
               canInherit="true"
               displayNameID="Element.Caption"
               isEncryptable="false"
               name="caption"
               type="string">
         </property>
         <property
               canInherit="true"
               displayNameID="Element.CaptionID"
               isEncryptable="false"
               name="captionID"
               type="resourceKey">
         </property>
         <property
               canInherit="true"
               defaultValue="horizontal"
               displayNameID="Element.MeasureDirection"
               isEncryptable="false"
               name="measureDirection"
               type="choice">
            <choice
                  displayNameID="Element.Direction.Horizontal"
                  name="horizontal"
                  value="horizontal">
            </choice>
            <choice
                  displayNameID="Element.Direction.Vertical"
                  name="vertical"
                  value="vertical">
            </choice></property>
         <property
               canInherit="true"
               displayNameID="Element.Summary"
               hasOwnModel="false"
               isEncryptable="false"
               isList="false"
               name="summary"
               type="string">
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="measures"
               type="element">
            <elementType
                  name="MeasureView">
            </elementType>
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="false"
               name="rows"
               type="element">
            <elementType
                  name="CrosstabView">
            </elementType>
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="false"
               name="columns"
               type="element">
            <elementType
                  name="CrosstabView">
            </elementType>
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="header"
               type="element">
            <elementType
                  name="CrosstabCell">
            </elementType>
         </property>
         <property
               canInherit="true"
               defaultValue="Table"
               displayNameID="Element.TagType"
               isEncryptable="false"
               name="tagType"
               type="string">
         </property>                  
         <propertyVisibility
               name="dataSet"
               visibility="hide">
         </propertyVisibility>
         <propertyVisibility
               name="measures"
               visibility="hide">
         </propertyVisibility>
         <propertyVisibility
               name="rows"
               visibility="hide">
         </propertyVisibility>
         <propertyVisibility
               name="columns"
               visibility="hide">
         </propertyVisibility>
         <propertyVisibility
               name="measureDirection"
               visibility="hide">
         </propertyVisibility>
         <style
               displayNameID="Element.Crosstab"
               name="crosstab"
               type="Crosstab">
         </style>
         <style
               name="crosstab-header"
               type="Crosstab">
         </style>
         <style
               name="crosstab-detail"
               type="Crosstab">
         </style>
         <style
               name="crosstab-row-header"
               type="Crosstab">
         </style>
         <property
               canInherit="true"
               defaultValue="true"
               displayNameID="Element.RepeatColumnHeader"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="repeatColumnHeader"
               subType="string"
               type="boolean">
         </property>
         <propertyVisibility
               name="pageLayout"
               visibility="hide">
         </propertyVisibility>
         <property
               canInherit="true"
               defaultValue="true"
               displayNameID="Element.RepeatRowHeader"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="repeatRowHeader"
               subType="string"
               type="boolean">
         </property>
         <property
               canInherit="true"
               defaultValue="over then down"
               displayNameID="Element.PageLayout"
               isEncryptable="false"
               name="pageLayout"
               type="choice">
            <choice
                  name="down then over"
                  value="down then over">
            </choice>
            <choice
                  name="over then down"
                  value="over then down">
            </choice>
         </property>
         <property
               canInherit="true"
               displayNameID="Element.EmptyCellValue"
               isEncryptable="false"
               name="emptyCellValue"
               type="literalString">
         </property>
         <property
               defaultValue="false"
               displayNameID="Element.HideMeasureHeader"
               isList="false"
               name="hideMeasureHeader"
               type="boolean">
         </property>
         <method
               context="startup"
               displayNameID="Method.onPrepare"
               isStatic="false"
               name="onPrepare">
         </method>
         <method
               context="factory"
               displayNameID="Method.onCreate"
               isStatic="false"
               name="onCreate">
         </method>
         <method
               context="presentation"
               displayNameID="Method.onRender"
               isStatic="false"
               name="onRender">
         </method>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="filter"
               type="contentElement">
            <elementType
                  name="FilterConditionElement">
            </elementType>
         </property>
         <style
               name="crosstab-column-header"
               type="Crosstab">
         </style>
         <style
               name="crosstab-row-grand-total"
               type="Crosstab">
         </style>
         <style
               name="crosstab-column-grand-total"
               type="Crosstab">
         </style>
         <style
               name="crosstab-row-sub-total"
               type="Crosstab">
         </style>
         <style
               name="crosstab-column-sub-total"
               type="Crosstab">
         </style>
         <property
               canInherit="false"
               displayNameID="Element.RowPageBreakInterval"
               isEncryptable="false"
               name="rowPageBreakInterval"
               type="integer">
         </property>
         <property
               canInherit="false"
               displayNameID="Element.ColumnPageBreakInterval"
               isEncryptable="false"
               name="columnPageBreakInterval"
               type="integer">
         </property>
         <style
               displayNameID="Element.CrosstabCell"
               name="crosstab-cell"
               type="Crosstab">
         </style>
         <!--method
               context="presentation"
               displayNameID="Method.onPageBreak"
               isStatic="false"
               name="onPageBreak">
         </method-->
      </reportItem>
      <reportItem
            class="org.eclipse.birt.report.item.crosstab.core.de.CrosstabItemFactory"
            displayNameID="Element.CrosstabView"
            extendsFrom="ReportElement"
            extensionName="CrosstabView"
            hasStyle="false"
            isNameRequired="false">
         <property
               canInherit="true"
               isEncryptable="false"
               isList="false"
               name="grandTotal"
               type="element">
            <elementType
                  name="CrosstabCell">
            </elementType>
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="views"
               type="element">
            <elementType
                  name="DimensionView">
            </elementType>
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="members"
               type="contentElement">
            <elementType
                  name="MemberValue">
            </elementType>
         </property>
         <propertyVisibility
               name="grandTotal"
               visibility="hide">
         </propertyVisibility>
         <propertyVisibility
               name="views"
               visibility="hide">
         </propertyVisibility>
         <propertyVisibility
               name="members"
               visibility="hide">
         </propertyVisibility>
         <property
               canInherit="true"
               detailType="Level"
               displayNameID="Element.MirrorStartingLevel"
               isEncryptable="false"
               name="mirrorStartingLevel"
               type="elementRef">
         </property>
         <property
               canInherit="true"
               defaultValue="after"
               displayNameID="Element.GrandTotalLocation"
               isEncryptable="false"
               name="grandTotalLocation"
               type="choice">
            <choice
                  displayNameID="Element.choice.before"
                  name="before"
                  value="before">
            </choice>
            <choice
                  displayNameID="Element.choice.after"
                  name="after"
                  value="after">
            </choice>
         </property>
      </reportItem>
      <reportItem
            class="org.eclipse.birt.report.item.crosstab.core.de.CrosstabItemFactory"
            displayNameID="Element.DimensionView"
            extendsFrom="ReportElement"
            extensionName="DimensionView"
            hasStyle="false"
            isNameRequired="false">
         <property
               canInherit="true"
               detailType="Dimension"
               displayNameID="Element.Dimension"
               isEncryptable="false"
               name="dimension"
               type="elementRef">
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="levels"
               type="element">
            <elementType
                  name="LevelView">
            </elementType>
         </property>
         <propertyVisibility
               name="levels"
               visibility="hide">
         </propertyVisibility></reportItem>
      <reportItem
            class="org.eclipse.birt.report.item.crosstab.core.de.CrosstabItemFactory"
            displayNameID="Element.LevelView"
            extendsFrom="ReportElement"
            extensionName="LevelView"
            hasStyle="false"
            isNameRequired="true">
         <property
               canInherit="true"
               displayNameID="Element.DisplayField"
               name="displayField"
               type="string">
         </property>
         <property
               canInherit="true"
               detailType="Level"
               displayNameID="Element.Level"
               isEncryptable="false"
               name="level"
               type="elementRef">
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="filter"
               type="contentElement">
            <elementType
                  name="FilterConditionElement">
            </elementType>
         </property>
         <property
               canInherit="true"
               defaultValue="none"
               detailType="sortType"
               displayNameID="Element.SortType"
               isEncryptable="false"
               name="sortType"
               type="choice">
         </property>
         <property
               canInherit="true"
               defaultValue="asc"
               detailType="sortDirection"
               displayNameID="Element.SortDirection"
               isEncryptable="false"
               name="sortDirection"
               type="choice">
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="sort"
               type="contentElement">
            <elementType
                  name="SortElement">
            </elementType>
         </property>
         <property
               canInherit="false"
               defaultValue="auto"
               detailType="pageBreakBefore"
               displayNameID="Element.PageBreakBefore"
               isEncryptable="false"
               name="pageBreakBefore"
               type="choice">
         </property>
         <property
               canInherit="false"
               defaultValue="auto"
               detailType="pageBreakAfter"
               displayNameID="Element.PageBreakAfter"
               isEncryptable="false"
               name="pageBreakAfter"
               type="choice">
         </property>
         <property
               canInherit="true"
               defaultValue="after"
               displayNameID="Element.AggregationHeaderLocation"
               isEncryptable="false"
               name="aggregationHeaderLocation"
               type="choice">
            <choice
                  displayNameID="Element.choice.before"
                  name="before"
                  value="before">
            </choice>
            <choice
                  displayNameID="Element.choice.after"
                  name="after"
                  value="after">
            </choice>
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="false"
               name="member"
               type="element">
            <elementType
                  name="CrosstabCell">
            </elementType>
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="false"
               name="aggregationHeader"
               type="element">
            <elementType
                  name="CrosstabCell">
            </elementType>
         </property>
         <propertyVisibility
               name="member"
               visibility="hide">
         </propertyVisibility>
         <propertyVisibility
               name="aggregationHeader"
               visibility="hide">
         </propertyVisibility>
         <property
               canInherit="false"
               displayNameID="Element.PageBreakInterval"
               isEncryptable="false"
               name="pageBreakInterval"
               type="integer">
         </property>
         <property
               canInherit="false"
               defaultValue="auto"
               detailType="pageBreakInside"
               displayNameID="Element.PageBreakInside"
               isEncryptable="false"
               name="pageBreakInside"
               type="choice">
         </property>
      </reportItem>
      <reportItem
            class="org.eclipse.birt.report.item.crosstab.core.de.CrosstabItemFactory"
            displayNameID="Element.MeasureView"
            extendsFrom="ReportElement"
            extensionName="MeasureView"
            hasStyle="false"
            isNameRequired="false">
         <property
               canInherit="true"
               detailType="Measure"
               displayNameID="Element.Measure"
               isEncryptable="false"
               name="measure"
               type="elementRef">
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="false"
               name="detail"
               type="element">
            <elementType
                  name="AggregationCell">
            </elementType>
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="filter"
               type="contentElement">
            <elementType
                  name="FilterConditionElement">
            </elementType>
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="aggregations"
               type="element">
            <elementType
                  name="AggregationCell">
            </elementType>
         </property>
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="header"
               type="element">
            <elementType
                  name="CrosstabCell">
            </elementType>
         </property>
         <propertyVisibility
               name="detail"
               visibility="hide">
         </propertyVisibility>
         <propertyVisibility
               name="aggregations"
               visibility="hide">
         </propertyVisibility>
         <propertyVisibility
               name="header"
               visibility="hide">
         </propertyVisibility>
      </reportItem>
      <reportItem
            class="org.eclipse.birt.report.item.crosstab.core.de.CrosstabItemFactory"
            displayNameID="Element.ComputedMeasureView"
            extendsFrom="MeasureView"
            extensionName="ComputedMeasureView"
            hasStyle="false"
            isNameRequired="true">
         <property
               canInherit="false"
               displayNameID="Element.MeasureName"
               isEncryptable="false"
               name="measureName"
               type="string">
         </property>
      </reportItem>
      <reportItem
            class="org.eclipse.birt.report.item.crosstab.core.de.CrosstabItemFactory"
            displayNameID="Element.CrosstabCell"
            extendsFrom="Cell"
            extensionName="CrosstabCell"
            hasStyle="true"
            isNameRequired="false">
         <property
               canInherit="true"
               isEncryptable="false"
               isList="true"
               name="content"
               type="element">
            <elementType
                  name="Label">
            </elementType>
            <elementType
                  name="Data">
            </elementType>
            <elementType
                  name="Text">
            </elementType>
            <elementType
                  name="Image">
            </elementType>
            <elementType
                  name="Grid">
            </elementType>
            <elementType
                  name="TextData">
            </elementType>
            <elementType
                  name="List">
            </elementType>
            <elementType
                  name="Table">
            </elementType>
            <elementType
                  name="FreeForm">
            </elementType>
            <elementType
                  name="ExtendedItem">
            </elementType>
         </property>      
         <property
               canInherit="true"
               displayNameID="Element.Order"
               isEncryptable="false"
               name="order"
               type="string">
         </property>
         <propertyVisibility
               name="content"
               visibility="hide">
         </propertyVisibility>
         <propertyVisibility
               name="drop"
               visibility="readonly">
         </propertyVisibility>
         <propertyVisibility
               name="colSpan"
               visibility="hide">
         </propertyVisibility>
         <propertyVisibility
               name="rowSpan"
               visibility="hide">
         </propertyVisibility>
         <overrideProperty
               propertyName="highlightRules"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="fontFamily"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="fontSize"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="fontStyle"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="fontWeight"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="fontVariant"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="color"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="textUnderline"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="textOverline"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="textLineThrough"
               useOwnSearch="true">
         </overrideProperty>
      </reportItem>
      <reportItem
            class="org.eclipse.birt.report.item.crosstab.core.de.CrosstabItemFactory"
            displayNameID="Element.CrosstabAggregationCell"
            extendsFrom="CrosstabCell"
            extensionName="AggregationCell"
            hasStyle="true"
            isNameRequired="false">
         <property
               canInherit="true"
               detailType="Level"
               displayNameID="Element.AggregationOnRow"
               isEncryptable="false"
               name="aggregationOnRow"
               type="elementRef">
         </property>
         <property
               canInherit="true"
               detailType="Level"
               displayNameID="Element.AggregationOnColumn"
               isEncryptable="false"
               name="aggregationOnColumn"
               type="elementRef">
         </property>       
         <overrideProperty
               propertyName="highlightRules"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="fontFamily"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="fontSize"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="fontStyle"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="fontWeight"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="fontVariant"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="color"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="textUnderline"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="textOverline"
               useOwnSearch="true">
         </overrideProperty>
         <overrideProperty
               propertyName="textLineThrough"
               useOwnSearch="true">
         </overrideProperty>
         <property
               canInherit="true"
               detailType="Level"
               displayNameID="Element.SpanOverOnColumn"
               hasOwnModel="true"
               isEncryptable="false"
               isList="false"
               name="spanOverOnColumn"
               subType="string"
               type="elementRef">
         </property>
         <property
               canInherit="true"
               detailType="Level"
               displayNameID="Element.SpanOverOnRow"
               isEncryptable="false"
               name="spanOverOnRow"
               type="elementRef">
         </property>
      </reportItem>
    </extension>
   
   <extension
         point="org.eclipse.birt.report.engine.extendedItemFactory">
      <itemFactory
            class="org.eclipse.birt.report.item.crosstab.core.re.CrosstabExtendedItemFactory"
            id="Crosstab"
            name="Crosstab">
      </itemFactory>
   </extension>
   <extension
         point="org.eclipse.birt.report.engine.extendedItemFactory">
      <itemFactory
            class="org.eclipse.birt.report.item.crosstab.core.re.CrosstabExtendedItemFactory"
            id="CrosstabCell"
            name="CrosstabCell">
      </itemFactory>
   </extension>
   <extension
         point="org.eclipse.birt.report.engine.extendedItemFactory">
      <itemFactory
            class="org.eclipse.birt.report.item.crosstab.core.re.CrosstabExtendedItemFactory"
            id="AggregationCell"
            name="AggregationCell">
      </itemFactory>
   </extension>
</plugin>
