<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension 
	 	point="org.eclipse.birt.report.engine.emitters"
	 	name = "OpenDocument Presentation Emitters">

        <emitter
              class="org.eclipse.birt.report.engine.emitter.odp.OdpEmitter"
              format="odp"
              pagination="paper-size-pagination"
              id="org.eclipse.birt.report.engine.emitter.odp"
              mimeType="application/vnd.oasis.opendocument.presentation"/>
  </extension>  
</plugin>
