<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.designer.ui.reportItemEditpart">
      <reportItemEditPart
            type="org.eclipse.birt.report.item.crosstab.internal.ui.editors.editparts.CrosstabTableEditPart">
         <enablement>
            <instanceof
                  value="org.eclipse.birt.report.model.api.ExtendedItemHandle">
            </instanceof>
            <test
                  property="ExtendItemHandle.extensionName"
                  value="Crosstab">
            </test>
         </enablement>
         <paletteEntry
               category="Content"
               createCommand="org.eclipse.birt.report.item.crosstab.ui.createCrosstab"
               description="%Crosstab desc"
               icon="icons/pal/crosstab.gif"
               itemName="Crosstab"
               label="%Crosstab"
               largeIcon="icons/pal/crosstab.gif">
         </paletteEntry></reportItemEditPart>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.menuBuilders">
      <menuBuilder
            class="org.eclipse.birt.report.item.crosstab.internal.ui.editors.action.CrosstabMenuBuilder"
            elementName="Crosstab">
      </menuBuilder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.birt.report.item.crosstab.internal.ui.CreateExtendedItemHandler"
            id="org.eclipse.birt.report.item.crosstab.ui.createCrosstab"
            name="Create Crosstab">
         <parameter
               id="org.eclipse.birt.report.item.crosstab.ui.commandParameter2"
               name="Create Crosstab Parameter">
            <values
                  class="org.eclipse.ui.commands.ExtensionParameterValues">
               <parameter
                     name="itemName"
                     value="Crosstab">
               </parameter>
               <parameter
                     name="postCommand"
                     value="org.eclipse.birt.report.item.crosstab.ui.selectCube">
               </parameter>
            </values>
         </parameter>
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.item.crosstab.internal.ui.SelectCrosstabHandler"
            id="org.eclipse.birt.report.item.crosstab.ui.selectCube"
            name="Select Cube">
      </command>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.reportitemUI">
      <model
            extensionName="Crosstab">
      </model>
      <palette
            category="Content"
            icon="icons/pal/crosstab.gif">
      </palette>
      <builder
            class="org.eclipse.birt.report.item.crosstab.internal.ui.editors.editparts.CrosstabBuilder">
      </builder>
      <editor
            canResize="true"
            showInDesigner="true"
            showInMasterPage="true">
      </editor>
      <outline
            icon="icons/pal/crosstab.gif">
      </outline>
      <reportItemFigureUI
            class="org.eclipse.birt.report.item.crosstab.internal.ui.CrosstabFigureUI">
      </reportItemFigureUI>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.birt.report.item.crosstab.ui.createCrosstab"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R C">
      </key>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               class="org.eclipse.birt.report.item.crosstab.ui.views.attributes.CrosstabPageGenerator"
               id="ReportDesign.AttributeView.CrosstabPageGenerator"
               type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="Crosstab">
               </test>
            </enablement>
         </adapter>
      </adaptable>
      
      
     <adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrossTabNodeProvider"
            id="CrossTab.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="Crosstab">
               </test>
            </enablement>
      </adapter>	 
	</adaptable>
	 
     <adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrossTabViewNodeProvider"
            id="CrossTabView.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="CrosstabView">
               </test>
            </enablement>
      </adapter>	 
	</adaptable>
	
	 <adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrosstTabCellNodeProvider"
            id="CrossTabCell.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
				<or>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="CrosstabCell">
               </test>
                <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="AggregationCell">
               </test>
               </or>
            </enablement>
      </adapter>	 
	</adaptable>
	
	<adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrosstTabLevelNodeProvider"
            id="Level.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="LevelView">
               </test>
        </enablement>
      </adapter>	 
	</adaptable>
	
	<adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrosstTabMeasureNodeProvider"
            id="Measure.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="MeasureView">
               </test>
        </enablement>
      </adapter>	 
	</adaptable>
	
	  <adaptable
         class="org.eclipse.birt.report.model.api.PropertyHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.AreaNodeProvider"
            id="Crosstab.Dimensions.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               	<or>
              	 	<test 
              	 		forcePluginActivation="true" 
              	 		property="PropertyHandle.handleProperty"
                     	value="rows" />
                    <test 
                    	forcePluginActivation="true" 
                    	property="PropertyHandle.handleProperty"
                    	value="columns" />
                     <test 
                    	forcePluginActivation="true" 
                    	property="PropertyHandle.handleProperty"
                    	value="measures" />
               	</or>
        	</enablement>
      </adapter>	 
	</adaptable>
	
	<adaptable
         class="org.eclipse.birt.report.model.api.DataItemHandle">
      	<adapter
             class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.LeafNodeProvider"
             id="Crosstab.Leaf.NodeProvider"
             overwrite="DataItemHandle.NodeProvider"
             priority="2"
             type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               	<or>
              	 	<test 
              	 		forcePluginActivation="true" 
              	 		property="ElementContainer.containerName"
                     	value="AggregationCell" />
                    <test 
                    	forcePluginActivation="true" 
                    	property="ElementContainer.containerName"
                    	value="CrosstabCell" />
               	</or>
        	</enablement>
      </adapter>	 
	</adaptable>
	
	<adaptable
         class="org.eclipse.birt.report.model.api.PropertyHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.MeasureSubNodeProvider"
            id="Crosstab.Measure.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               	<or>
              	 	<test 
              	 		forcePluginActivation="true" 
              	 		property="PropertyHandle.handleProperty"
                     	value="header" />
                    <test 
                    	forcePluginActivation="true" 
                    	property="PropertyHandle.handleProperty"
                    	value="detail" />
                     <test 
                    	forcePluginActivation="true" 
                    	property="PropertyHandle.handleProperty"
                    	value="aggregations" />
               	</or>
        	</enablement>
      </adapter>	 
	</adaptable>
	
   </extension>
     

</plugin>
