<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   <extension
         point="org.eclipse.birt.report.designer.ui.reportItemEditpart">
      <reportItemEditPart
            type="org.eclipse.birt.report.item.crosstab.internal.ui.editors.editparts.CrosstabTableEditPart">
         <enablement>
            <instanceof
                  value="org.eclipse.birt.report.model.api.ExtendedItemHandle">
            </instanceof>
            <test
                  property="ExtendItemHandle.extensionName"
                  value="Crosstab">
            </test>
         </enablement>
         <paletteEntry
               category="Content"
               createCommand="org.eclipse.birt.report.item.crosstab.ui.createCrosstab"
               description="%Crosstab.desc"
               icon="icons/pal/crosstab.gif"
               itemName="Crosstab"
               label="%paletteEntry.label.crosstab"
               largeIcon="icons/pal/crosstab_large.png"
               menuLabel="%crosstab.menu">
         </paletteEntry></reportItemEditPart>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.menuBuilders">
      <menuBuilder
            class="org.eclipse.birt.report.item.crosstab.internal.ui.editors.action.CrosstabMenuBuilder"
            elementName="Crosstab">
      </menuBuilder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.birt.report.item.crosstab.internal.ui.CreateCrosstabHandler"
            id="org.eclipse.birt.report.item.crosstab.ui.createCrosstab"
            name="%command.name.createCrosstab">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.item.crosstab.internal.ui.CreateCubeHandler"
            id="org.eclipse.birt.report.item.crosstab.ui.createCube"
            name="%command.name.createCube">
      </command>
   </extension>
   
  <extension
      	point="org.eclipse.core.expressions.propertyTesters">
   		<propertyTester
         	class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrosstabPropertyHandleWrapperTypeTester"
         	id="CrosstabProertyHandleWrapperTester"
         	namespace="CrosstabPropertyHandleWrapper"
         	properties="type"
         	type="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrosstabPropertyHandleWrapper">
   		</propertyTester>
   </extension>
   
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
         
		
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               factory="org.eclipse.birt.report.item.crosstab.ui.views.attributes.page.CrosstabGeneratorFactory"
               id="ReportDesign.AttributeView.CrosstabPageGenerator"
               priority="1"
               singleton="false"
               type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="Crosstab">
               </test>
            </enablement>
         </adapter>
      </adaptable>
      
      
     <adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrossTabNodeProvider"
            id="CrossTab.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="Crosstab">
               </test>
            </enablement>
      </adapter>	 
	</adaptable>
	 
     <adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrossTabViewNodeProvider"
            id="CrossTabView.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="CrosstabView">
               </test>
            </enablement>
      </adapter>	 
	</adaptable>
	
	 <adaptable
         class="org.eclipse.birt.report.item.crosstab.internal.ui.editors.model.VirtualCrosstabCellAdapter">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.VirtualCrosstabCellNodeProvider"
            id="VirtualCrosstabCell.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
      </adapter>	 
	</adaptable>
	
	 <adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrossTabCellNodeProvider"
            id="CrossTabCell.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
    <and>
       <or>
          <test
                forcePluginActivation="true"
                property="ExtendItemHandle.extensionName"
                value="CrosstabCell">
          </test>
          <test
                forcePluginActivation="true"
                property="ExtendItemHandle.extensionName"
                value="AggregationCell">
          </test>
       </or>
       <not>
          <or>
             <test
                   forcePluginActivation="true"
                   property="ExtendItemHandle.containerPropertyName"
                   value="aggregationHeader">
             </test>
             <test
                   property="ExtendItemHandle.containerName"
                   value="Crosstab">
             </test>
          </or>
       </not>
    </and>
            </enablement>
      </adapter>	 
	</adaptable>
	
	<adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrossTabLevelNodeProvider"
            id="Level.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="LevelView">
               </test>
        </enablement>
      </adapter>	 
	</adaptable>
	
	<adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrossTabMeasureNodeProvider"
            id="Measure.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <or>
                  <test
                        forcePluginActivation="true"
                        property="ExtendItemHandle.extensionName"
                        value="MeasureView">
                  </test>
                  <test
                        forcePluginActivation="true"
                        property="ExtendItemHandle.extensionName"
                        value="ComputedMeasureView">
                  </test>
               </or>
        </enablement>
      </adapter>	 
	</adaptable>
	
	
	  <adaptable
         class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrosstabPropertyHandleWrapper">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.AreaNodeProvider"
            id="Crosstab.Dimensions.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               	<or>
              	 	<test 
              	 		forcePluginActivation="true" 
              	 		property="CrosstabPropertyHandleWrapper.type"
                     	value="rows" />
                    <test 
                    	forcePluginActivation="true" 
                    	property="CrosstabPropertyHandleWrapper.type"
                    	value="columns" />
                     <test 
                    	forcePluginActivation="true" 
                    	property="CrosstabPropertyHandleWrapper.type"
                    	value="measures" />
                     <test
                           forcePluginActivation="true"
                           property="CrosstabPropertyHandleWrapper.type"
                           value="crosstabHeader">
                     </test>
               	</or>
        	</enablement>
      </adapter>	 
	</adaptable>
	
	
	<adaptable
         class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrosstabPropertyHandleWrapper">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.MeasureSubNodeProvider"
            id="Crosstab.Measure.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               	<or>
              	 	<test 
              	 		forcePluginActivation="true" 
              	 		property="CrosstabPropertyHandleWrapper.type"
                     	value="header" />
                    <test 
                    	forcePluginActivation="true" 
                    	property="CrosstabPropertyHandleWrapper.type"
                    	value="detail" />
                     <test 
                    	forcePluginActivation="true" 
                    	property="CrosstabPropertyHandleWrapper.type"
                    	value="aggregations" />
               	</or>
        	</enablement>
      </adapter>	 
	</adaptable>
 <adaptable
       class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
    <adapter
          factory="org.eclipse.birt.report.item.crosstab.ui.views.attributes.page.CrosstabGeneratorFactory"
          id="ReportDesign.AttributeView.CrosstabCellPageGenerator"
          priority="1"
          singleton="false"
          type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
       <enablement>
          <or>
             <test
                   forcePluginActivation="true"
                   property="ExtendItemHandle.extensionName"
                   value="CrosstabCell">
             </test>
             <test
                   forcePluginActivation="true"
                   property="ExtendItemHandle.extensionName"
                   value="AggregationCell">
             </test>
          </or>
       </enablement>
    </adapter>
 </adaptable>
 <adaptable
       class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
    <adapter
          class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.LevelSubNodeProvider"
          id="Crosstab.Level.Header"
          priority="2"
          type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
       <enablement>
          <and>
             <test
                   forcePluginActivation="true"
                   property="ExtendItemHandle.extensionName"
                   value="CrosstabCell">
             </test>
             <or>
                <and>
                   <test
                         forcePluginActivation="true"
                         property="ExtendItemHandle.containerName"
                         value="LevelView">
                   </test>
                   <test
                         forcePluginActivation="true"
                         property="ExtendItemHandle.containerPropertyName"
                         value="aggregationHeader">
                   </test>
                </and>
                <test
                      property="ExtendItemHandle.containerName"
                      value="Crosstab">
                </test>
             </or>
          </and>
       </enablement>
    </adapter>
 </adaptable>
  
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.DNDServices">
      <dragAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.DimensionHandleDragAdapter"
            >
      </dragAdapter>
      <dropAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.DimensionHandleDropAdapter"
            >
      </dropAdapter>
      <dropAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.DataColumnXTabDropAdapter">
      </dropAdapter>
      <dragAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.MeasureHandleDragAdapter">
      </dragAdapter>
      <dropAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.MeasureHandleDropAdapter">
      </dropAdapter>

      <dropAdapter adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.LevelHandleDropAdapter"/>
      <dragAdapter adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.LevelHandleDragAdapter"/>
      <dropAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.AggregationDropAdapter">
      </dropAdapter>
      <dropAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.CubeDropAdapter">
      </dropAdapter>
      <dragAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.LevelAttributeHandleDragAdapter">
      </dragAdapter>
      <dropAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.LevelAttributeHandleDropAdapter">
      </dropAdapter>
      <dropAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.ParameterDropAdapter">
      </dropAdapter>
      <dropAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.CrosstabVariableDropAdapter">
      </dropAdapter>
      <dropAdapter
      		adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.ExtendedDataColumnXtabDropAdapter">
      </dropAdapter>

   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:birtData">
            <command
                  commandId="org.eclipse.birt.report.item.crosstab.ui.createCube"
                  label="%newcube.menu"
                  style="push">
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               factory="org.eclipse.birt.report.item.crosstab.internal.ui.dialogs.CrosstabBindingDialogFactory"
               id="org.eclipse.birt.report.item.crosstab.ui.bindingdialog"
               priority="1"
               singleton="false"
               type="org.eclipse.birt.report.designer.internal.ui.dialogs.IBindingDialogHelper">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="Crosstab">
               </test>
            </enablement>
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               class="org.eclipse.birt.report.item.crosstab.internal.ui.AggregationCellTextViewProvider"
               id="Crosstab.AggregationCell.TextView"
               priority="2"
               singleton="false"
               type="org.eclipse.birt.report.item.crosstab.ui.extension.IAggregationCellViewProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="Crosstab">
               </test>
            </enablement>
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               class="org.eclipse.birt.report.item.crosstab.ui.extension.CrosstabUseCubeQueryList"
               id="Crosstab.CubeQueryList"
               type="org.eclipse.birt.report.designer.internal.ui.extension.IUseCubeQueryList">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="Crosstab">
               </test>
            </enablement>
         </adapter>
      </adaptable>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.birt.report.designer.ui.preferences"
            class="org.eclipse.birt.report.item.crosstab.ui.preference.CrosstabPreferencePage"
            id="org.eclipse.birt.report.item.crosstab.ui.preferencepage"
            name="%preference.crosstabPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.birt.report.item.crosstab.ui.preference.CrosstabPreferencePage"
            id="org.eclipse.birt.report.item.crosstab.ui.preferencepage"
            category="org.eclipse.birt.report.designer.ui.preferences"
            name="%preference.crosstabPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.birt.report.designer.ui.reportprojectnature"/>
		     </adapt>         
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.item.crosstab.internal.ui.editors.model.CrosstabCellAdapter">
         <adapter
               factory="org.eclipse.birt.report.item.crosstab.internal.ui.CrosstabCellMenuAdapterFactory"
               id="org.eclipse.birt.report.item.crosstab.internal.ui.CrosstabCellMenuAdapterFactory"
               singleton="false"
               type="org.eclipse.jface.action.IMenuListener">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.olap.TabularCubeHandle">
         <adapter
               class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.TabularCubeNodeProvider"
               id="Crosstab.CubeHandle.NodeProvider"
               overwrite="CubeHandle.NodeProvider"
               priority="1"
               type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               class="org.eclipse.birt.report.item.crosstab.internal.ui.CrosstabContextExpressionProvider"
               id="Crosstab.ContextExpressionProvider"
               singleton="true"
               type="org.eclipse.birt.report.designer.ui.expressions.IContextExpressionProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="Crosstab">
               </test>
            </enablement>
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               class="org.eclipse.birt.report.item.crosstab.internal.ui.editors.editparts.CrosstabLayoutCheck"
               id="org.eclipse.birt.report.item.crosstab.ui.crosstabcheck"
               type="org.eclipse.birt.report.designer.internal.ui.editors.schematic.editparts.ILayoutCheck">
         </adapter>
      </adaptable>
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               factory="org.eclipse.birt.report.item.crosstab.internal.ui.CrosstabMenuAdapterFactory"
               id="org.eclipse.birt.report.item.crosstab.ui.crossta.menu"
               singleton="false"
               type="org.eclipse.jface.action.IMenuListener">
         </adapter>
      </adaptable>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
		<factory 
			adaptableType="org.eclipse.birt.report.model.api.ExtendedItemHandle"
			class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CorssTabElementDropValidatorFactory">
			<adapter
				type="org.eclipse.birt.report.designer.core.model.IDropValidator">
			</adapter>
		</factory>
	</extension>
</plugin>
