<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.designer.ui.reportItemEditpart">
      <reportItemEditPart
            type="org.eclipse.birt.report.item.crosstab.internal.ui.editors.editparts.CrosstabTableEditPart">
         <enablement>
            <instanceof
                  value="org.eclipse.birt.report.model.api.ExtendedItemHandle">
            </instanceof>
            <test
                  property="ExtendItemHandle.extensionName"
                  value="Crosstab">
            </test>
         </enablement>
         <paletteEntry
               category="Content"
               createCommand="org.eclipse.birt.report.item.crosstab.ui.createCrosstab"
               description="%Crosstab desc"
               icon="icons/pal/crosstab.gif"
               itemName="Crosstab"
               label="Cross Tab"
               largeIcon="icons/pal/crosstab.gif">
         </paletteEntry></reportItemEditPart>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.menuBuilders">
      <menuBuilder
            class="org.eclipse.birt.report.item.crosstab.internal.ui.editors.action.CrosstabMenuBuilder"
            elementName="Crosstab">
      </menuBuilder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.birt.report.item.crosstab.internal.ui.CreateCrosstabHandler"
            id="org.eclipse.birt.report.item.crosstab.ui.createCrosstab"
            name="Create Crosstab">
      </command>
      <command
            defaultHandler="org.eclipse.birt.report.item.crosstab.internal.ui.CreateCubeHandler"
            id="org.eclipse.birt.report.item.crosstab.ui.createCube"
            name="Create Cube">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.birt.report.item.crosstab.ui.createCrosstab"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R C">
      </key>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               class="org.eclipse.birt.report.item.crosstab.ui.views.attributes.CrosstabPageGenerator"
               id="ReportDesign.AttributeView.CrosstabPageGenerator"
               type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="Crosstab">
               </test>
            </enablement>
         </adapter>
      </adaptable>
      
      
     <adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrossTabNodeProvider"
            id="CrossTab.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="Crosstab">
               </test>
            </enablement>
      </adapter>	 
	</adaptable>
	 
     <adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrossTabViewNodeProvider"
            id="CrossTabView.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="CrosstabView">
               </test>
            </enablement>
      </adapter>	 
	</adaptable>
	
	 <adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrosstTabCellNodeProvider"
            id="CrossTabCell.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
				<or>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="CrosstabCell">
               </test>
                <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="AggregationCell">
               </test>
               </or>
            </enablement>
      </adapter>	 
	</adaptable>
	
	<adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrosstTabLevelNodeProvider"
            id="Level.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="LevelView">
               </test>
        </enablement>
      </adapter>	 
	</adaptable>
	
	<adaptable
         class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.CrosstTabMeasureNodeProvider"
            id="Measure.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               <test
                     forcePluginActivation="true"
                     property="ExtendItemHandle.extensionName"
                     value="MeasureView">
               </test>
        </enablement>
      </adapter>	 
	</adaptable>
	
	  <adaptable
         class="org.eclipse.birt.report.model.api.PropertyHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.AreaNodeProvider"
            id="Crosstab.Dimensions.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               	<or>
              	 	<test 
              	 		forcePluginActivation="true" 
              	 		property="PropertyHandle.handleProperty"
                     	value="rows" />
                    <test 
                    	forcePluginActivation="true" 
                    	property="PropertyHandle.handleProperty"
                    	value="columns" />
                     <test 
                    	forcePluginActivation="true" 
                    	property="PropertyHandle.handleProperty"
                    	value="measures" />
               	</or>
        	</enablement>
      </adapter>	 
	</adaptable>
	
	
	<adaptable
         class="org.eclipse.birt.report.model.api.PropertyHandle">
      	<adapter
            class="org.eclipse.birt.report.item.crosstab.internal.ui.views.provider.MeasureSubNodeProvider"
            id="Crosstab.Measure.NodeProvider"
            priority="2"
            type="org.eclipse.birt.report.designer.ui.views.INodeProvider">
            <enablement>
               	<or>
              	 	<test 
              	 		forcePluginActivation="true" 
              	 		property="PropertyHandle.handleProperty"
                     	value="header" />
                    <test 
                    	forcePluginActivation="true" 
                    	property="PropertyHandle.handleProperty"
                    	value="detail" />
                     <test 
                    	forcePluginActivation="true" 
                    	property="PropertyHandle.handleProperty"
                    	value="aggregations" />
               	</or>
        	</enablement>
      </adapter>	 
	</adaptable>
 <adaptable
       class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
    <adapter
          class="org.eclipse.birt.report.item.crosstab.ui.views.attributes.CrosstabCellPageGenerator"
          id="ReportDesign.AttributeView.CrosstabCellPageGenerator"
          type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
       <enablement>
          <test
                forcePluginActivation="true"
                property="ExtendItemHandle.extensionName"
                value="CrosstabCell">
          </test>
       </enablement>
    </adapter>
 </adaptable>
	
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.DNDServices">
      <dragAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.DimensionHandleDragAdapter"
            >
      </dragAdapter>
      <dropAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.DimensionHandleDropAdapter"
            >
      </dropAdapter>
      <dropAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.DataColumnXTabDropAdapter">
      </dropAdapter>
      <dragAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.MeasureHandleDragAdapter">
      </dragAdapter>
      <dropAdapter
            adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.MeasureHandleDropAdapter">
      </dropAdapter>

      <dropAdapter adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.LevelHandleDropAdapter"/>
      <dragAdapter adapter="org.eclipse.birt.report.item.crosstab.internal.ui.dnd.LevelHandleDragAdapter"/>

   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:birtData">
            <command
                  commandId="org.eclipse.birt.report.item.crosstab.ui.createCube"
                  label="New Data Cube"
                  mnemonic="C"
                  style="push">
            </command>
      </menuContribution>
   </extension>
</plugin>
