/*
   Base Style Sheet for the W3C CSS validation service
	based on the one for Markup Validation Service.

   Copyright 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: base.css,v 1.2 2007/01/07 15:22:00 anonymous Exp $
*/

.fullstyle, .table, P.grid{
	/* font */
	font-family : "Bitstream Vera Sans", Tahoma, Verdana, "Myriad Web", Syntax, sans-serif; 
    font-size : 2em;
    font-style :italic; 
    font-variant : small-caps ; 
    font-weight : bold; 
    
    /* text */
    text-align : justify; 
    text-indent : 2em; 
    text-decoration : underline     overline line-through;
    letter-spacing : 1pt; 
    word-spacing : 2pt ; 
    text-transform : uppercase; 
    white-space : pre;  
    
    /* margin */
    margin-top : 1em;  
    margin-right : 1em;  
    margin-bottom : 1em;  
    margin-left : 1em;  
    
    /* padding */
    padding-top : 1em;  
    padding-right : 1em;  
    padding-bottom : 1em;  
    padding-left : 1em;  
    
    /* background */
    color : rgb(  0,  79, 147);
    background-color : black;   
    background-image : url(images/header);  
    background-repeat : no-repeat;  
    background-attachment : scroll;  
    background-position : 50% top;
    background-size : 20% contain;  
    
    /* page media */
    orphans : 1;  
    widows : 3;  
    display : inline;
    page-break-before : always;  
    page-break-after : always;  
    page-break-inside : auto;  
    
    /* visual */ 
    vertical-align : middle;  
    line-height : 120%;  
    
    /* border */ 
    border-bottom-color : #456;      
    border-bottom-style : solid;  
    border-bottom-width : 10px;  
    border-left-color : #456;  
    border-left-style : solid;  
    border-left-width : 10px;  
    border-right-color : #456;  
    border-right-style : solid;  
    border-right-width : 10px;  
    border-top-color : #456;  
    border-top-style : solid;  
    border-top-width : 10px; 
}

.test {
	background-size : contain; 
}

