/*
   Base Style Sheet for the W3C CSS validation service
	based on the one for Markup Validation Service.

   Copyright 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: property_shorthand.css,v 1.2 2007/01/07 15:22:00 anonymous Exp $
*/

.table{
	      
    /* font */
	font :italic small-caps bold 2em/120% "Bitstream Vera Sans", Tahoma, Verdana, "Myriad Web", Syntax, sans-serif; 
        
    /* margin */
    margin: 1em; 
    
    /* padding */
    padding : 1em;
    
    /* background */
    color : rgb(  0,  79, 147);      
    background : black url(images/header) no-repeat scroll 50% top ; 
       
    /* border */ 
    border-bottom : solid #456 10px;
}
