/*
   Base Style Sheet for the W3C CSS validation service
	based on the one for Markup Validation Service.

   Copyright 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: wrong.css,v 1.2 2007/01/07 15:22:00 anonymous Exp $
*/

.fullstyle, .table {
	/* wrong font */
	font : 2em small-caps "Bitstream Vera Sans", Tahoma, Verdana, "Myriad Web", Syntax, sans-serif; 
    
    /* wrong background */
    background-image : u(images/header);
    background-size : test1 test2;      
    
}

.table{
	/* unsupported property */    
    wrongProperty: value;
}

/* unsupported style */
table:link{
}

