/*
   Base Style Sheet for the W3C CSS validation service
	based on the one for Markup Validation Service.

   Copyright 2000 W3C (MIT, INRIA, Keio). All Rights Reserved.
   See http://www.w3.org/Consortium/Legal/ipr-notice.html#Copyright

   $Id: wrong_2.css,v 1.2 2007/01/07 15:22:01 anonymous Exp $
*/

.style, H1&H2 {	 
    font-size : 2em; 
}

.table
{
  font-size : 2em;
}

