<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.birt.chart.engine.devicerenderers">
      <deviceRenderer
            device="org.eclipse.birt.chart.device.swing.SwingRendererImpl"
            name="dv.SWING"/>
      <deviceRenderer
            description="Deprecated, use PNG instead"
            device="org.eclipse.birt.chart.device.image.PngRendererImpl"
            name="dv.PNG24"/>
      <deviceRenderer
            description="Deprecated, use PNG instead"
            device="org.eclipse.birt.chart.device.image.GifRendererImpl"
            name="dv.GIF8"/>
      <deviceRenderer
            device="org.eclipse.birt.chart.device.image.PngRendererImpl"
            name="dv.PNG"
            format="PNG"
            description="Portable Network Graphics"/>
      <deviceRenderer
            description="Deprecated, use PNG instead"
            device="org.eclipse.birt.chart.device.image.GifRendererImpl"
            name="dv.GIF"/>
      <deviceRenderer
            device="org.eclipse.birt.chart.device.image.JpegRendererImpl"
            name="dv.JPEG"/>
      <deviceRenderer
            device="org.eclipse.birt.chart.device.image.JpegRendererImpl"
            name="dv.JPG"
            format="JPG"/>
      <deviceRenderer
            device="org.eclipse.birt.chart.device.image.BmpRendererImpl"
            name="dv.BMP"
            format="BMP"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.displayservers">
      <displayserver
            server="org.eclipse.birt.chart.device.swing.SwingDisplayServer"
            name="ds.SWING"/>
   </extension>
</plugin>
