<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

     <extension
         point="org.eclipse.birt.chart.engine.devicerenderers">
      <deviceRenderer
            device="org.eclipse.birt.chart.device.swing.SwingRendererImpl"
            name="dv.SWING"/>
      <deviceRenderer
            description="Deprecated, use PNG instead"
            device="org.eclipse.birt.chart.device.image.PngRendererImpl"
            name="dv.PNG24"/>
      <deviceRenderer
            description="Deprecated, use PNG instead"
            device="org.eclipse.birt.chart.device.image.GifRendererImpl"
            name="dv.GIF8"/>
      <deviceRenderer
            device="org.eclipse.birt.chart.device.image.PngRendererImpl"
            name="dv.PNG"
            format="PNG"
            description="Portable Network Graphics"/>
      <deviceRenderer
            description="Deprecated, use PNG instead"
            device="org.eclipse.birt.chart.device.image.GifRendererImpl"
            name="dv.GIF"/>
      <deviceRenderer
            device="org.eclipse.birt.chart.device.image.JpegRendererImpl"
            name="dv.JPEG"/>
      <deviceRenderer
            device="org.eclipse.birt.chart.device.image.JpegRendererImpl"
            name="dv.JPG"
            format="JPG"/>
      <deviceRenderer
            device="org.eclipse.birt.chart.device.image.BmpRendererImpl"
            name="dv.BMP"
            format="BMP"/>
   </extension>
   <extension
         point="org.eclipse.birt.chart.engine.displayservers">
      <displayserver
            server="org.eclipse.birt.chart.device.swing.SwingDisplayServer"
            name="ds.SWING"/>
   </extension>
</plugin>
