<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   <extension
         point="org.eclipse.birt.report.designer.ui.editors.multiPageEditorContributor">
      <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.ReportEditor">
      <formPage
            actionBarContributor="org.eclipse.birt.report.designer.internal.ui.editors.DesignerActionBarContributor"
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportLayoutEditorFormPage"
            displayName="%design.layout"
            id="org.eclipse.birt.report.designer.ui.editors.layout"
            visible="true"/>
      <formPage
            actionBarContributor="org.eclipse.birt.report.designer.internal.ui.editors.DesignerActionBarContributor"
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportMasterPageEditorFormPage"
            displayName="%design.masterPage"
            id="org.eclipse.birt.report.designer.ui.editors.masterpage"
            pageAction="org.eclipse.birt.report.designer.ui.editors.schematic.action.MasterPageAction"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.layout"
            visible="true"/>
      <formPage
            actionBarContributor="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportScriptFormPage"
            displayName="%design.script"
            id="org.eclipse.birt.report.designer.ui.editors.script"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.masterpage"
            visible="true"/>
      <formPage
            actionBarContributor="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportXMLSourceEditorFormPage"
            displayName="%design.xmlsource"
            id="org.eclipse.birt.report.designer.ui.editors.xmlsource"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.script"
            visible="true"/>
      </targetEditor>
      <targetEditor targetEditorId="org.eclipse.birt.report.designer.ui.editors.TemplateEditor">
      <formPage
            actionBarContributor="org.eclipse.birt.report.designer.internal.ui.editors.DesignerActionBarContributor"
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportLayoutEditorFormPage"
            displayName="%template.layout"
            id="org.eclipse.birt.report.designer.ui.editors.layout"
            visible="true"/>
      <formPage
            actionBarContributor="org.eclipse.birt.report.designer.internal.ui.editors.DesignerActionBarContributor"
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportMasterPageEditorFormPage"
            displayName="%template.masterPage"
            id="org.eclipse.birt.report.designer.ui.editors.masterpage"
            pageAction="org.eclipse.birt.report.designer.ui.editors.schematic.action.MasterPageAction"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.layout"
            visible="true"/>
      <formPage
            actionBarContributor="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportScriptFormPage"
            displayName="%template.script"
            id="org.eclipse.birt.report.designer.ui.editors.script"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.masterpage"
            visible="true"/>
      <formPage
            actionBarContributor="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.birt.report.designer.ui.editors.pages.ReportXMLSourceEditorFormPage"
            displayName="%template.xmlsource"
            id="org.eclipse.birt.report.designer.ui.editors.xmlsource"
            position="right"
            relative="org.eclipse.birt.report.designer.ui.editors.script"
            visible="true"/>
      </targetEditor>
   </extension>
</plugin>
