/JdbcPluginResources_de_DE.properties
/JdbcPluginResources_es_ES.properties
/JdbcPluginResources_fr_FR.properties
/JdbcPluginResources_ja_JP.properties
/JdbcPluginResources_ko_KR.properties
/JdbcPluginResources_zh_CN.properties
