<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

    	<!-- Chart Library UI Framework Extension Points -->
	<!-- 
		Chart UI Sheets Extension Point. 
   		Use this to register an attribute or data sheet with the Chart Designer UI.
   		To see how this extension point can be used, take a look at the extensions defined in org.eclipse.birt.chart.ui.extension plug-in.
	-->
   <extension-point id="uisheets" name="%extension-point.name" schema="schema/chartui.exsd"/>
	<!-- 
		Chart Types (UI) Extension Point. 
   		Use this to register an implementation of IChartType interface as a chart type with the Chart Designer UI.
   		To see how this extension point can be used, take a look at the extensions defined in org.eclipse.birt.chart.ui.extension plug-in.
	-->
   <extension-point id="types" name="%extension-point.name.0" schema="schema/charttype.exsd"/>
	<!-- 
		Chart UI Change Listener Extension Point. 
   		Use this to register an implementation of the IChangeListener interface as a model change listener with the Chart Designer. This extension is only needed if 
   		you are providing a dynamic attribute or data sheet for use in the UI.
   		To see how this extension point can be used, take a look at the extensions defined in org.eclipse.birt.chart.ui.extension plug-in.
	-->
   <extension-point id="changelisteners" name="%extension-point.name.1" schema="schema/changelistener.exsd"/>
   <extension-point id="seriescomposites" name="%extension-point.name.2" schema="schema/seriescomposites.exsd"/>
</plugin>
