<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.ReportEditorProxy"
            contributorClass="org.eclipse.birt.report.designer.ui.editors.ReportActionBarContributor"
            default="true"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/report.gif"
            id="org.eclipse.birt.report.designer.ui.editors.ReportEditor"
            name="%ReportEditor">
         <contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportdesign"/>
      </editor>
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.IDEReportDocumentEditor"
            contributorClass="org.eclipse.birt.report.designer.ui.editors.ReportDocumentActionContributor"
            default="false"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/document.gif"
            id="org.eclipse.birt.report.designer.ui.editors.IDEReportDocumentEditor"
            name="%ReportDocumentEditor">
         <contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportdocument"/>
      </editor>
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.ReportEditorProxy"
            contributorClass="org.eclipse.birt.report.designer.ui.editors.TemplateActionBarContributor"
            default="true"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/template.gif"
            id="org.eclipse.birt.report.designer.ui.editors.TemplateEditor"
            name="%TemplateEditor">
         <contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reporttemplate"/>
      </editor>
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.ReportEditorProxy"
            contributorClass="org.eclipse.birt.report.designer.ui.editors.LibraryActionBarContributor"
            default="true"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/library.gif"
            id="org.eclipse.birt.report.designer.ui.editors.LibraryEditor"
            name="%LibraryEditor">
         <contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportlibrary"/>
      </editor>  
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/report_perspective.gif"
            class="org.eclipse.birt.report.designer.ui.ReportPerspective"
            name="%ReportPerspective"
            id="org.eclipse.birt.report.designer.ui.ReportPerspective"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="org.eclipse.birt.report.designer.ui.ReportPerspective"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportWizard"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewTemplateWizard"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut id="org.eclipse.birt.report.designer.ui.ReportPerspective"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportWizard"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewTemplateWizard"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="org.eclipse.birt.report.designer.ui.ReportPerspective"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportWizard"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewTemplateWizard"/>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%WizardCategoryName"
            id="org.eclipse.birt.report.designer.ui.wizard.category"/>
      <wizard
            finalPerspective="org.eclipse.birt.report.designer.ui.ReportPerspective"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_report.gif"
            class="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportWizard"
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            project="false"
            name="%ReportWizard"
            id="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportWizard">
      <description>%ReportWizardDescription</description>
      </wizard>
      
      <wizard
            finalPerspective="org.eclipse.birt.report.designer.ui.ReportPerspective"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_template.gif"
            class="org.eclipse.birt.report.designer.ui.ide.wizards.NewTemplateWizard"
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            project="false"
            name="%TemplateWizard"
            id="org.eclipse.birt.report.designer.ui.ide.wizards.NewTemplateWizard">
      <description>%TemplateWizardDescription</description>
      </wizard>
      
      <wizard
            finalPerspective="org.eclipse.birt.report.designer.ui.ReportPerspective"
            class="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportProjectWizard"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_report_project.gif"
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            project="true"
            name="%ReportProjectWizard"
            id="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportProjectWizard">
      <description>%ReportProjectWizardDescription</description>
      </wizard>
      <wizard
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            class="org.eclipse.birt.report.designer.ui.ide.wizards.NewLibraryWizard"
            finalPerspective="org.eclipse.birt.report.designer.ui.ReportPerspective"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_library.gif"
            id="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"
            name="%LibraryWizard"
            project="false">
         <description>
            %LibraryWizardDescription
         </description>
      </wizard>
      <wizard
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            class="org.eclipse.pde.internal.ui.wizards.plugin.NewPluginProjectWizard"
            icon="platform:/plugin/org.eclipse.datatools.connectivity.oda.template.ui/icons/newoda_wiz.gif"
            id="oda.plugin.NewRuntimePluginProjectWizard"
            name="%OdaRuntimeWizard"
            project="true">
         <description>
            %OdaRuntimeWizardDesc
         </description>
      </wizard>
      <wizard
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            class="org.eclipse.pde.internal.ui.wizards.plugin.NewPluginProjectWizard"
            icon="platform:/plugin/org.eclipse.datatools.connectivity.oda.template.ui/icons/newodaui_wiz.gif"
            id="oda.plugin.NewDesignerPluginProjectWizard"
            name="%OdaDesignerWizard"
            project="true">
         <description>
            %OdaDesignerWizardDesc
         </description>
      </wizard>
      
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"
            class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.NewLibraryWizardAdapterFactory">
         <adapter type="org.eclipse.birt.report.designer.ui.wizards.INewLibraryCreationPage"/>
      </factory>
      <factory
            adaptableType="org.eclipse.ui.IEditorPart"
            class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.SaveAsWizardDialogAdapterFactory">
         <adapter type="org.eclipse.jface.wizard.WizardDialog"/>
      </factory>
      <factory
            adaptableType="org.eclipse.ui.IEditorPart"
            class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.LibraryProviderAdapterFactory">
         <adapter type="org.eclipse.birt.report.designer.internal.ui.views.ILibraryProvider"/>
      </factory>
       <factory
	        adaptableType="org.eclipse.birt.report.designer.ui.views.IPageGenerator"
	        class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.CategoryProviderFactoryAdapterFactory">
	   	 <adapter type="org.eclipse.birt.report.designer.ui.views.attributes.providers.ICategoryProviderFactory"/>
	   </factory>
       <factory
             adaptableType="org.eclipse.birt.report.designer.ui.lib.explorer.LibraryExplorerViewPage"
             class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.PathEditorInputFactory">
          <adapter
                type="org.eclipse.birt.report.designer.ui.editors.IPathEditorInputFactory">
          </adapter>
       </factory>
      <factory
            adaptableType="org.eclipse.birt.report.designer.internal.ui.views.outline.DesignerOutlinePage"
            class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.PathEditorInputFactory">
         <adapter
               type="org.eclipse.birt.report.designer.ui.editors.IPathEditorInputFactory">
         </adapter>
      </factory>
       <factory
             adaptableType="org.eclipse.birt.report.model.api.SlotHandle"
             class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.IDEModelResourceAdapterFactory">
          <adapter
                type="org.eclipse.core.resources.IResource">
          </adapter>
       </factory>
   </extension>
	
	<extension
      point="org.eclipse.birt.report.designer.ui.elementAdapters">
   		<adaptable
         	class="org.eclipse.core.runtime.Plugin">
      		<adapter
            	factory="org.eclipse.birt.report.designer.internal.ui.ide.adapters.PreferencesAdapterFactory"
            	id="ReportDesign.IDEPreferenceFactory"
            	priority="3"
            	singleton="false"
            	type="org.eclipse.birt.report.designer.ui.preferences.IReportPreferenceFactory">
      		</adapter>
   		</adaptable>
   		<adaptable
         	class="org.eclipse.ui.IEditorInput">
      		<adapter
            	factory="org.eclipse.birt.report.designer.internal.ui.ide.adapters.ProjectAdapterFactory"
            	id="ReportDesign.IDEProject"
            	priority="3"
            	singleton="false"
            	type="org.eclipse.core.resources.IProject">
      		</adapter>
   		</adaptable>
     <adaptable
           class="org.eclipse.birt.report.designer.ui.preferences.ResourceConfigurationBlock">
        <adapter
              class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.ResourcePageHelperProvider"
              id="org.eclipse.birt.report.designer.ui.ide.ResourceConfigurationBlock"
              priority="3"
              singleton="true"
              type="org.eclipse.birt.report.designer.internal.ui.dialogs.helper.IDialogHelperProvider">
        </adapter>
     </adaptable>
     <adaptable
           class="org.eclipse.birt.report.designer.ui.preferences.ClassPathPreferencesPage">
        <adapter
              class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.IDEIClassPathHelperProvider"
              id="org.eclipse.birt.report.designer.ui.ide.classpath"
              priority="3"
              singleton="true"
              type="org.eclipse.birt.report.designer.internal.ui.preferences.IClassPathHelperProvider">
        </adapter>
     </adaptable>
     <adaptable
           class="org.eclipse.ui.IEditorInput">
        <adapter
              class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.IDEEditputProvider"
              id="org.eclipse.birt.report.designer.ui.ide.editinput"
              type="org.eclipse.birt.report.designer.internal.ui.extension.IEditputProvider">
        </adapter>
     </adaptable>
     <adaptable
           class="org.eclipse.birt.report.designer.ui.lib.explorer.action.RenameResourceAction">
        <adapter
              class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.ResourceViewRenameChecker"
              id="org.eclipse.birt.report.designer.internal.ui.ide.adapters.ResourceViewRenameChecker"
              type="org.eclipse.birt.report.designer.ui.lib.explorer.action.IRenameChecker">
        </adapter>
     </adaptable>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard type="new" wizardId="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportWizard">
         <enablement>
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.birt.report.designer.ui.reportprojectnature"/>
            </adapt>
         </enablement>
      </commonWizard>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command commandId="org.eclipse.birt.report.designer.ui.ide.publishTemplate.command" label="%Action.Publish">
            <visibleWhen>
               <with variable="selection">
                  <count value="1"/>

                     <adapt type="org.eclipse.core.resources.IResource">
                        <or>
                           <test property="org.eclipse.core.resources.extension" value="rpttemplate" />
                           <test property="org.eclipse.core.resources.extension" value="rptdesign" />
                        </or>
                     </adapt>

               </with>
            </visibleWhen>
         </command>
         <command commandId="org.eclipse.birt.report.designer.ui.ide.publishLibrary.command" label="%Action.PublishLibrary">
            <visibleWhen>
               <with variable="selection">
                  <count value="1"/>
                  <iterate operator="or" ifEmpty="false">
                     <adapt type="org.eclipse.core.resources.IResource">
                        <test property="org.eclipse.core.resources.extension" value="rptlibrary" />
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>

      <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu id="org.eclipse.birt.report.designer.ui.ide.reportMenu" label="%Menu.Report"/>
      </menuContribution>

      <menuContribution locationURI="popup:org.eclipse.birt.report.designer.ui.ide.reportMenu">
         <command commandId="org.eclipse.birt.report.designer.ui.ide.addReportNature.command"
               label="%Action.AddReportNature"
               style="push">

            <visibleWhen>
               <with variable="selection">
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IProject">
                        <and>
                           <not>
                              <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.birt.report.designer.ui.reportprojectnature"/>
                           </not>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <file-association
          content-type="org.eclipse.birt.report.designer.ui.editors.reportdesign"
          file-extensions="rptdesign"/>
     <file-association
          content-type="org.eclipse.birt.report.designer.ui.editors.reportdocument"
          file-extensions="rptdocument"/>
    <file-association
          content-type="org.eclipse.birt.report.designer.ui.editors.reporttemplate"
          file-extensions="rpttemplate"/>
    <file-association
          content-type="org.eclipse.birt.report.designer.ui.editors.reportlibrary"
          file-extensions="rptlibrary"/>
 </extension>
 <extension
       id="birtproblemmarker"
       name="%birtproblemName"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
 </extension>
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preference.expressionsyntaxcolor"
            category="org.eclipse.birt.report.designer.ui.preferences.ExpressionBuilderPreferencePage"
            class="org.eclipse.birt.report.designer.ui.ide.preferences.ExpressionSyntaxColoringPage"
            id="org.eclipse.birt.report.designer.ui.preferences.ExpressionSyntaxColoringPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command id="org.eclipse.birt.report.designer.ui.ide.publishTemplate.command" name="%Action.Publish"/>
      <command id="org.eclipse.birt.report.designer.ui.ide.publishLibrary.command" name="%Action.PublishLibrary"/>
      <command id="org.eclipse.birt.report.designer.ui.ide.addReportNature.command" name="%Action.AddReportNature"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler commandId="org.eclipse.birt.report.designer.ui.ide.publishTemplate.command" class="org.eclipse.birt.report.designer.ui.ide.explorer.PublishTemplateExplorerHandler"/>
      <handler commandId="org.eclipse.birt.report.designer.ui.ide.publishLibrary.command" class="org.eclipse.birt.report.designer.ui.ide.explorer.PublishLibraryExplorerHandler"/>
      <handler commandId="org.eclipse.birt.report.designer.ui.ide.addReportNature.command" class="org.eclipse.birt.report.designer.ui.ide.explorer.SetupReportProjectHandler"/>
   </extension>

 </plugin>
