<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.ReportEditorProxy"
            contributorClass="org.eclipse.birt.report.designer.ui.editors.ReportActionBarContributor"
            default="false"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/report.gif"
            id="org.eclipse.birt.report.designer.ui.editors.ReportEditor"
            name="%ReportEditor">
         <contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportdesign"/>
      </editor>
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.ReportEditorProxy"
            contributorClass="org.eclipse.birt.report.designer.ui.editors.TemplateActionBarContributor"
            default="false"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/template.gif"
            id="org.eclipse.birt.report.designer.ui.editors.TemplateEditor"
            name="%TemplateEditor">
         <contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reporttemplate"/>
      </editor>
      <editor
            class="org.eclipse.birt.report.designer.ui.editors.ReportEditorProxy"
            contributorClass="org.eclipse.birt.report.designer.ui.editors.LibraryActionBarContributor"
            default="false"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/library.gif"
            id="org.eclipse.birt.report.designer.ui.editors.LibraryEditor"
            name="%LibraryEditor">
         <contentTypeBinding contentTypeId="org.eclipse.birt.report.designer.ui.editors.reportlibrary"/>
      </editor>  
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/eview16/report_perspective.gif"
            class="org.eclipse.birt.report.designer.ui.ReportPerspective"
            name="%ReportPerspective"
            id="org.eclipse.birt.report.designer.ui.ReportPerspective"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="org.eclipse.birt.report.designer.ui.ReportPerspective"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportWizard"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewTemplateWizard"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut id="org.eclipse.birt.report.designer.ui.ReportPerspective"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportWizard"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewTemplateWizard"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="org.eclipse.birt.report.designer.ui.ReportPerspective"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportWizard"/>
         <newWizardShortcut id="org.eclipse.birt.report.designer.ui.ide.wizards.NewTemplateWizard"/>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%WizardCategoryName"
            id="org.eclipse.birt.report.designer.ui.wizard.category"/>
      <wizard
            finalPerspective="org.eclipse.birt.report.designer.ui.ReportPerspective"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_report.gif"
            class="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportWizard"
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            project="false"
            name="%ReportWizard"
            id="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportWizard">
      <description>%ReportWizardDescription</description>
      </wizard>
      
      <wizard
            finalPerspective="org.eclipse.birt.report.designer.ui.ReportPerspective"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_template.gif"
            class="org.eclipse.birt.report.designer.ui.ide.wizards.NewTemplateWizard"
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            project="false"
            name="%TemplateWizard"
            id="org.eclipse.birt.report.designer.ui.ide.wizards.NewTemplateWizard">
      <description>%TemplateWizardDescription</description>
      </wizard>
      
      <wizard
            finalPerspective="org.eclipse.birt.report.designer.ui.ReportPerspective"
            class="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportProjectWizard"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_report_project.gif"
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            project="true"
            name="%ReportProjectWizard"
            id="org.eclipse.birt.report.designer.ui.ide.wizards.NewReportProjectWizard">
      <description>%ReportProjectWizardDescription</description>
      </wizard>
      <wizard
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            class="org.eclipse.birt.report.designer.ui.ide.wizards.NewLibraryWizard"
            finalPerspective="org.eclipse.birt.report.designer.ui.ReportPerspective"
            icon="platform:/plugin/org.eclipse.birt.report.designer.ui/icons/obj16/new_library.gif"
            id="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"
            name="%LibraryWizard"
            project="false">
         <description>
            %LibraryWizardDescription
         </description>
      </wizard>
      <wizard
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            class="org.eclipse.pde.internal.ui.wizards.plugin.NewPluginProjectWizard"
            icon="platform:/plugin/org.eclipse.datatools.connectivity.oda.template.ui/icons/newoda_wiz.gif"
            id="oda.plugin.NewRuntimePluginProjectWizard"
            name="%OdaRuntimeWizard"
            project="true">
         <description>
            %OdaRuntimeWizardDesc
         </description>
      </wizard>
      <wizard
            category="org.eclipse.birt.report.designer.ui.wizard.category"
            class="org.eclipse.pde.internal.ui.wizards.plugin.NewPluginProjectWizard"
            icon="platform:/plugin/org.eclipse.datatools.connectivity.oda.template.ui/icons/newodaui_wiz.gif"
            id="oda.plugin.NewDesignerPluginProjectWizard"
            name="%OdaDesignerWizard"
            project="true">
         <description>
            %OdaDesignerWizardDesc
         </description>
      </wizard>
      
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.birt.report.designer.ui.wizards.NewLibraryWizard"
            class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.NewLibraryWizardAdapterFactory">
         <adapter type="org.eclipse.birt.report.designer.ui.wizards.INewLibraryCreationPage"/>
      </factory>
      <factory
            adaptableType="org.eclipse.ui.IEditorPart"
            class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.SaveAsWizardDialogAdapterFactory">
         <adapter type="org.eclipse.jface.wizard.WizardDialog"/>
      </factory>
      <factory
            adaptableType="org.eclipse.ui.IEditorPart"
            class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.LibraryProviderAdapterFactory">
         <adapter type="org.eclipse.birt.report.designer.internal.ui.views.ILibraryProvider"/>
      </factory>
       <factory
	        adaptableType="org.eclipse.birt.report.designer.ui.views.attributes.IPageGenerator"
	        class="org.eclipse.birt.report.designer.internal.ui.ide.adapters.CategoryProviderFactoryAdapterFactory">
	   	 <adapter type="org.eclipse.birt.report.designer.ui.views.attributes.providers.ICategoryProviderFactory"/>
	   </factory>
   </extension>
	
   <extension
	        point="org.eclipse.ui.activities">
	     <activity
	         description="%org.eclipse.birt.activity.description"
	         id="org.eclipse.birt.activity"
	         name="Report Desgin"/>
	     <category
	         description="%org.eclipse.birt.category.description"
	         id="org.eclipse.birt.category"
	         name="BIRT"/>
	     <categoryActivityBinding
	         activityId="org.eclipse.birt.activity"
	         categoryId="org.eclipse.birt.category"/>
	     <activityPatternBinding
	         activityId="org.eclipse.birt.activity"
	         pattern="org\.eclipse\.birt\..*/.*"/>
	     <defaultEnablement id="org.eclipse.birt.activity"/>
	</extension>
	 
	<extension point="org.eclipse.ui.popupMenus"> 
	    <viewerContribution
	         id="org.eclipse.birt.report.designer.ui.ide.report.publishTemplate"
	         targetID="org.eclipse.ui.views.ResourceNavigator">
	      <action
	            class="org.eclipse.birt.report.designer.ui.ide.navigator.PublishTemplateNavigatorAction"
	            enablesFor="1"
	            id="org.eclipse.birt.report.designer.ui.ide.navigator.publishTemplate"
	            label="%Action.Publish"
	            menubarPath="additions-end"/>
	      <visibility>
	         <and>
	            <objectClass name="org.eclipse.core.resources.IFile"/>
             <or>
                <objectState
                      name="extension"
                      value="rpttemplate"/>
                <objectState
                      name="extension"
                      value="rptdesign"/>
             </or>
	         </and>
	      </visibility>
	   </viewerContribution>
     <viewerContribution
           id="org.eclipse.birt.report.designer.ui.ide.report.publishLibrary"
           targetID="org.eclipse.ui.views.ResourceNavigator">
        <action
              class="org.eclipse.birt.report.designer.ui.ide.navigator.PublishLibraryNavigatorAction"
              enablesFor="1"
              id="org.eclipse.birt.report.designer.ui.ide.navigator.publishLibrary"
              label="%Action.PublishLibrary"
              menubarPath="additions-end"/>
        <visibility>
           <and>
              <objectClass name="org.eclipse.core.resources.IFile"/>
              <objectState
                    name="extension"
                    value="rptlibrary"/>
           </and>
        </visibility>
     </viewerContribution> 	 
	</extension>
 <extension
       point="org.eclipse.core.runtime.contentTypes">
    <file-association
          content-type="org.eclipse.birt.report.designer.ui.editors.reportdesign"
          file-extensions="rptdesign"/>
    <file-association
          content-type="org.eclipse.birt.report.designer.ui.editors.reporttemplate"
          file-extensions="rpttemplate"/>
    <file-association
          content-type="org.eclipse.birt.report.designer.ui.editors.reportlibrary"
          file-extensions="rptlibrary"/>
 </extension>	 

</plugin>
