<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   <extension-point id="tasks" name="%extension-point.name" schema="schema/tasks.exsd"/>
   <extension-point id="taskWizards" name="%extension-point.name.0" schema="schema/taskWizards.exsd"/>
    <extension point="org.eclipse.ui.views">
      <category 
           id = "org.eclipse.birt.core.ui.category"
           name = "%ReportAndChartDesign">
      </category>
   </extension>
    <extension
          id="birt_all_in_one"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="BIRT Report Designer All-In-One">
          <property
                name="windowImages"
                value="images/p16.png,images/p32.png,images/p48.png,images/p64.png,images/p128.png,images/p256.png">
          </property>
          <property
                name="aboutText"
                value="Business Intelligence Reporting Tool&#x0A;&#x0A;With BIRT you can create data visualizations, dashboards and reports&#x0A;that can be embedded into web applications and rich clients.">
          </property>
          <property
                name="aboutImage"
                value="images/about.png">
          </property>
          <property
                name="appName"
                value="BIRT Report Designer All-In-One">
          </property>
       </product>
    </extension>
</plugin>
