<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
 *******************************************************************************
 * Copyright (c) 2021 Contributors to the Eclipse Foundation
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * https://www.eclipse.org/legal/epl-2.0/.
 * 
 * SPDX-License-Identifier: EPL-2.0
 * 
 * Contributors:
 *   See git history
 *******************************************************************************
-->
<plugin>
   <extension-point id="tasks" name="Task to be used in a Task-oriented Wizard" schema="schema/tasks.exsd"/>
   <extension-point id="taskWizards" name="A Task-oriented Wizard" schema="schema/taskWizards.exsd"/>
    <extension point="org.eclipse.ui.views">
      <category 
           id = "org.eclipse.birt.core.ui.category"
           name = "%ReportAndChartDesign">
      </category>
   </extension>
</plugin>
