###############################################################################
# Copyright (c) 2021 ArSysOp and others
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# https://www.eclipse.org/legal/epl-2.0/.
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#     Alexander Fedorov (ArSysOp) - initial API and implementation
###############################################################################

name: CI
on:
  push:
    branches:
      - master
  pull_request:
  pull_request_review_comment:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Clean up disk space
      run: sudo rm -rf "/opt/ghc" && sudo rm -rf "/usr/local/share/boost" && sudo rm -rf $AGENT_TOOLSDIRECTORY
    - name: Checkout
      uses: actions/checkout@v1
    - name: Set up OpenJDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
    - name: Set up Maven
      uses: stCarolas/setup-maven@v4.5
      with:
        maven-version: 3.9.5
    - name: Set up Maven 2
      run: echo "MAVEN_OPTS='-Xmx4096m'" > ~/.mavenrc
    - name: Build with Maven
      run: mvn clean verify --no-transfer-progress -U -DskipTests=false
#    - name: Data Test
#      run: mvn -B -pl :org.eclipse.birt.data.tests integration-test
#    - name: Model Test
#      run: mvn -Dtest=AllTests -B -pl :org.eclipse.birt.report.model.tests integration-test
#    - name: Model Regression Test
#      run: mvn -Dtest=AllTests -B -pl :org.eclipse.birt.report.tests.model integration-test
#    - name: Report Engine Test
#      run: mvn -Dtest=AllTests -B -pl :org.eclipse.birt.report.engine.tests integration-test
#    - name: Charts Core Test
#      run: mvn -Dtest=AllTests -B -pl :org.eclipse.birt.chart.tests integration-test
#    - name: Charts Regression Test
#      run: mvn -Dtest=AllTests -B -pl :org.eclipse.birt.report.tests.chart integration-test
#    - name: Engine Regression Test
#      run: mvn -Dtest=AllTests -B -pl :org.eclipse.birt.report.tests.engine integration-test
##    - name: Test Core
#      run: mvn -B -pl :org.eclipse.birt.core.tests integration-test

#    - name: Archive BIRT Update Site
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-site
#        path: build/org.eclipse.birt.p2updatesite/target/org.eclipse.birt.p2updatesite*.zip
#    - name: Archive BIRT charts
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-charts
#        path: build/birt-packages/birt-charts/target/birt-charts-*.zip
#    - name: Archive BIRT RCP Report Win
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-rcp-report-designer-win
#        path: build/birt-packages/birt-report-rcp/target/products/birt-rcp-report-designer-*win*.zip
#        
#    - name: Archive BIRT RCP Report Linux
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-rcp-report-designer-linux
#        path: build/birt-packages/birt-report-rcp/target/products/birt-rcp-report-designer-*linux*.tar.gz
#        
#    - name: Archive BIRT RCP Report Mac Arm
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-rcp-report-designer-mac-arm
#        path: build/birt-packages/birt-report-rcp/target/products/birt-rcp-report-designer-*aarch*.tar.gz
#
#    - name: Archive BIRT RCP Report Mac Intel
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-rcp-report-designer-mac
#        path: build/birt-packages/birt-report-rcp/target/products/birt-rcp-report-designer-*cocoa.x86*.tar.gz
#        
#    - name: Archive BIRT Report Designer all-in-one-win
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-report-designer-all-in-one-win
#        path: build/birt-packages/birt-report-all-in-one/target/products/birt-report-designer-all-in-one-*win*.zip 
#    - name: Archive BIRT Report Designer all-in-one-linux
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-report-designer-all-in-one-linux
#        path: build/birt-packages/birt-report-all-in-one/target/products/birt-report-designer-all-in-one-*linux*.tar.gz
#    - name: Archive BIRT Report Designer all-in-one-mac-intel
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-report-designer-all-in-one-mac-intel
#        path: build/birt-packages/birt-report-all-in-one/target/products/birt-report-designer-all-in-one-*macosx.cocoa.x86_*.tar.gz
#    - name: Archive BIRT Report Designer all-in-one-mac-silicon
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-report-designer-all-in-one-mac-silicon
#        path: build/birt-packages/birt-report-all-in-one/target/products/birt-report-designer-all-in-one-*macosx.cocoa.aarch64*.tar.gz     
#    - name: Archive BIRT Report Framework
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-report-framework
#        path: build/birt-packages/birt-report-framework/target/birt-report-framework-*.zip
#    - name: Archive BIRT Report Framework SDK
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-report-framework-sdk
#        path: build/birt-packages/birt-report-framework-sdk/target/birt-report-framework-sdk-*.zip
#    - name: Archive BIRT Runtime
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-runtime
#        path: build/birt-packages/birt-runtime/target/birt-runtime-*.zip
#    - name: Archive BIRT Runtime OSGI
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-runtime-osgi
#        path: build/birt-packages/birt-runtime-osgi/target/birt-runtime-osgi-*.zip
#    - name: Archive BIRT Sample Plugins
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-sample-plugins
#        path: build/birt-packages/birt-sample-plugins/target/birt-sample-plugins-*.zip
#    - name: Archive BIRT Sources
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-source
#        path: build/birt-packages/birt-source/target/birt-source-*.zip
#    - name: Archive BIRT Tests Suite
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-tests-suite
#        path: build/birt-packages/birt-tests-suite/target/birt-tests-suite-*.zip
#    - name: Archive BIRT WTP Integration SDK
#      uses: actions/upload-artifact@v4
#      with: 
#        name: birt-wtp-integration-sdk
#        path: build/birt-packages/birt-wtp-integration-sdk/target/birt-wtp-integration-sdk-*.zip