###############################################################################
# Copyright (c) 2021 ArSysOp and others
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# https://www.eclipse.org/legal/epl-2.0/.
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#     Alexander Fedorov (ArSysOp) - initial API and implementation
###############################################################################

name: CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Setup Maven
      run: echo "MAVEN_OPTS='-Xmx2048m'" > ~/.mavenrc
    - name: Cache maven repo
      uses: actions/cache@v2
      env:
        cache-name: cache-maven-repo
      with:
        path: |
          ~/.m2/repository
          !~/.m2/repository/org/eclipse/birt
          !~/.m2/repository/.cache/tycho
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.sha1') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Build with Maven
      run: mvn clean install --no-transfer-progress -U -DskipTests
    - name: Model Test
      run: mvn -Dtest=AllTests -B -pl :org.eclipse.birt.report.model.tests integration-test
    - name: Model Regression Test
      run: mvn -Dtest=AllTests -B -pl :org.eclipse.birt.report.tests.model integration-test
    - name: Charts Core Test
      run: mvn -B -pl :org.eclipse.birt.report.chart.tests integration-test
    - name: Charts Regression Test
      run: mvn -Dtest=AllTests -B -pl :org.eclipse.birt.report.tests.chart integration-test
    - name: Engine Regression Test
      run: mvn -Dtest=AllTests -B -pl :org.eclipse.birt.report.tests.engine integration-test
#    - name: Test Core
#      run: mvn -B -pl :org.eclipse.birt.core.tests integration-test
        
