###############################################################################
# Copyright (c) 2021 ArSysOp and others
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# https://www.eclipse.org/legal/epl-2.0/.
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#     Alexander Fedorov (ArSysOp) - initial API and implementation
###############################################################################

name: CI
on:
  push:
    branches:
      - master
  pull_request:
  pull_request_review_comment:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Clean up disk space
      run: sudo rm -rf "/opt/ghc" && sudo rm -rf "/usr/local/share/boost" && sudo rm -rf $AGENT_TOOLSDIRECTORY
    - name: Checkout
      uses: actions/checkout@v1
    - name: Set up OpenJDK 21 
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
    - name: Set up Maven
      uses: stCarolas/setup-maven@v4.5
      with:
        maven-version: 3.9.11
    - name: Set up Maven 2
      run: echo "MAVEN_OPTS='-Xmx4096m'" > ~/.mavenrc
    - name: Build with Maven
      run: mvn clean verify --no-transfer-progress -U -DskipTests=false
      
